{% extends 'root_email_template_new.html' %}

{% block heading %}
Hello {{ user }}
{% endblock heading %}


{% block content_body %}
You have been invited to the following event {{event_name}} created by {{event_created_by}}
{% endblock content_body %}

{% block extra_content %}
<h3>
    When : {{event_date_of_meeting}}
</h3>

{% if other_members %}
<h3>
    Who : {{other_members}}
</h3>
{% endif %}

{% endblock extra_content %}


{% block button_link %}
<div style="margin-bottom:20px">
    <a href="{{url}}"
        style="display:inline-block;width:170px;background:#38abdd;padding:10px;text-align:center;color:#fff;font-size:1rem;font-weight:600;margin:0px auto;margin-bottom:20px;border-radius:5px;text-decoration:none;display:block">Click
        Here</a>
</div>
{% endblock button_link %}