{% extends 'base.html' %}
{% load staticfiles %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
  <li class="breadcrumb-item"> <a  href="{% url 'contacts:list' %}">Contacts</a></li>
  <li class="breadcrumb-item active">view</li>
</ol>
</nav>
{%endblock%}
{%block content%}
<!-- CONTACTS VIEW STARTS -->
  <div class="main_container" id="maincontainer">
    <div class="overview_form_block row marl justify-content-center">
      <div class="col-md-8">
        <div class="card">
          
          <div class="card-body" id="datashow">

           <div class="card-title">
            <h5>
              Overview
              <span class="float-right" style="margin-top: 0px">
                <div class="dropdown buttons_row">
                  <button class="btn btn-primary dropdown-toggle save" type="button" data-toggle="dropdown">Actions
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'contacts:edit_contact' contact_record.id %}">Edit</a></li>
                    <li class="delete_contact" ><a href="{% url 'contacts:remove_contact' contact_record.id %}" id="remove_contact">REMOVE</a></li>
                  </ul>
                </div>
              </span>
            </h5>
          </div>

            <div class="row marl">
              <div class="col-md-6">
                <div class="filter_col col-md-12" id="iname">
                  <div class="form-group" >
                    <label class="contact_field_label" for="id_name" data-name="name">Name</label>
                    <div class="contact_field" id="contact_name" data-name="name">{{ contact_record.first_name }} {{ contact_record.last_name }}</div>
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="contact_field_label" for="id_contact_account" data-name="name">Account</label>
                    <div class="contact_field" id ="contact_account" data-name="name">{{ contact_record.account }}</div>
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="contact_field_label" for="id_phone" data-name="name">Phone</label>
                    <div class="contact_field" id="contact_phone" data-name="name">{{ contact_record.phone }}</div>
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="contact_field_label" for="id_email" data-name="name">Email</label>
                    <div class="contact_field" id="contact_email" data-name="name">{{ contact_record.email }}</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    {% if contact_record.address.address_line or contact_record.address.street or contact_record.address.city or  contact_record.address.state or contact_record.address.postcode or contact_record.address.country %}
                    <label class="contact_field_label" for="id_address" data-name="name" >Billing Address</label>
                    <div class="contact_field" id="contact_address" data-name="name">
                      {% if contact_record.address.address_line %}
                        Address Line:{{contact_record.address.address_line}}</br>
                      {% endif %}
                      {% if contact_record.address.street %}
                        Street:{{ contact_record.address.street }}</br>
                      {% endif %}
                      {% if contact_record.address.city %}
                        City: {{ contact_record.address.city }}</br>
                      {% endif %}
                      {% if contact_record.address.state %}
                        State:{{ contact_record.address.state }}</br>
                      {% endif %}
                      {% if contact_record.address.postcode %}
                        Post Code:{{ contact_record.address.postcode }}</br>
                      {% endif %}
                      {% if contact_record.address.country %}
                        Country: {{ contact_record.address.get_country_display }}
                      {% endif %}
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    {% if contact_record.description %}
                    <label class="contact_field_label" for="id_description" data-name="name">Description</label>
                    <div class="contact_field" id="contact_description" data-name="name">{{ contact_record.description }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="created_information">
                  Created by <b>{{ contact_record.created_by }}</b> created on <i><b>{{ contact_record.created_on }}</b></i> 
                </div>
              </div>
            </div>
          </div>
          <!-- Comments Section starts-->
         
          <div class="card-body" id="datashow">
           <div class="card-title view-pad">
            <h5>Comments</h5>
          </div>
            <div class="row marl">
              <div class="col-md-12">
                <form id="comment_form" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                    <textarea class="form-control" textarea cols="40" rows="3" id="id_comments" name="comment" placeholder="Submit Your Comments Here"></textarea><div><i id="CommentError" style="display:none; color:red"></i></div>
                    </br>
                    <div class="buttons_row">
                    <button class="btn btn-default save" style="text-align: center;" id="comment_submit" type="submit">Submit</button>
                    </div>
                  </div>
                  <input type="hidden" value="{{contact_record.id}}" name="contactid">
                </form>
                <ul class="list-group" id="comments_div">
                  {% for comment in comments %}
                  <li class="list-group-item list-row" id="comment{{comment.id}}">
                    <div class="float-right right-container">
                      <div class="list-row-buttons btn-group float-right">
                        <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" type="button"><span class="caret"></span></button>
                        <ul class="dropdown-menu text-center">
                          <li>
                            <a class="action" onclick="edit_comment({{comment.id}})">Edit</a>
                          </li>
                          <li>
                            <a class="action" onclick="remove_comment({{comment.id}})">Remove</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="stream-post-container" id="comment_name{{comment.id}}"><pre>{{ comment.comment }}</pre></div>
                    <div class="stream-container">
                      <pre class="float-left">{{ comment.commented_by }}</pre>
                      <pre class="float-right">{{ comment.commented_on }}</pre>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="modal fade" id="Comments_Contacts_Modal" role="dialog" data-keyboard="false" data-backdrop="static">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Update Your Comment</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                  </div>
                  <form id="comment_edit_form" method="POST" >
                    <div class="modal-body">
                      <div class="form-group">
                        <textarea class="form-control" textarea cols="40" rows="3" id="id_editcomment" name="comment" placeholder="Submit Your Comments"></textarea>
                        <input type="hidden" value="{{ contact.id }}" name="contactid">
                        <input type="hidden" value="" name="commentid" id="commentid">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-default save" id="comment_edit" type="submit">Update</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Comments Section Ends-->
        </div>
      </div>
   
    </div>
  </div>
<!-- CONTACTS VIEW ENDS -->
{% endblock%}
{% block js_block %}
  <script type="text/javascript">
$("#comment_form").submit(function (e) {
  e.preventDefault()
  var formData = new FormData($("#comment_form")[0]);
  $.ajax({
    url: "{% url 'contacts:add_comment' %}",
    type: "POST",
    data: formData,
    cache: false,
    contentType: false,
    processData: false,
    success: function (data) {
      if (data.error) {
        $("#CommentError").html(data.error).show()
      } else {
        d = new Date(data.commented_on);
        $("#comments_div").prepend("<li class='list-group-item list-row' id='comment" + data.comment_id + "'>" +
          "<div class='float-right right-container'>" +
          "<div class='list-row-buttons btn-group float-right'>" +
          "<button class='btn btn-link btn-sm dropdown-toggle' data-toggle='dropdown' type='button'><span class='caret'></span></button>" +
          "<ul class='dropdown-menu text-center'>" +
          "<li><a class='action' onclick='edit_comment(" + data.comment_id + ")'>Edit</a></li>" +
          "<li><a class='action' onclick='remove_comment(" + data.comment_id + ")''>Remove</a></li></ul></div></div>" +
          "<div class='stream-post-container' id='comment_name"+data.comment_id+"'><pre>"+data.comment+"</pre></div>"+
          "<div class='stream-container'><pre class='float-left'>"+data.commented_by+"</pre><pre class='float-right'>"+d.toGMTString()+"</pre></div>"
        )
        $("#id_comments").val("")
        alert("Comment Submitted")
        $("#CommentError").html("")
      }
    }
  })
})


function edit_comment(x) {
  $('#Comments_Contacts_Modal').modal('show');
  comment = $("#comment_name" + x).text()
  $("#commentid").val(x)
  $("#id_editcomment").val(comment)
}

$("#comment_edit").click(function (e) {
  e.preventDefault()
  var formData = new FormData($("#comment_edit_form")[0]);
  $.ajax({
    url: "/contacts/comment/edit/",
    type: "POST",
    data: formData,
    cache: false,
    contentType: false,
    processData: false,
    success: function (data) {
      if (data.error) {
        $("#CommentEditError").html(data.error).show()
      } else {
        $("#comment_name" + data.commentid).html('<pre>' + data.comment + '</pre>')
        $('#Comments_Contacts_Modal').modal('hide');
        $("#id_editcomment").val("")
        $("#CommentEditError").html("")
      }
    }
  })
})


function HideError(e) {
  $("#CommentError").hide()
}

function remove_comment(x) {
  var con = confirm("Do you want to Delete it for Sure!?")
  if (con == true) {
    $.post('/contacts/comment/remove/', {
      "comment_id": x
    }, function (data) {
      if (data.error) {
        alert(data.error)
      } else {
        $("#comment" + data.cid).remove()
      }
    })
  }
}

    $('#remove_contact').click(function(e){
        var result = confirm("Are You Sure You Want to delete?");
        if (result==false) {
          e.preventDefault()
        }
    });
  </script>
{% endblock js_block %}