{% extends 'root.html' %}

{% block main_menu %}
<ul class="navbar-nav mr-auto">
</ul>
{% endblock %}

{% block content %}
<ul class="list-group side_menu mb-3">
  <!--  <li class="list-group-item d-flex justify-content-between">
    <div class="item">
      <h6 class="heading"><i class="fas fa-users"></i>Groups</h6>
      <ul>
        <li><a href="/m/cl/all"><i class="fas fa-bars"></i>List</a></li>
        <li><a href="/m/cl/list/new/"><i class="fas fa-plus"></i>Create List</a></li>
      </ul>
    </div>
  </li> -->
  <li class="list-group-item d-flex justify-content-between">
    <div class="item">
      <h6 class="heading"><i class="fas fa-address-book"></i> Contacts</h6>
      <ul>
        <li><a href="/m/cl/all"><i class="fas fa-bars"></i>All</a></li>
        <li><a href="/m/cl/lists/" class=""><i class="fas fa-bars"></i> Lists</a></li>
       <!--  <li><a href="/m/cl/all/"><i class="fas fa-bars"></i>All Contacts</a></li> -->
        <!-- <li><a href="/m/cl/list/new/"> <i class="fas fa-plus"></i>Create New Contact</a></li> -->
        <li><a href="/m/cl/list/cnew/"> <i class="fas fa-plus"></i>Create New Contacts</a></li>
      </ul>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <div class="item">
      <h6 class="heading"><i class="fas fa-envelope"></i> Email Templates </h6>
      <ul>
        <li><a href="/m/et/list"><i class="fas fa-bars"></i>List</a></li>
        <li><a href="/m/et/new/"><i class="fas fa-plus"></i>Create New Template</a></li>
      </ul>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <div class="item">
      <h6 class="heading"><i class="fas fa-bullhorn"></i> Campigns</h6>
      <ul>
        <li><a href="/m/cm/list/"><i class="fas fa-bars"></i>List</a></li>
        <li><a href="/m/cm/new/"><i class="fas fa-plus"></i>New Campaign</a></li>
      </ul>
    </div>
  </li>
</ul>
{% endblock %}
