*.pyc
*~
*.swo
*.swp
db.sqlite3
media
media-images
cache
.idea
static/CACHE
.sass-cache/
main.css
main.css.map
ref.css
ref.css.map
.coverage
crm/dev_settings\.py
env
.env
docs/build
celerybeat-schedule
local_settings.py
media
.sass-cache
server.log
.vscode
staticfiles
.venv