version: '1.0'

services:
  db:
    image: postgres
    volumes:
      - /home/db:/var/lib/postgresql/data
  dockertest:
    build: .
    image: micropyramid/django-crm:1
    environment:
      - DJANGO_SETTINGS_MODULE=crm.dev_settings
    ports:
      - "8000:8000"
    depends_on:
      - db