[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
django = "==4.2.1"
sqlparse = "==0.4.4"
psycopg2-binary = "==2.9.6"
celery = "==5.2.7"
python-dotenv = "==1.0.0"
django-cors-headers = "==4.0.0"
djangorestframework = "==3.14.0"
djangorestframework-simplejwt = "==5.2.2"
drf-yasg = "==1.21.5"
django-ses = "==3.5.0"
whitenoise = "==6.4.0"
sentry-sdk = "==1.24.0"
wagtail = "==5.0.0"
django-extensions = "==3.2.1"
gunicorn = "==20.1.0"
django-phonenumber-field = "==7.1.0"
arrow = "==1.2.3"
phonenumbers = "==8.12.55"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.7"
