django==4.1.1
celery==5.2.7
python-dotenv==0.21.0
django-cors-headers==3.13.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.0
drf-yasg==1.21.3
django-ses==3.1.2
psycopg2-binary==2.9.3
whitenoise==6.2.0
sentry-sdk==1.9.8

# remove it
django-phonenumber-field==6.3.0
arrow==1.2.3
phonenumbers==8.12.55
