Django
celery
django-simple-pagination==1.3
django-compressor
django-phonenumber-field==2.2.0
django-storages
psycopg2-binary
arrow
phonenumbers==8.10.4
requests
boto3
lxml
cssselect
openpyxl
xlrd
pdfkit
redis
coverage
raven