opportunity


 <div class="col-md-4">
        <div class="card">
          
          <div class="card-body" id="datashow">
          <div class="panel-heading card-title view-pad">
            <h5>Label</h5>
          </div>
            <div class="row marl">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  {%if opportunity_record.assigned_to.all %}
                    <label class="opportunity_field_label" for="id_assigned_user" data-name="name">Assigned User(s)</label>
                    <div class="opportunity_field" id="opportunity_assigned_users" data-name="name">
                        {% for user in opportunity_record.assigned_to.all %}
                          <li>{{ user }}</li>
                        {% endfor %}
                    </div>
                   {% endif %}
                </div>
              </div>
              <!-- <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="opportunity_field_label" for="id_team" data-name="name">Assigned Team(s)</label>
                  <div class="opportunity_field" id="opportunity_team" data-name="name">
                    {%if not opportunity_record.teams %}
                      Not Assigned Yet
                    {% else %}
                      {% for team in opportunity_record.teams.all %}
                        <li>{{ team }}</li>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div> -->
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="opportunity_field_label" for="id_created_on" data-name="name">Created On</label>
                  <div class="opportunity_field" id="opportunity_created_on" data-name="name">{{opportunity_record.created_on}}</div>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="opportunity_field_label" for="id_created_by" data-name="name">Created by</label>
                  <div class="opportunity_field" id="opportunity_created_by" data-name="name">{{opportunity_record.created_by}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





      Account



      <div class="col-md-4">
        <div class="card">
          <div class="card-body" id="datashow">
             <div class="card-title">
            <h5>Label</h5>
          </div>
            <div class="row marl">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  {%if account_record.assigned_to.all %}
                    <label class="acc_field_label" for="id_assigned_user" data-name="name">Assigned User(s)</label>
                    <div class="account_field" id="account_assigned_users" data-name="name">
                      {% for user in account_record.assigned_to.all %}
                        <li>{{ user }}</li>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="acc_field_label" for="id_created_on" data-name="name">Created On</label>
                  <div class="account_field" id="account_created_on" data-name="name">
                    {{ account_record.created_on }}
                  </div>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="acc_field_label" for="id_created_by" data-name="name">Created By</label>
                  <div class="account_field" id="account_created_by" data-name="name">
                    {{ account_record.created_by }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      contacts


         <div class="col-md-4">
        <div class="card">
       
          <div class="card-body" id="datashow">
             <div class="panel-heading card-title view-pad">
            <h5>Label</h5>
          </div>
            <div class="row marl">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  {%if contact_record.assigned_to.all %}
                    <label class="contact_field_label" for="id_assigned_user" data-name="name">Assigned User(s)</label>
                    <div class="contact_field" id="contact_assigned_users" data-name="name">
                      {% for user in contact_record.assigned_to.all %}
                        <li>{{ user }}</li>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
              <!-- <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="contact_field_label" for="id_team" data-name="name">Assigned Team(s)</label>
                  <div class="contact_field" id="contact_team" data-name="name">
                    {%if not contact_record.teams %}
                      Not Assigned Yet
                    {% else %}
                      {% for team in contact_record.teams.all %}
                        <li>{{ team }}</li>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div> -->
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="contact_field_label" for="id_created_on" data-name="name">Created On</label>
                  <div class="contact_field" id="contact_created_on" data-name="name">
                    {{ contact_record.created_on }}
                  </div>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="contact_field_label" for="id_created_by" data-name="name">Created by</label>
                  <div class="contact_field" id="contact_created_by" data-name="name">
                   {{ contact_record.created_by }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      leads


       <div class="col-md-4">
      <div class="card">
       
        <div class="card-body" id="datashow">
         <div class="card-title">
          <h5>Label</h5>
        </div>
          <div class="row marl">
            <div class="filter_col col-md-12">
              <div class="form-group">
              {%if lead_record.assigned_to.all %}
                <label class="lead_field_label" for="id_assigned_user" data-name="name" >Assigned User(s)</label>
                <div class="lead_field" id="lead_assigned_users" data-name="name">
                    {% for user in lead_record.assigned_to.all %}
                      <li>{{ user }}</li>
                    {% endfor %}
                </div>
              {% endif %}
              </div>
            </div>
            <!-- <div class="filter_col col-md-12">
              <div class="form-group">
                <label class="lead_field_label" for="id_team" data-name="name" >Assigned Team(s)</label>
                <div class="lead_field" id="lead_team" data-name="name">
                  {%if not lead_record.teams %}
                    Not Assigned Yet
                  {% else %}
                    {% for team in lead_record.teams.all %}
                      <li>{{ team }}</li>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div> -->
            <div class="filter_col col-md-12">
              <div class="form-group">
                <label class="lead_field_label" for="id_created_on" data-name="name">Created On</label>
                <div class="lead_field" id="lead_created_on" data-name="name">
                  {{lead_record.created_on}}
                </div>
              </div>
            </div>
            <div class="filter_col col-md-12">
              <div class="form-group">
                <label class="lead_field_label" for="id_created_by" data-name="name">Created by</label>
                <div class="lead_field" id="lead_created_by" data-name="name">
                  {{lead_record.created_by}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    cases

      <div class="col-md-4">
          <div class="card">
            
            <div class="card-body" id="datashow">
            <div class="panel-heading card-title view-pad">
              <h5>Label</h5>
            </div>
              <div class="row marl">
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    {% if case_record.assigned_to.all %}
                      <label class="case_field_label" for="id_assigned_user" data-name="name">Assigned User(s)</label>
                      <div class="case_field" id="case_assigned_users" data-name="name">
                        {% for user in case_record.assigned_to.all %}
                          <li>{{ user }}</li>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
                <!-- <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="case_field_label" for="id_team" data-name="name">Assigned Team(s)</label>
                    <div class="case_field" id="case_team" data-name="name">
                      {% if not case_record.teams %}
                        Not Assigned Yet
                      {% else %}
                        {% for team in case_record.teams.all %}
                          <li>{{ team }}</li>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </div> -->
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="case_field_label" for="id_created_on" data-name="name">Created On</label>
                    <div class="case_field" id="case_created_on" data-name="name">
                      {{ case_record.created_on }}
                    </div>
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="case_field_label" for="id_created_by" data-name="name">Created by</label>
                    <div class="case_field" id="case_created_by" data-name="name">
                      {{ case_record.created_by }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  