{% extends 'registration/base.html' %}
{% block content %}

    <div class="login_block">
	    <div class="login_form_block">
		    <div class="card-title">
            <center><h2 class="welcome">Forgot Password</center></h2>
            </div>
            <form method="post">
            <div class="form-group">
            <input type="text" class="form-control" id="exampleinputmail" placeholder="Email" name="email">
            </div>
            <span class="error">{{ form.email.errors }}</span>
	        {% csrf_token %}
	        <center><button type="submit" class="btn btn-danger">Submit</button></center>
            </form>
        </div>
    </div>
{% endblock %}