{% extends 'sales/base.html' %}
{% block content %}
<div class="row marl justify-content-center login_row">
  <div class="col-md-6 col-lg-6 col-xl-4">
    <div class="login_block">
      <div class="login_form_block">
        {% if validlink %}
        <h3 class="welcome">Change password</h3>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-danger">Change password</button>
        </form>
        {% else %}
        <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}