{% extends 'root_email_template_new.html' %}
{% block content %}
{% block heading %}
Password reset
{% endblock heading %}

{% block content_body %}
We have received password reset request for your account. Click below link to reset your password
{% endblock content_body %}

{% block button_link %}
<p style="font-size: 2em;">
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</p>
{% endblock button_link %}

{% block extra_content %}
<p style="font-size: 1.5em;">
    This link will be valid for 3 days.
    Please ignore this email, if you did not request a password reset.
</p>
{% endblock extra_content %}
{% endblock %}