{% extends 'base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block content %}
<!-- main_container starts here -->
<div class="main_container">
  <!-- heading_create starts here -->
  <div class="row marl heading_create">
    <div class="heading col-md-12">
      <div class="col-md-6">
        <h4>Accounts</h4>
      </div>
      <div class="col-md-6">
        <div class="create_new text-right">
          <a href="{% url 'accounts:new_account' %}"><i class="fa fa-plus"></i> Add New Account</a>
        </div>
      </div>
    </div>
  </div>
  <!-- heading_create ends here -->
  <!-- filter_row starts here -->
  <div class="filter_row row marl">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <form id="accounts_filter" method="POST" action="">{% csrf_token %}
          <div class="panel-content text-center">
            <div class="filter_col col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">NAME</label>
                <input type="text" class="form-control" placeholder="Account Name" name="name" {% if request.POST %} value="{{request.POST.name}}" {%endif%}/>
              </div>
            </div>
            <div class="filter_col col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">CITY</label>
                <input type="text" class="form-control" placeholder="City" name="city" {% if request.POST %} value="{{request.POST.city}}" {%endif%}/>
              </div>
            </div>
            <div class="filter_col col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">INDUSTRY</label>
                <select class="form-control" id="id_industry" name="industry" >
                  <option value="">--Select Type of Industry--</option>
                  {% for each_industry in industries %}
                  <option value="{{each_industry.0}}" {% if request.POST.industry %} {% ifequal each_industry.0 request.POST.industry %}selected{% endifequal %}{% endif %} >{{each_industry.1}} </option>
                  {% endfor%}
                </select>
              </div>
            </div>
            <div class="filter_col text-center">
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Search</button>
                <a href="{% url 'accounts:list' %}" class="btn btn-default">Clear</a>
              </div>
            </div>
          </div>
        </form>
        <br clear="all">
      </div>
    </div>
  </div>
  <!-- filter_row ends here -->
  <!-- accounts list start -->
  <div class="table_container_row row marl">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading-list text-center">
          LIST OF ACCOUNTS
          <span class="pull-right total_count">{% if show_pageitems %} {% show_pageitems %}{% else %}Total Accounts {{accounts_list|length}}{% endif %}</span>
        </div>
        <div class="panel-content">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th width="5%" style="text-align:center;">S.No</th>
                <th width="20%" style="text-align:center;">NAME</th>
                <th width="15%" style="text-align:center;">CITY</th>
                <th width="15%" style="text-align:center;">STATE</th>
                <th width="20%" style="text-align:center;">INDUSTRY</th>
                <th width="25%" style="text-align:center;">ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              {% if per_page %}
                {% paginate per_page accounts_list %}
              {% else%}
                {% paginate 10 accounts_list %}
              {% endif %}
              {% for each_account in accounts_list %}
              <tr id="account_details{{each_account.id}}" class="text-center">
                <td scope="row">{{ forloop.counter }}</td>
                <td>{% if each_account.name %}<a href="{% url 'accounts:view_account' each_account.id %}">{{ each_account.name }}</a>{% endif %}</td>
                <td>{% if each_account.billing_address.city %}{{ each_account.billing_address.city }} {% else %} Not specified {% endif %}</td>
                <td>{% if each_account.billing_address.state %}{{ each_account.billing_address.state }} {% else %} Not specified {% endif %}</td>
                <td>{% if each_account.industry %}{{ each_account.industry }} {% else %} Not specified {% endif %}</td>
                <td>
                  <a href="{% url 'accounts:view_account' each_account.id %}" class="btn btn-info">VIEW</a>
                  <a href="{% url 'accounts:edit_account' each_account.id %}" class="btn btn-success">EDIT</a>
                  <a href="{% url 'accounts:remove_account' each_account.id %}" class="btn btn-danger remove_account">REMOVE</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% ifequal accounts_list|length 0 %}
            <h4 class="text-center">No Acccount Records Found</h4>
          {% endifequal %}
          <div class="text-center row marl">
            {% show_pages %}
          </div>
        </div>
      </div>
      <br clear="all">
    </div>
  </div>
  <!-- accounts list end -->
</div>
<!-- main_container ends here -->
{% endblock %}
{% block js_block %}
<script type="text/javascript">
  $('.remove_account').click(function(e){
    e.preventDefault()
    url = $(this).attr('href')
    if (!confirm('Are you sure you want to delete?'))
      return;
    window.location = $(this).attr('href')
  });

  $(".reset").click(function(e){
    window.location = "{% url 'accounts:list'%}"
  });

  $("a[rel='page']").click(function(e){
    e.preventDefault();
    $('#accounts_filter').attr("action", $(this).attr("href"));
    $('#accounts_filter').submit();
  });
</script>
{% endblock js_block %}