{% load wagtailcore_tags wagtailimages_tags static %}
<!-- Start Testimonials Area -->
<div class="testimonials-area pb-100">
    <div class="container">
        <div class="testimonials-inner ptb-100 bg-app-image">            
            <div class="testimonials-slides owl-carousel owl-theme">
                {% for slider in self.sliders %}
                <div class="testimonials-item">
                    <i class="icon flaticon-quotation"></i>                    
                        <p>{{ slider.description }}</p>
                        <div class="info d-flex align-items-center justify-content-center">
                            {% image slider.image height-55 as photo %}
                            <img src="{{ photo.url }}" alt="image">
                            <div class="title">
                                <h3>{{ slider.author }}</h3>
                                <span>D{{ slider.role }}</span>
                            </div>
                        </div>                
                </div>   
                {% endfor %}             
            </div>           
        </div>
    </div>
</div>
<!-- End Testimonials Area -->