

<!-- Start Pricing Area -->
<div class="pricing-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>{{ self.heading }}</h2>
            <p>{{ self.description }}</p>
        </div>

        <div class="row justify-content-center">
            {% for card in self.cards %}
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pricing-box">
                    <div class="pricing-header">
                        <h3>{{ card.card_heading }}</h3>
                        <span class="price">{{ card.card_price }}<span>/year</span></span>
                    </div>
                    <ul class="features-list">
                        <li>{{ card.card_description }}</li>
                        
                    </ul>
                    {% if card.cta_url %} 
                        <a href="{{ card.cta_url }}" class="default-btn app-color">{{ card.cta_text }}<i class="fas fa-chevron-right"></i></a>
                    {% else %}
                    <a href="{{ card.cta_page.url }}" class="default-btn app-color">{{ card.cta_text }} <i class="fas fa-chevron-right"></i></a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

            
        </div>
    </div>
</div>
<!-- End Pricing Area -->