{% extends 'marketing/base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block content %}
{{ block.super }} 
<div class="marketing_pages">
	<div class="row marl">
	  <div class="col-md-12">
	    <form id="add_form" method="POST" action='' novalidate>
		  <div class="overview_form_block row marl justify-content-center">
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-body">
		          <div class="card-title text-center">
		            {% if contact_obj %}Edit{% else %}Create{% endif %} Email Template
		          </div>
		          	<form>
									<div class="row marl">
										<div class="col-md-3">		
			                <div class="form-group">
			                  <label>Select Template</label>
												<select class="form-control">
												  <option value="one">First template</option>
												  <option value="two">Second template</option>
												  <option value="three">Third template</option>
												  <option value="four">Fourth template</option>
												</select>
			                </div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
										    <label>Subject</label>
										    <input type="email" class="form-control" placeholder="Subject of this email">
										    <small class="form-text text-muted">Set a title for this campaign?</small>
										  </div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
										    <label>From Name</label>
										    <input type="email" class="form-control" placeholder="hello@mp.com">
										  </div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
										    <label>From Email</label>
										    <input type="email" class="form-control" placeholder="Support@mp.com">
										  </div>
										</div>
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-3">
													<div class="form-group">
												    <label>Reply to email</label>
												    <input type="email" class="form-control" placeholder="replys@mp.com">
												  </div>
												  <div class="form-group">
												    <label>Query String</label>
												    <div class="well">
				       							  Optionally append a query string to all links in your email newsletter. A good use case is Google Analytics tracking. Don't include '?' in your query string.			        
				       							</div>
				       							<input type="email" class="form-control" placeholder="url">
												  </div>
												  <div class="form-group">
												    <label>Attachments</label>
												    <input type="file" class="form-control" >
												    <small class="form-text text-muted">Allowed file types: jpeg, jpg, gif, png, pdf, zip</small>
												  </div>
												  <div class="form-group">
												  	<label>Track Opens</label>
											      <button type="button" class="btn btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
											        <div class="handle"></div>
											      </button>
												  </div>
												  <div class="form-group">
												  	<label>Track Clicks</label>
											      <button type="button" class="btn btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
											        <div class="handle"></div>
											      </button>
												  </div><br>
												  <div class="form-group">
														<button type="submit" class="primary_btn mar_btm">Save Campaign</button>
														<button type="submit" class="seconadry_btn">Cancel</button>
													</div>
												</div>
												<div class="col-md-9">
													<div class="form-group">
												    <label>Plain Text</label>
												    <textarea class="form-control" rows="3"></textarea>
												  </div>
												  <div class="form-group">
														<label>Html Code</label>
														<div id="editor-container">
														</div>
														<span class="hint">Use the following tags in your subject, plain text or HTML code and they'll automatically be formatted when your campaign is sent. For web version and unsubscribe tags, you can style them with inline CSS.</span>
													</div>
													<div class="col-md-12 no-padding">
														<div class="row help_container">
															<div class="col-md-6">
																<div class="heading">Essential tags (HTML only)</div>
																<p class="desc">The following tags can only be used on the HTML version</p>
																<ul>
																	<li>
																		<strong>Webversion link: </strong>
																		<code><webversion>View web version<webversion></code>
																	</li>
																	<li>
																		<strong>Unsubscribe link: </strong>
																		<code><unsubscribe>Unsubscribe here</unsubscribe></code>
																	</li>
																</ul>

																<div class="heading">Essential tags</div>
																<p class="desc">The following tags can only be used on the HTML version</p>
																<ul>
																	<li>
																		<strong>Webversion link: </strong>
																		<code><webversion>View web version<webversion></code>
																	</li>
																	<li>
																		<strong>Unsubscribe link: </strong>
																		<code><unsubscribe>Unsubscribe here</unsubscribe></code>
																	</li>
																</ul>

															</div>


															<div class="col-md-6">
																<div class="heading">Personalization tags</div>
																<p class="desc">The following tags can be used on both Plain text or HTML version</p>
																<ul>
																	<li>
																		<strong>Name: </strong>
																		<code>[Name,fallback=]</code>
																	</li>
																	<li>
																		<strong>Email: </strong>
																		<code>[Email]</code>
																	</li>
																	<li>
																		<strong>Two digit day of the month (eg. 01 to 31):</strong>
																		<code>[currentdaynumber]</code>
																	</li>
																</ul>

																<div class="heading">Essential tags</div>
																<p class="desc">The following tags can only be used on the HTML version</p>
																<ul>
																	<li>
																		<strong>Name: </strong>
																		<code>[Name,fallback=]</code>
																	</li>
																	<li>
																		<strong>Email: </strong>
																		<code>[Email]</code>
																	</li>
																	<li>
																		<strong>Two digit day of the month (eg. 01 to 31):</strong>
																		<code>[currentdaynumber]</code>
																	</li>
																</ul>

															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
		        </div>
		      </div>
		    </div>
		  </div>
		</form>
	  </div>  
	</div>
</div>
{% endblock %}
{% block js_block %}
<script>
	var quill = new Quill('#editor-container', {
	  modules: {
	    toolbar: [
	      [{ header: [1, 2, false] }],
	      ['bold', 'italic', 'underline'],
	      ['image', 'code-block']
	    ]
	  },
	  placeholder: 'Compose an epic...',
	  theme: 'snow'  // or 'bubble'
	});
	$('form').submit(function(){
		alert($(this["options"]).val());
	    return false;
	});
</script>
{% endblock js_block %}