{% load staticfiles %}
<!--SELECT USERS MODEL-->
<div class="modal fade model-sm" id="selectusersmodel" role="dialog" data-keyboard="false"
  data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Select User to assign Event</h4>
      </div>
      <div class="model-body" id="selectusers-modal-body" style="padding:4% ">
      </div>
      <div class="modal-footer">
        <button type="button" id="closeselectusersmodel" class="btn btn-default" data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--END  SELECT USERS MODEL-->
<!--SELECT CONTSCTS MODEL-->
<div class="modal fade model-sm" id="select-contacts-model" role="dialog" data-keyboard="false"
  data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Select Contacts</h4>
      </div>
      <div class="model-body" id="select-contacts-modal-body" style="padding:4% ">
      </div>
      <div class="modal-footer">
        <button type="button" id="close-attendees-contacts-model" class="btn btn-default"
          data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--END  SELECT CONTACTS MODEL-->
<!--SELECT Leads MODEL-->
<div class="modal fade model-sm" id="select-leads-model" role="dialog" data-keyboard="false"
  data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Select Leads</h4>
      </div>
      <div class="model-body" id="select-leads-modal-body" style="padding:4% ">
      </div>
      <div class="modal-footer">
        <button type="button" id="close-attendees-leads-model" class="btn btn-default"
          data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--END  SELECT USERS MODEL-->
<!--SELECT ASSIGNED USER MODEL-->
<div class="modal fade model-sm" id="select-assigned-user-model" role="dialog" data-keyboard="false"
  data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Select User</h4>
      </div>
      <div class="model-body" id="assigned-user-modal-body" style="padding:4% ">
      </div>
      <div class="modal-footer">
        <button type="button" id="close-assigned-user-model" class="btn btn-default"
          data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--END  SELECT ASSIGNED USER MODEL-->
<!--SELECT CREATED USER MODEL-->
<div class="modal fade model-sm" id="select-created-user-model" role="dialog" data-keyboard="false"
  data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Select a User</h4>
      </div>
      <div class="model-body" id="created-user-modal-body" style="padding:4% ">
      </div>
      <div class="modal-footer">
        <button type="button" id="close-created-user-model" class="btn btn-default"
          data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--END  SELECT CREATED USER MODEL-->
<script src="{% static 'js/setstatus.js' %}"></script>