{% extends 'base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<!-- main_container starts here -->
<div class="main_container">
  <!-- heading_create starts here -->
  <div class="row marl">
    <div class="col-lg-12 text-right">
      <span class="d-inline"><a class="primary_btn"  href="{% url 'leads:add_lead'%}"><i class="fa fa-plus"></i> Add New Lead</a></span>
    </div>
  </div>
  <!-- heading_create ends here -->
  <div class="filter_row list_filter_row row marl">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form id="leads_filter" action="" method="POST">
            <div class="card-body ">
              <div class="card-title">Filters</div>
              <div class="row marl">
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" placeholder="First Name" name="name" value="{{request.POST.name}}">
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Source</label>
                    <select class="form-control" id="id_source" name="source" >
                      <option value="">--Source of Lead--</option>
                      {% for each_source in source %}
                      <option value="{{each_source.0}}" {% if request.POST.source %} {% ifequal each_source.0 request.POST.source %}selected{% endifequal %}{% endif %} >{{each_source.1}} </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Assigned Users</label>
                    <select class="assigned_users form-control" name="assigned_to" multiple="multiple">
                    {% for user in users %}
                    <option value="{{user.id}}" {% if user.id in assignedto_list %} selected="" {% endif %}>{{user.email}}</option>
                    {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Lead Status</label>
                    <select class="form-control" id="id_status" name="status" >
                      <option value="">--Status of Lead--</option>
                      {% for each_status in status %}
                      <option value="{{each_status.0}}" {% if request.POST.status %} {% ifequal each_status.0 request.POST.status %}selected{% endifequal %}{% endif %} >{{each_status.1}} </option>
                      {% endfor%}
                    </select>
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Tags</label>
                    <select class="form-control" id="id_tag" name="tag" >
                      <option value="">--Select Tags--</option>
                      {% for tag in tags %}
                      <option value="{{tag.id}}" {% if request.POST.tag %} {% ifequal tag.id request.POST.tag|add:"0" %}selected{% endifequal %}{% endif %} >{{ tag.name }} </option>
                      {% endfor%}
                    </select>
                  </div>
                </div>
                <input type="hidden" name="tab_status" id="tab_status">
                <div class="filter_col col-2">
                  <div class="form-group buttons_row">
                    <button class="btn btn-primary save" type="submit">Search</button>
                    <a href="{% url 'leads:list' %}" class="btn btn-default clear">Clear</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-xl-12">
    <div class="table_container_row row marl no-gutters">
      <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="open-tab" data-toggle="tab" href="#open" role="tab" aria-controls="open" aria-selected="true">Open</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="close-tab" data-toggle="tab" href="#close" role="tab" aria-controls="close" aria-selected="false">Closed</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="open" role="tabpanel" aria-labelledby="open">
            <div class="card">
              <div class="card-body">
                <div class="card-title text-right">
                  <span class="float-left">Open Leads - {% if show_pageitems %} {% show_pageitems %}{% else %} {{ open_leads|length }}{% endif %}</span>
                  <span class="filter_toggle">
                  <a href="#" class="primary_btn"><i class="fas fa-filter"></i></a>
                  </span>
                </div>
                <div class="table-responsive">
                  <table class="table ">
                    <thead>
                      {% if open_leads|length > 0 %}
                      <tr>
                        <th width="5%">ID</th>
                        <th width="10%">Name</th>
                        <th width="10%">Status</th>
                        <th width="20%">Assigned User</th>
                        <th width="20%">Tags</th>
                        <th width="15%">Created On</th>
                        <th width="10%">Actions</th>
                      </tr>
                      {% endif %}
                    </thead>
                    <tbody>
                      {% if per_page %}
                      {% paginate per_page open_leads %}
                      {% else %}
                      {% paginate 10 open_leads %}
                      {% endif %}
                      {% for lead in open_leads %}
                      <tr class="text-center">
                        <td scope="row">{{ forloop.counter }}</td>
                        <td><a href="{% url 'leads:view_lead' lead.id %}">{{ lead.first_name }} {{ lead.last_name }}</a></td>
                        <td>{{ lead.get_status_display }}</td>
                        <td>
                          {% with lead_users=lead.assigned_to.all %}
                          {% if lead_users %}
                          {% for user in lead_users %}
                          <span class="text-left">{{ user.email }}</span><br>
                          {% endfor %}
                          {% else %}
                          Not Assigned to Any
                          {% endif %}
                          {% endwith %}
                        </td>
                        <td >
                          {% with tags=lead.tags.all %}
                          {% if tags %}
                          {% for tag in tags %}
                          <span class="text-left color{{forloop.counter}}" id="list_tag">{{ tag.name }}</span>
                          {% endfor %}
                          {% else %}
                          No Tags
                          {% endif %}
                          {% endwith %}
                        </td>
                        <td>{{ lead.created_on }}</td>
                        <td class="actions"> 
                          <a href="{% url 'leads:edit_lead' lead.id %}" class="btn btn-success edit"><i class="fas fa-pencil-alt"></i></a>
                          <a href="{% url 'leads:remove_lead' lead.id %}" class="btn btn-danger delete remove_account"><i class="fas fa-trash-alt"></i></a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {%ifequal open_leads|length 0%}
                <h6 class="text-center">No Open Lead Records Found</h6>
                {%endifequal%}
                <div class="marl row text-center">
                  {% show_pages %}
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="close" role="tabpanel" aria-labelledby="close">
            <div class="card">
              <div class="card-body">
                <div class="card-title text-right">
                  <span class="float-left">Closed Leads - {% if show_pageitems %} {% show_pageitems %}{% else %} {{ close_leads|length }}{% endif %}</span>
                  <span class="filter_toggle">
                  <a href="#" class="primary_btn"><i class="fas fa-filter"></i></a>
                  </span>
                </div>
                <div class="table-responsive">
                  <table class="table ">
                    <thead>
                      {% if close_leads|length > 0 %}
                      <tr>
                        <th width="5%">ID</th>
                        <th width="10%">Name</th>
                        <th width="10%">Status</th>
                        <th width="20%">Assigned User</th>
                        <th width="20%">Tags</th>
                        <th width="15%">Created On</th>
                        <th width="10%">Actions</th>
                      </tr>
                      {% endif %}
                    </thead>
                    <tbody>
                      {% if per_page %}
                      {% paginate per_page close_leads %}
                      {% else %}
                      {% paginate 10 close_leads %}
                      {% endif %}
                      {% for lead in close_leads %}
                      <tr class="text-center">
                        <td scope="row">{{ forloop.counter }}</td>
                        <td><a href="{% url 'leads:view_lead' lead.id %}">{{ lead.first_name }} {{ lead.last_name }}</a></td>
                        <td>{{ lead.get_status_display }}</td>
                        <td>
                          {% with lead_users=lead.assigned_to.all %}
                          {% if lead_users %}
                          {% for user in lead_users %}
                          <span class="text-left">{{ user.email }}</span><br>
                          {% endfor %}
                          {% else %}
                          Not Assigned to Any
                          {% endif %}
                          {% endwith %}
                        </td>
                        <td >
                          {% with tags=lead.tags.all %}
                          {% if tags %}
                          {% for tag in tags %}
                          <span class="text-left color{{forloop.counter}}" id="list_tag">{{ tag.name }}</span>
                          {% endfor %}
                          {% else %}
                          No Tags
                          {% endif %}
                          {% endwith %}
                        </td>
                        <td>{{ lead.created_on }}</td>
                        <td class="actions"> 
                          <a href="{% url 'leads:edit_lead' lead.id %}" class="btn btn-success edit"><i class="fas fa-pencil-alt"></i></a>
                          <a href="{% url 'leads:remove_lead' lead.id %}" class="btn btn-danger delete remove_account"><i class="fas fa-trash-alt"></i></a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {%ifequal close_leads|length 0%}
                <h6 class="text-center">No Dead Lead Records Found</h6>
                {%endifequal%}
                <div class="marl row text-center">
                  {% show_pages %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){  
    $('.assigned_users').select2();
    $(".filter_toggle").click(function(){    
      $(".list_filter_row").toggle();    
    });    
  });
  
  $("#close-tab").click(function(e){
    $("#tab_status").val('Closed')
  })
  
  $("#open-tab").click(function(e){
    $("#tab_status").val('Open')
  })
  
  tab_status = "{{tab_status}}"
  if(tab_status == 'Closed'){
    $("#close-tab").click()
  }else{
    $("#open-tab").click()
  }
   
  $('.delete').click(function(e){
    e.preventDefault()
    url = $(this).attr('href')
    if (!confirm('Are you sure you want to delete?'))
      return;
    window.location = $(this).attr('href')
  });
  
  $("a[rel='page']").click(function(e){
    e.preventDefault();
    $('#leads_filter').attr("action", $(this).attr("href"));
    $('#leads_filter').submit();
  });
</script>
{% endblock js_block %}