{% extends 'sales/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block breadcrumb %}

{% block extralinks %}
<link rel="stylesheet" href="{% static 'css/bootstrap-suggest.css' %}">
<style>
  .opacity_block {
    opacity: 0.2;
  }
</style>
{% endblock extralinks %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'leads:list' %}">Leads</a></li>
    <li class="breadcrumb-item active">View</li>
  </ol>
</nav>

{%endblock%}

{% block content %}
<div class="main_container" id="maincontainer">
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-8" id="opacity_block">
      <div class="card">

        <div class="card-body" id="datashow">
          <div class="card-title text-right">
            <h5>
              <span class="float-left title">Overview</span>
              <span class="" style="margin-top: 0px">
                <div class="dropdown buttons_row" style="width:auto; display:inline-block; left:0">
                  <button class="btn primary_btn dropdown-toggle" type="button" data-toggle="dropdown">Actions
                    <span class="caret"></span></button>
                  <ul class="dropdown-menu" style="width:fit-content; min-width:-webkit-fill-available; margin-top: 0;">
                    <li><a href="{% url 'leads:edit_lead' lead_record.id %}"
                        style="background:#17a2b8; color: white; font-weight: 600;">Edit</a></li>
                    <li><a href="{% url 'leads:leads_convert' lead_record.id %}" class="" role="button"
                        style="background:#17a2b8; color: white; font-weight: 600;">Convert</a></li>
                    <!-- <li><a href="{% url 'leads:leads_convert' lead_record.id %}" class="btn btn-info"
                        role="button">Convert</a></li> -->
                  </ul>
                </div>
              </span>
            </h5>
          </div>
          <div class="row marl">
            <div class="col-md-4">
              <div class="filter_col col-md-12" id="iname">
                <div class="form-group">
                  <label class="lead_field_label" for="id_name" data-name="name">Name</label>
                  <div class="lead_field" id="lead_name" data-name="name"> {% if lead_record.first_name  %}
                    {{ lead_record.first_name }}{% endif %} {% if lead_record.last_name  %}
                    {{ lead_record.last_name }}{% endif %}</div>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="id_contact_account" data-name="name">Account Name</label>
                  {% if lead_record.account_name %}
                  <div class="lead_field" id="contact_account" data-name="name">{{ lead_record.account_name }}</div>
                  {% else %}
                  <div class="lead_field">Not Specified</div>
                  {% endif %}
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="id_title" data-name="name">Title</label>
                  {% if lead_record.title %}
                  <div class="lead_field" id="lead_title" data-name="name">{{ lead_record.title }}</div>
                  {% else %}
                  <div class="lead_field">Not Specified</div>
                  {% endif %}
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="id_phone" data-name="name">Phone</label>
                  {% if lead_record.lead_record.phone_raw_input %}
                  <div class="lead_field" id="lead_phone" data-name="name">{{ lead_record.phone_raw_input }}</div>
                  {% else %}
                  <div class="lead_field">Not specified</div>
                  {% endif %}
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="id_email" data-name="name">Email</label>
                  {% if lead_record.email %}
                  <div class="lead_field" id="lead_email" data-name="name">{{ lead_record.email }}</div>
                  {% else %}
                  <div class="lead_field">Not Specified</div>
                  {% endif %}
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="id_status" data-name="name">Status</label>
                  {% if lead_record.status %}
                  <div class="lead_field" id="lead_status" data-name="name">{{ lead_record.status }}</div>
                  {% else %}
                  <div class="lead_field">Not Specified</div>
                  {% endif %}
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="id_source" data-name="name">Source</label>
                  {% if lead_record.source %}
                  <div class="lead_field" id="lead_source" data-name="name">{{ lead_record.source }}</div>
                  {% else %}
                  <div class="lead_field">Not Specified</div>
                  {% endif %}
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="id_website" data-name="name">Website</label>
                  {% if lead_record.website %}
                  <div class="lead_field" id="lead_website" data-name="name">{{ lead_record.website }}</div>
                  {% else %}
                  <div class="lead_field">Not Specified</div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-md-4">

              <div class="filter_col col-md-12">
                <div class="form-group">
                  {% if lead_record.address_line or lead_record.street or lead_record.city or lead_record.state or lead_record.postcode or lead_record.country %}
                  <label class="lead_field_label" for="id_address" data-name="name">Billing Address</label>
                  <div class="lead_field" id="lead_address" data-name="name">
                    {{lead_record.get_complete_address}}
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="filter_col col-md-12">
                {% if lead_record.description %}
                <div class="form-group">
                  <label class="lead_field_label" for="id_description" data-name="name">Description</label>
                  <div class="lead_field" id="lead_description" data-name="name">{{ lead_record.description }}</div>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col-md-12">
              <div class="created_information">
                Created by <b>{{ lead_record.created_by }}</b> created on <b
                  title="{{ lead_record.created_on }}">{{ lead_record.created_on_arrow }}</b>
              </div>
            </div>
          </div>
        </div>

        <!-- Attachment Section start -->
        <div>
          <div class="card-body mar-top" id="datashow">
            <div class="card-title view-pad">
              <h5>Attachments</h5>
            </div>
            <div class="row marl">
              <div class="col-md-12">
                <form id="attachment_form" method="POST" enctype="multipart/form-data">
                  <div class="form-group ">
                    <input type="file" class="form-control-file" cols="40" id="id_attachments" name="attachment">
                    <div>
                      <p id="AttachmentError" style="display:none; color:red"></p>
                    </div>
                    <br>
                    <div class="buttons_row">
                      <button class="btn btn-default save" style="text-align: center;"
                        id="attachment_submit">Save</button>
                    </div>
                  </div>
                  <input type="hidden" value="{{lead_record.id}}" name="leadid">
                </form>
                <ul class="list-group" id="attachment_div">
                  {% for attachment in attachments %}
                  <li class="list-group-item list-row" id="attachment{{attachment.id}}">
                    {% if request.user.is_superuser or request.user.role == 'ADMIN' or request.user == attachment.created_by %}
                    <div class="float-right right-container">
                      <div class="list-row-buttons btn-group float-right">
                        <button class="action btn primary_btn"
                          onclick="remove_attachment({{attachment.id}})">Remove</button>
                      </div>
                    </div>
                    {% endif %}

                    <div class="stream-post-container" id="attachment_name{{attachment.id}}">
                      {% if attachment.attachment %}
                      {% if 'image' in attachment.file_type %}
                      {% thumbnail attachment.attachment "80x80" crop="center" as im %}
                      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="mb-2">
                      {% endthumbnail %}
                      {% endif %}
                      {% endif %}
                      <pre> <span class="icon"><i style="font-size:1.5rem;" class="{{attachment.get_file_type_display}}"></i> {{attachment.file_name}} </span> <a href="{% url 'common:download_attachment' attachment.id %}">Download</a></pre>
                    </div>

                    <div class="stream-container">
                      <pre class="float-left">Uploaded by :{{ attachment.created_by }}</pre>
                      <pre class="float-right"
                        title="{{ attachment.created_on }}">{{ attachment.created_on_arrow }}</pre>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <!-- Attachment Section end -->

          <!-- Comments Section starts-->
          <div>
            <div class="card-body mar-top" id="datashow">
              <div class="card-title view-pad">
                <h5>Comments </h5>
              </div>
              <div class="row marl">
                <div class="col-md-12">
                  <form id="comment_form" method="POST" enctype="multipart/form-data">
                    <div class="form-group ">
                      <textarea class="form-control mentions" textarea cols="40" rows="3" id="id_comments"
                        name="comment" placeholder="Submit Your Comments Here"></textarea>
                      <div>
                        <p id="CommentError" style="display:none; color:red"></p>
                      </div>
                      </br>
                      <div class="buttons_row">
                        <button class="btn btn-default save" style="text-align: center;"
                          id="comment_submit">Submit</button>
                      </div>
                    </div>
                    <input type="hidden" value="{{lead_record.id}}" name="leadid">
                  </form>
                  <ul class="list-group" id="comments_div">
                    {% for comment in comments %}
                    <li class="list-group-item list-row" id="comment{{comment.id}}">
                      {% if request.user.is_superuser or request.user.role == 'ADMIN' or request.user == comment.commented_by %}
                      <div class="float-right right-container">
                        <div class="list-row-buttons btn-group float-right">
                          <button class="btn primary_btn btn-sm dropdown-toggle" data-toggle="dropdown"
                            type="button">Actions <span class="caret"></span></button>
                          <ul class="dropdown-menu text-center"
                            style='width: fit-content; min-width: -webkit-fill-available;'>
                            <li>
                              <a class="action"
                                style='padding: 0.5em; background: #17a2b8; color:white; font-weight: 600;'
                                onclick="edit_comment({{comment.id}})">Edit</a>
                            </li>
                            <li>
                              <a class="action"
                                style='padding: 0.5em; background: #17a2b8; color:white; font-weight: 600;'
                                onclick="remove_comment({{comment.id}})">Remove</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      {% endif %}
                      <div class="stream-post-container" id="comment_name{{comment.id}}">
                        <pre>{{ comment.comment }}</pre>
                      </div>
                      <div class="stream-container">
                        <pre class="float-left">{{ comment.commented_by}}</pre>
                        <pre class="float-right date"
                          title="{{ comment.commented_on }}">{{ comment.commented_on_arrow }}</pre>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="modal fade" id="Comments_Leads_Modal" role="dialog" data-keyboard="false"
                data-backdrop="static">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Update Your Comment</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>

                    </div>
                    <form id="comment_edit_form" method="POST">
                      <div class="modal-body">
                        <div class="form-group">
                          <textarea class="form-control mentions" textarea cols="40" rows="3" id="id_editcomment"
                            name="comment" placeholder="Submit Your Comments" style="color:black;"></textarea><span>
                            <p id="CommentEditError" style="display:none; color:red"></p>
                          </span>
                          <input type="hidden" value="{{ lead.id }}" name="leadid">
                          <input type="hidden" value="" name="commentid" id="commentid">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-default save" id="comment_edit" type="submit">Update</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Comments Section Ends-->
        </div>
      </div>
      <tr id="meeting{{ meeting.id }}">
    </div>
    <div class="overview_form_block row marl justify-content-center" id="loading_spinner"
      style="z-index: 10; left: 0; right: 0; vertical-align: middle; position: absolute; margin-top: 15%;">

      <div class="spinner-border text-primary" style="width: 5em; height: 5em;" role="status">
        <span class="sr-only">Processing File...</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_block %}
<script src="{% static 'js/calls.js' %}"></script>
<script src="{% static 'js/meetings.js' %}"></script>
<script type="text/javascript">
  $('#loading_spinner').hide()

  var assigned_to_list = "{{ assigned_data }}";
  assigned_to_list = JSON.parse(assigned_to_list.replace(/&(l|g|quo)t;/g, function (a, b) {
    return {
      l: '<',
      g: '>',
      quo: '"'
    }[b];
  }));

  function resetForm() {
    $('#CommentEditError').hide()
    document.getElementById("CommentEditError").reset();
  }

  $("#comment_form").submit(function (e) {
    e.preventDefault()
    const formData = new FormData($("#comment_form")[0]);
    $.ajax({
      url: "{% url 'leads:add_comment' %}",
      type: "POST",
      data: formData,
      cache: false,
      contentType: false,
      processData: false,
      success: function (data) {
        if (data.error) {
          $("#CommentError").html(data.error).show()
        } else {
          d = new Date(data.commented_on);
          let options = {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
            hour: '2-digit',
            minute: '2-digit'
          };
          d = d.toLocaleString('en-us', options);
          $("#comments_div").prepend("<li class='list-group-item list-row' id='comment" + data.comment_id + "'>" +
            "<div class='float-right right-container'>" +
            "<div class='list-row-buttons btn-group float-right'>" +
            "<button class='btn primary_btn btn-sm dropdown-toggle' data-toggle='dropdown' type='button'><span class='caret'></span>Actions</button>" +
            "<ul style='width: fit-content; min-width: -webkit-fill-available;' class='dropdown-menu text-center'>" +
            "<li><a style='padding: 0.5em; background: #17a2b8; color:white; font-weight: 600;' class='action' onclick='edit_comment(" + data.comment_id + ")'>Edit</a></li>" +
            "<li><a style='padding: 0.5em; background: #17a2b8; color:white; font-weight: 600;' class='action' onclick='remove_comment(" + data.comment_id + ")''>Remove</a></li></ul></div></div>" +
            "<div class='stream-post-container' id='comment_name" + data.comment_id + "'><pre>" + data.comment + "</pre></div>" +
            "<div class='stream-container'><pre class='float-left'>" + data.commented_by + "</pre><pre class='float-right' title='" + d.toLocaleString('en-US', { hour12: true }) + "'>" + data.commented_on_arrow + "</pre></div>" +
            "<div class='stream-date-container' id='comment_file_div" + data.comment_id + "'><div id='new_comment" + data.comment_id + "'</div></div></li>"
          );
          $("#id_comments").val("")
          alert("Comment Submitted")
          $("#CommentError").html("")
        }
      }
    })
  });

  function edit_comment(x) {
    $('#Comments_Leads_Modal').modal('show');
    comment = $("#comment_name" + x).text()
    $("#commentid").val(x)
    $("#id_editcomment").val(comment)
  }

  $("#comment_edit").click(function (e) {
    e.preventDefault()
    const formData = new FormData($("#comment_edit_form")[0]);
    $.ajax({
      url: "{% url 'leads:edit_comment' %}",
      type: "POST",
      data: formData,
      cache: false,
      contentType: false,
      processData: false,
      success: function (data) {
        if (data.error) {
          $("#CommentEditError").html(data.error).show()
        } else {
          $("#comment_name" + data.commentid).html('<pre>' + data.comment + '</pre>')
          $('#Comments_Leads_Modal').modal('hide');
          $("#id_editcomment").val("")
          $("#CommentEditError").html("")
        }
      }
    })
  });

  function HideError(e) {
    $("#CommentError").hide()
    $("#AttachmentError").hide()
  }

  function remove_comment(x) {
    const con = confirm("Do you want to Delete it for Sure!?");
    if (con == true) {
      $.post('{% url "leads:remove_comment" %}', {
        "comment_id": x
      }, function (data) {
        if (data.error) {
          alert(data.error)
        } else {
          $("#comment" + data.cid).remove()
        }
      })
    }
  }

  $("#attachment_form").submit(function (e) {
    e.preventDefault()
    const formData = new FormData($("#attachment_form")[0]);
    $.ajax({
      url: "{% url 'leads:add_attachment' %}",
      type: "POST",
      data: formData,
      cache: false,
      contentType: false,
      processData: false,
      beforeSend: function () {
        $('#loading_spinner').show()
        $('#opacity_block').addClass('opacity_block')
      },
      success: function (data) {
        if (data.error) {
          $("#AttachmentError").html(data.error).show()
          $('#loading_spinner').hide()
          $('#opacity_block').removeClass('opacity_block')
        } else {
          d = new Date(data.created_on)
          let options = {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
            hour: '2-digit',
            minute: '2-digit'
          };
          d = d.toLocaleString('en-us', options);
          $("#attachment_div").prepend(
            "<li class='list-group-item list-row' id='attachment" + data.attachment_id + "'>" +
            "<div class='float-right right-container'><div class='list-row-buttons btn-group float-right'><button class='action btn primary_btn' onclick='remove_attachment(" + data.attachment_id + ")''>Remove</button></div></div>" +
            "<div class='stream-post-container' id='attachment_name" + data.attachment_id + "'>" +
            `${(data.file_type[0]).startsWith('image') ? `<img src=${data.attachment_url} width="80px" height="80px" class="mb-2">` : ''}` +
            "<pre><span class='icon'><i style='font-size:1.5rem;' class='" + data.attachment_display + "'></i>&nbsp;&nbsp;</span>" + data.attachment + "&nbsp; &nbsp;<a href='" + data.download_url + "'>Download</a></pre></div>" +
            "<div class='stream-container'><pre class='float-left'>" + data.created_by + "</pre><pre class='float-right date' title='" + d.toLocaleString('en-US', { hour12: true }) + "'>" + data.created_on_arrow + "</pre></div>" +
            "</li>"
          );
          $("#id_attachments").val("")
          // alert("Attachment Saved")
          $("#AttachmentError").html("")
          $('#loading_spinner').hide()
          $('#opacity_block').removeClass('opacity_block')
          setTimeout(() => {
            alert("Attachment Saved")
          }, 100);
        }
      }
    })
  });


  function remove_attachment(x) {
    const con = confirm("Do you want to Delete it for Sure!?");
    if (con == true) {
      $.post('{% url "leads:remove_attachment" %}', {
        "attachment_id": x
      }, function (data) {
        if (data.error) {
          alert(data.error)
        } else {
          $("#attachment" + data.aid).remove()
        }
      })
    }
  }

</script>
<script src="{% static 'js/bootstrap-suggest.js' %}"></script>
<script>
  $('.mentions').suggest('@', {
    data: {{ users_mention| safe}},
    map: function (user) {
      return {
        value: user.username,
        text: '<strong>' + user.username + '</strong>'
      }
    }
 })
</script>
{% endblock js_block %}