{% extends 'sales/base.html' %}
{% load staticfiles %}
{% load paginate %}
{% load thumbnail %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
  .form-group label {
    font-weight: 800;
  }

  .table_container_row .card .card-body table tbody .due_date td {
    color: red;
  }
</style>
{% endblock %}
{% block content %}
<!-- main_container starts here -->
<div class="main_container">
  <!-- heading_create starts here -->
  <div class="row marl">
    <div class="col-lg-12 text-right">
      <span class="d-inline"><a class="primary_btn" href="{% url 'invoices:invoices_create'%}"><i
            class="fa fa-plus"></i>
          Add New
          Invoice</a></span>
    </div>
  </div>
  <!-- heading_create ends here -->
  <div class="filter_row list_filter_row row marl">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form id="leads_filter" action="" method="POST">
            <div class="card-body ">
              <div class="card-title">Filters</div>
              <div class="row marl">
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Invoice Title or Number</label>
                    <input type="text" class="form-control" placeholder="Invoice Title or Number"
                      name="invoice_title_number" value="{{request.POST.invoice_title_number}}">
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Created By</label>
                    <select name="created_by" id="created_by" class="assigned_users_ form-control">
                      <option value="">
                        ------------------</option>
                      {% for user in created_by_users %}
                      <option value="{{user.id}}" {% if user.id|slugify == request.POST.created_by %} selected=""
                        {% endif %}>
                        {{user.email}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Assigned Users</label>
                    <select class="assigned_users form-control" name="assigned_to" multiple="multiple">
                      {% for user in users %}
                      <option value="{{user.id}}" {% if user.id|slugify in assigned_to %} selected="" {% endif %}>
                        {{user.email}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Status</label>
                    <select class="form-control" id="id_status" name="status">
                      <option value="">--Status of Invoice--</option>
                      {% for each_status in status %}
                      <option value="{{each_status.0}}" {% if request.POST.status %}
                        {% ifequal each_status.0 request.POST.status %}selected{% endifequal %}{% endif %}>
                        {{each_status.1}} </option>
                      {% endfor%}
                    </select>
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Total Amount</label>
                    <input type="number" class="form-control" placeholder="Total Amount" name="total_amount"
                      value="{{request.POST.total_amount}}">
                  </div>
                </div>
                <input type="hidden" name="tab_status" id="tab_status">
                <div class="filter_col col-2">
                  <div class="form-group buttons_row">
                    <button class="btn btn-primary save" type="submit">Search</button>
                    <a href="{% url 'invoices:invoices_list' %}" class="btn btn-default clear">Clear</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-xl-12">
    <div class="table_container_row row marl no-gutters">
      <div class="col-md-12">
        <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="open-tab" data-toggle="tab" href="#open" role="tab" aria-controls="open"
              aria-selected="true">Open ({{open_leads|length}})</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="close-tab" data-toggle="tab" href="#close" role="tab" aria-controls="close"
              aria-selected="false">Closed ({{close_leads|length}})</a>
          </li>
        </ul> -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="open" role="tabpanel" aria-labelledby="open">
            <div class="card">
              <div class="card-body">
                <div class="card-title text-right">
                  <span class="float-left">Invoices - {% if show_pageitems %}
                    {% show_pageitems %}{% else %}
                    {{ invoices|length }}{% endif %}</span>
                  <span class="filter_toggle">
                    <a href="#" class="primary_btn"><i class="fas fa-filter"></i></a>
                  </span>
                </div>
                <div class="table-responsive">
                  <table class="table ">
                    <thead>
                      {% if invoices|length > 0 %}
                      <tr>
                        <th width="5%">ID</th>
                        <th width="5%">Invoice Title</th>
                        <th width="5%">Invoice Number</th>
                        <th width="5%">Email</th>
                        <th width="5%">Status</th>
                        <th width="10%">Assigned To</th>
                        <th width="5%">Created by</th>
                        <th width="5%">Created On</th>
                        <th width="10%">Actions</th>
                      </tr>
                      {% endif %}
                    </thead>
                    <tbody>
                      {% if per_page %}
                      {% paginate per_page invoices %}
                      {% else %}
                      {% paginate 10 invoices %}
                      {% endif %}
                      {% for invoice in invoices %}
                      {% if invoice.due_date < today %}
                      <tr class="text-center due_date">
                        <td scope="row" >{{ forloop.counter }}</td>
                        <td><a style="color: red;" href="#" data-toggle="modal" data-target="#exampleModalCenter_invoice{{invoice.id}}">
                            {{ invoice.invoice_title }} </a></td>
                        <td>{{ invoice.invoice_number }} </td>
                        <td>{{ invoice.email }} </td>
                        <td>{{ invoice.status }} </td>
                        <td>
                          {% with users=invoice.get_team_and_assigned_users %}
                          {% for user in users %}
                          {% if user.profile_pic %}
                          {% thumbnail user.profile_pic "40x40" crop="center" as im %}
                          <a href="{% url 'common:view_user' user.id %}">
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                              title="{{ user.email }}">
                          </a>
                          {% endthumbnail %}
                          {% else %}
                          <a href="{% url 'common:view_user' user.id %}">
                            <img src="{% static 'images/user.png' %}" title="{{ user.email }}" width="40" height="40">
                          </a>
                          {% endif %}
                          {% empty %}
                          None
                          {% endfor %}
                          {% endwith %}
                        </td>
                        <td>
                          {% if invoice.created_by %}
                          {% if invoice.created_by.profile_pic %}
                          {% thumbnail invoice.created_by.profile_pic "40x40" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                            title="{{ invoice.created_by }}" style="border-radius: 50%" />
                          {% endthumbnail %}
                          {% else %}
                          <img src="{% static 'images/user.png' %}" alt="Micro profile pic"
                            style="width: 40px;height: 40px;border-radius: 50%;" title="{{ invoice.created_by }}" />
                          {% endif %}
                          {% else %}
                          None
                          {% endif %}
                        </td>
                        <td title="{{ invoice.created_on }}">{{ invoice.created_on_arrow }}</td>
                        <td class="actions">
                          <a href="{% url 'invoices:invoice_edit' invoice.id %}" class="btn btn-success edit" title="Edit"><i
                              class="fas fa-pencil-alt"></i></a>
                          {% if request.user == invoice.created_by or request.user.role == "ADMIN" or request.user.is_superuser %}
                          <a href="{% url 'invoices:invoice_details' invoice.id %}" class="btn btn-info edit" title="View"><i
                              class="fas fa-eye"></i></a>
                          <a href="{% url 'invoices:invoice_delete' invoice.id %}"
                            class="btn btn-danger delete remove_account" title="Delete" ><i class="fas fa-trash-alt"></i></a>
                          {% if invoice.is_draft %}
                          <a href="{% url 'invoices:invoice_send_mail' invoice.id %}" title="Send Mail"
                            class="btn btn-info to_send_mail"><i class="fas fa-paper-plane"></i></a>
                          {% endif %}
                          {% if invoice.is_sent == True %}
                          <a href="{% url 'invoices:invoice_send_mail' invoice.id %}" title="Re Send Mail"
                            class="btn btn-secondary to_re_send_mail"><i class="fas fa-paper-plane"></i></a>
                          <a href="{% url 'invoices:invoice_change_status_paid' invoice.id %}" title="Paid"
                            class="btn btn-info to_paid"><i class="fas fa-check-square"></i></a>
                          <a href="{% url 'invoices:invoice_change_status_cancelled' invoice.id %}" title="Cancel"
                            class="btn btn-danger to_cancel" style="background-color: red;"><i
                              class="fas fa-window-close"></i></a>
                          {% endif %}
                          {% if invoice.is_resent %}
                          <a href="{% url 'invoices:invoice_change_status_paid' invoice.id %}" title="Paid"
                            class="btn btn-info to_paid"><i class="fas fa-check-square"></i></a>
                          <a href="{% url 'invoices:invoice_change_status_cancelled' invoice.id %}" title="Cancel"
                            class="btn btn-danger to_cancel" style="background-color: red;"><i
                              class="fas fa-window-close"></i></a>
                          {% endif %}
                          {% if invoice.is_paid_or_cancelled == True %}
                          <!-- <a  title="re send mail" class="btn btn-secondary">no actions</a> -->
                          {% endif %}
                          {% endif %}
                        </td>
                      </tr>
                      {% else %}
                      <tr class="text-center">
                        <td scope="row">{{ forloop.counter }}</td>
                        <td><a href="#" data-toggle="modal" data-target="#exampleModalCenter_invoice{{invoice.id}}">
                            {{ invoice.invoice_title }} </a></td>
                        <td>{{ invoice.invoice_number }} </td>
                        <td>{{ invoice.email }} </td>
                        <td>{{ invoice.status }} </td>
                        <td>
                          {% with users=invoice.get_team_and_assigned_users %}
                          {% for user in users %}
                          {% if user.profile_pic %}
                          {% thumbnail user.profile_pic "40x40" crop="center" as im %}
                          <a href="{% url 'common:view_user' user.id %}">
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                              title="{{ user.email }}">
                          </a>
                          {% endthumbnail %}
                          {% else %}
                          <a href="{% url 'common:view_user' user.id %}">
                            <img src="{% static 'images/user.png' %}" title="{{ user.email }}" width="40" height="40">
                          </a>
                          {% endif %}
                          {% empty %}
                          None
                          {% endfor %}
                          {% endwith %}
                        </td>
                        <td>
                          {% if invoice.created_by %}
                          {% if invoice.created_by.profile_pic %}
                          {% thumbnail invoice.created_by.profile_pic "40x40" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                            title="{{ invoice.created_by }}" style="border-radius: 50%" />
                          {% endthumbnail %}
                          {% else %}
                          <img src="{% static 'images/user.png' %}" alt="Micro profile pic"
                            style="width: 40px;height: 40px;border-radius: 50%;" title="{{ invoice.created_by }}" />
                          {% endif %}
                          {% else %}
                          None
                          {% endif %}
                        </td>
                        <td title="{{ invoice.created_on }}">{{ invoice.created_on_arrow }}</td>
                        <td class="actions">
                          <a href="{% url 'invoices:invoice_edit' invoice.id %}" class="btn btn-success edit" title="Edit"><i
                              class="fas fa-pencil-alt"></i></a>
                          {% if request.user == invoice.created_by or request.user.role == "ADMIN" or request.user.is_superuser %}
                          <a href="{% url 'invoices:invoice_details' invoice.id %}" class="btn btn-info edit" title="View" ><i
                              class="fas fa-eye"></i></a>
                          <a href="{% url 'invoices:invoice_delete' invoice.id %}"
                            class="btn btn-danger delete remove_account" title="Delete"><i class="fas fa-trash-alt"></i></a>
                          {% if invoice.is_draft %}
                          <a href="{% url 'invoices:invoice_send_mail' invoice.id %}" title="Send Mail"
                            class="btn btn-info to_send_mail"><i class="fas fa-paper-plane"></i></a>
                          {% endif %}
                          {% if invoice.is_sent == True %}
                          <a href="{% url 'invoices:invoice_send_mail' invoice.id %}" title="Re Send Mail"
                            class="btn btn-secondary to_re_send_mail"><i class="fas fa-paper-plane"></i></a>
                          <a href="{% url 'invoices:invoice_change_status_paid' invoice.id %}" title="Paid"
                            class="btn btn-info to_paid"><i class="fas fa-check-square"></i></a>
                          <a href="{% url 'invoices:invoice_change_status_cancelled' invoice.id %}" title="Cancel"
                            class="btn btn-danger " style="background-color: red;"><i
                              class="fas fa-window-close to_cancel"></i></a>
                          {% endif %}
                          {% if invoice.is_resent %}
                          <a href="{% url 'invoices:invoice_change_status_paid' invoice.id %}" title="Paid"
                            class="btn btn-info to_paid"><i class="fas fa-check-square"></i></a>
                          <a href="{% url 'invoices:invoice_change_status_cancelled' invoice.id %}" title="Cancel"
                            class="btn btn-danger to_cancel" style="background-color: red;"><i
                              class="fas fa-window-close"></i></a>
                          {% endif %}
                          {% if invoice.is_paid_or_cancelled == True %}
                          <!-- <a  title="re send mail" class="btn btn-secondary">no actions</a> -->
                          {% endif %}
                          {% endif %}
                        </td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {%ifequal invoices|length 0%}
                <h6 class="text-center">No Invoices Found</h6>
                {%endifequal%}
                <div class="marl row text-center">
                  {% show_pages %}
                </div>
              </div>
            </div>
          </div>
          <!-- second tab for closed and other statuses -->
          <!--
          <div class="tab-pane fade show active" id="open" role="tabpanel" aria-labelledby="open">
            <div class="card">
              <div class="card-body">
                <div class="card-title text-right">
                  <span class="float-left">Open Leads - {% if show_pageitems %}
                    {% show_pageitems %}{% else %}
                    {{ open_leads|length }}{% endif %}</span>
                  <span class="filter_toggle">
                    <a href="#" class="primary_btn"><i class="fas fa-filter"></i></a>
                  </span>
                </div>
                <div class="table-responsive">
                  <table class="table ">
                    <thead>
                      {% if invoices|length > 0 %}
                      <tr>
                        <th width="5%">ID</th>
                        <th width="10%">Invoice Title</th>
                        <th width="8%">Invoice Number</th>
                        <th width="10%">Email</th>
                        <th width="10%">Status</th>
                        <th width="20%">Assigned To</th>
                        <th width="15%">Created by</th>
                        <th width="10%">Created On</th>
                        <th width="10%">Actions</th>
                      </tr>
                      {% endif %}
                    </thead>
                    <tbody>
                      {% if per_page %}
                      {% paginate per_page invoices %}
                      {% else %}
                      {% paginate 10 invoices %}
                      {% endif %}
                      {% for invoice in invoices %}
                      <tr class="text-center">
                        <td scope="row">{{ forloop.counter }}</td>
                        <td><a href="">
                            {{ invoice.invoice_title }} </a></td>
                        <td>{{ invoice.invoice_number }} </td>
                        <td>{{ invoice.email }} </td>
                        <td>{{ invoice.status }} </td>
                        <td>
                          {% with users=invoice.assigned_to.all %}
                          {% for user in users %}
                          {% if user.profile_pic %}
                          {% thumbnail user.profile_pic "40x40" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                            title="{{ user.email }}">
                          {% endthumbnail %}
                          {% else %}
                          <img src="{% static 'images/user.png' %}" title="{{ user.email }}" width="40" height="40">
                          {% endif %}
                          {% empty %}
                          Not Assigned to Any
                          {% endfor %}
                          {% endwith %}
                        </td>
                        <td>
                          {% if invoice.created_by.profile_pic %}
                          {% thumbnail invoice.created_by.profile_pic "40x40" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                            title="{{ lead.created_by }}">
                          {% endthumbnail %}
                          {% else %}
                          <img src="{% static 'images/user.png' %}" alt="Micro profile pic"
                            style="width: 40px;height: 40px;" />
                          {% endif %}
                        </td>
                        <td>{{ invoice.created_on }}</td>
                        <td class="actions">
                          <a href="" class="btn btn-success edit"><i
                              class="fas fa-pencil-alt"></i></a>
                          {% if request.user == lead.created_by or request.user.role == "ADMIN" or request.user.is_superuser %}
                          <a href=""
                            class="btn btn-danger delete remove_account"><i class="fas fa-trash-alt"></i></a>
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {%ifequal invoices|length 0%}
                <h6 class="text-center">No Invoices Found</h6>
                {%endifequal%}
                <div class="marl row text-center">
                  {% show_pages %}
                </div>
              </div>
            </div>
          </div>
        -->
          <!-- second tab div for closed or another status -->
        </div>
      </div>
    </div>
  </div>
</div>


{% for invoice in invoices %}

<div class="modal fade" id="exampleModalCenter_invoice{{invoice.id}}" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ invoice.invoice_title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- ... -->
        <div class="" id="">
          <div class="">
            <div class="col-md-12" id="">
              <div class="card">
                <div class="card-body" id="datashow" style="margin: 0; padding: 0;">
                  <div class="card-title text-right">
                    <h5>
                      <!-- <span class="float-left title">Overview</span> -->
                      <span style="margin-top: 0px">
                        <!-- <div class="dropdown buttons_row">
                          <a href="{% url 'invoices:invoice_download' invoice.id %}" id="download_btn_"
                            class="btn btn-info" style="padding: 0.12em 0.6em;border-radius: 0;">Download</a>
                          <button class="btn primary_btn dropdown-toggle" type="button" data-toggle="dropdown">Actions
                            <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="{% url 'invoices:invoice_edit' invoice.id %}">Edit</a></li>
                          </ul>
                        </div> -->
                      </span>
                    </h5>
                  </div>
                  <div class="row marl">
                    <div class="col-md-4">
                      {% if invoice.invoice_title %}
                      <div class="filter_col col-md-12" id="iname">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_name" data-name="name">Invoice Title</label>
                          <div class="account_field" id="account_name" data-name="name">{{ invoice.invoice_title }}
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      {% if invoice.invoice_number %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_phone" data-name="name">Invoice Number</label>
                          <div class="account_field" id="account_phone" data-name="name">{{ invoice.invoice_number }}
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      {% if invoice.name %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_status" data-name="name">Name</label>
                          <div class="account_field" id="account_status" data-name="name">{{ invoice.name }}</div>
                        </div>
                      </div>
                      {% endif %}
                      {% if invoice.email %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_status" data-name="name">Email</label>
                          <div class="account_field" id="account_status" data-name="name">{{ invoice.email }}</div>
                        </div>
                      </div>
                      {% endif %}
                      {% if invoice.phone %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_status" data-name="name">Phone</label>
                          <div class="account_field" id="account_status" data-name="name">{{ invoice.phone }}</div>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                    <div class="col-md-4">
                      {% if invoice.quantity %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_due_date" data-name="name">Quantity</label>
                          <div class="account_field" id="account_email" data-name="name">{{ invoice.quantity }}</div>
                        </div>
                      </div>
                      {% endif %}
                      {% if invoice.rate %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_email" data-name="name">Rate</label>
                          <div class="account_field" id="account_email" data-name="name">{{ invoice.rate }}</div>
                        </div>
                      </div>
                      {% endif %}
                      {% if invoice.total_amount %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_email" data-name="name">Total Amount</label>
                          <div class="account_field" id="account_email" data-name="name">{{ invoice.total_amount }}
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      {% if invoice.currency %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_website" data-name="name">Currency</label>
                          <div class="account_field" id="account_website" data-name="name">{{ invoice.currency }}</div>
                        </div>
                      </div>
                      {% endif %}
                      {% if invoice.status %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_website" data-name="name">Status</label>
                          <div class="account_field" id="account_website" data-name="name">{{ invoice.status }}</div>
                        </div>
                      </div>
                      {% endif %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_website" data-name="name">Email Status</label>
                          {% if invoice.is_email_sent %}
                          <div class="account_field" id="account_website" data-name="name">Email was sent.</div>
                          {% else %}
                          <div class="account_field" id="account_website" data-name="name">No Email sent.</div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">

                      {% if invoice.due_date %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_website" data-name="name">Due Date</label>
                          <div class="account_field" id="account_website" data-name="name">{{ invoice.due_date }}</div>
                        </div>
                      </div>
                      {% endif %}

                      {% if invoice.assigned_to.all %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_website" data-name="name">Assigned To</label>
                          {% for user in invoice.assigned_to.all %}
                          <div class="account_field" id="account_website" data-name="name">
                            <a href="{% url 'common:view_user' user.id %}">
                              {{ user }}
                            </a>
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                      {% endif %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          {% if invoice.from_address.address_line or invoice.from_address.street or invoice.from_address.city or invoice.from_address.state or invoice.from_address.postcode or invoice.from_address.country %}
                          <label class="lead_field_label" for="id_address" data-name="name">From Billing Address</label>
                          <div class="lead_field" id="lead_address" data-name="name">
                            {{invoice.from_address.get_complete_address}}
                          </div>
                          {% endif %}
                        </div>
                      </div>
                      <div class="filter_col col-md-12">
                        {% if invoice.to_address.address_line or invoice.to_address.street or invoice.to_address.city or invoice.to_address.state or invoice.to_address.postcode or invoice.to_address.country %}
                        <div class="form-group">
                          <label class="lead_field_label" for="id_address" data-name="name">To Billing Address</label>
                          <div class="lead_field" id="lead_address" data-name="name">
                            {{invoice.to_address.get_complete_address}}
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="col-md-12">
                      {% if invoice.details %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="acc_field_label" for="id_website" data-name="name">Details</label>
                          <div class="account_field" id="account_website" data-name="name">{{ invoice.details }}</div>
                        </div>
                      </div>
                      {% endif %}
                      <div class="created_information">
                        Created by <b>{{ invoice.created_by }}</b> created on
                        <b title="{{ invoice.created_on }}">{{ invoice.created_on_arrow }}</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->


{% endfor %}


{% endblock %}
{% block js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    // $('.due_date').find('*').width('100%');
    $('.assigned_users').select2();
    $('#id_tag').select2();
    $('#created_by').select2();
    $(".filter_toggle").click(function () {
      $(".list_filter_row").toggle();
    });
  });

  search = "{{search}}"

  if (search == 'True') {
    $(".list_filter_row").show();
  }

  $("#close-tab").click(function (e) {
    $("#tab_status").val('Closed')
  })

  $("#open-tab").click(function (e) {
    $("#tab_status").val('Open')
  })

  tab_status = "{{tab_status}}"
  if (tab_status == 'Closed') {
    $("#close-tab").click()
  } else {
    $("#open-tab").click()
  }

  $('.delete').click(function (e) {
    e.preventDefault()
    url = $(this).attr('href')
    if (!confirm('Are you sure you want to delete?'))
      return;
    window.location = $(this).attr('href')
  });

  $('.to_paid').click(function (e) {
    e.preventDefault()
    url = $(this).attr('href')
    if (!confirm('Do you want to change the status to Paid?'))
      return;
    window.location = $(this).attr('href')
  });

  $('.to_cancel').click(function (e) {
    e.preventDefault()
    url = $(this).attr('href')
    if (!confirm('Do you want to cancel the Invoice?'))
      return;
    window.location = $(this).attr('href')
  });

  $('.to_send_mail').click(function (e) {
    e.preventDefault()
    url = $(this).attr('href')
    if (!confirm('Do you want to send an email of the Invoice?'))
      return;
    window.location = $(this).attr('href')
  });

  $('.to_re_send_mail').click(function (e) {
    e.preventDefault()
    url = $(this).attr('href')
    if (!confirm('Do you want to re send an email of the Invoice?'))
      return;
    window.location = $(this).attr('href')
  });

  $("a[rel='page']").click(function (e) {
    e.preventDefault();
    $('#leads_filter').attr("action", $(this).attr("href"));
    $('#leads_filter').submit();
  });
</script>
{% endblock js_block %}