{% for comment in comments %}
<li class="list-group-item list-row" id="comment{{comment.id}}">
  <div class="pull-right right-container">
    <div class="list-row-buttons btn-group pull-right">
      <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" type="button"><span class="caret"></span></button>
      <ul class="dropdown-menu pull-right">
        <li>
          <a class="action" onclick="edit_comment({{comment.id}})" >Edit</a>
        </li>
        <li>
          <a class="action" onclick="remove_comment({{comment.id}})">Remove</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="stream-head-container">{{comment.comment_user}} Commented</div>
  <div class="stream-post-container" id="comment_name{{comment.id}}">{{comment.comment}}</div>
  <div class="stream-date-container">{{comment.comment_time}}</div>
  <span>{%if comment.get_file%}<a href="file:////home/raghu/Documents/Jango/CRM/crm_proj/media/{{comment.comment_file}}">{{comment.get_file}}</a>{% endif %}</span>
  {% endfor %}