{% extends 'sales/base.html' %}
{% load staticfiles %}
{% block breadcrumb %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'cases:list' %}">Cases</a></li>
    <li class="breadcrumb-item active">{% if case_obj %}Edit{% else %}Create{% endif %}</li>
  </ol>
</nav>
{% endblock %}
{% block content %}
<form id="submitForm" method="POST" action="" novalidate enctype="multipart/form-data">
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="card-title text-center">
            {% if case_obj %}EDIT{% else %}CREATE{% endif %} CASE
          </div>
          <div class="row marl no-gutters">
            <div class="col-md-4">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="id_name" class="required">Name{% if case_form.name.field.required %}<span
                      class="error">*</span>{% endif %}</label>
                  {{ case_form.name }}
                  <span class="error error_message" id="error_id_name">{{ case_form.name.errors }}</span>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="id_status" class="required">Status{% if case_form.status.field.required %}<span
                      class="error">*</span>{% endif %}</label>
                  {{ case_form.status }}
                  <span class="error error_message" id="error_id_status">{{ case_form.status.errors }}</span>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="id_priority" class="required">Priority{% if case_form.priority.field.required %}<span
                      class="error">*</span>{% endif %}</label>
                  {{ case_form.priority }}
                  <span class="error error_message" id="error_id_priority">{{ case_form.priority.errors }}</span>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="id_case_type">Type of Case{% if case_form.case_type.field.required %}<span
                      class="error">*</span>{% endif %}</label>
                  {{ case_form.case_type }}
                  <span class="error error_message" id="error_id_case_type">{{ case_form.case_type.errors }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="required">Close
                    Date{% if case_form.closed_on.field.required %}<span class="error">*</span>{% endif %}</label>
                  <div class='input-group date' id='datepicker1'>
                    {{ case_form.closed_on }}
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                  <span class="error error_message" id="error_id_closed_on">{{ case_form.closed_on.errors }}</span>
                </div>
              </div>
              {% if request.user.is_superuser or request.user.role == 'ADMIN' %}
              <div class="filter_col col-12">
                <div class="form-group">
                  <label for="id_sattus">Teams{% if case_form.teams.field.required %}<span
                      class="error">*</span>{% endif %}</label>
                  <select name="teams" id="id_teams" class="assigned_users form-control" multiple>
                    {% for team in teams %}
                    <option data-users="{{team.get_users}}" value="{{team.id}}" {% if team in case_obj.teams.all %}
                      selected="" {% endif %}>
                      {{team}}</option>
                    {% endfor %}
                  </select>
                  <span class="error" id="id__teams">{{ case_form.teams.errors }}</span>
                </div>
              </div>

              <div class="filter_col col-12">
                <div class="form-group">
                  <label for="id_sattus"><span class="">Users</span></label>
                  <select name="" aria-readonly="true" id="_id_assigned_to" class=" form-control" multiple>
                    {% if case_obj and case_obj.teams.all %}
                    {% for user in users %}
                    {% if user in case_obj.get_team_users %}
                    <option value="{{user.id}}" selected="">{{user.email}}</option>
                    {% else %}
                    <option value="{{user.id}}">{{user.email}}</option>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    {% for user in users %}
                    <option value="{{user.id}}">{{user.email}}</option>
                    {% endfor %}
                    {% endif %}
                  </select>
                </div>
              </div>

              {% endif %}
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Assigned Users</label>
                  <select class="assigned_users form-control" name="assigned_to" multiple="multiple"
                    id="id_assigned_to">
                    {% for user in users %}
                    <option value="{{user.id}}" {% if user in case_obj.assigned_to.all or user.id in assignedto_list %}
                      selected="" {% endif %}>{{user.email}}</option>
                    {% endfor %}
                  </select>
                  <span class="error error_message" id="error_id_assigned_to">{{ case_form.assigned_to.errors }}</span>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="id_account">Account{% if case_form.account.field.required %}<span
                      class="error">*</span>{% endif %}</label>
                  {% if account %}
                  <select name="account" placeholder="Account" class="form-control" id="id_account" readonly>
                    <option value="{{account.id}}" selected="">{{account.name}}</option>
                  </select>
                  {% else %}
                  {{case_form.account}}
                  {% endif %}
                  <span class="error error_message" id="error_id_account">{{case_form.account.errors}}</span>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Attachment</label>
                  <input type="file" name="case_attachment" id="case_attachment">
                  {% if case_obj.case_attachment.count %}
                  {% for attachment in case_obj.case_attachment.all %}
                  <div id="attachment{{attachment.id}}" class="mt-2">
                    <a target="_blank" href="{{ attachment.attachment.url }}">{{ attachment.file_name }}</a>
                    {% if not attachment.created_by.role == 'ADMIN' or attachment.created_by.role == request.user.role %}
                    <a class="action btn primary_btn" onclick="remove_attachment({{attachment.id}})">X</a>
                    {% endif %}
                  </div>
                  {% endfor %}
                  {% endif %}
                  <span class="error error_message" id="error_id_case_attachment"></span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="id_contacts">Contacts{% if case_form.contacts.field.required %}<span
                      class="error">*</span>{% endif %}</label>
                  {{ case_form.contacts }}
                  <span class="error error_message" id="error_id_contacts">{{case_form.contacts.errors}}</span>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="id_description">Description{% if case_form.description.field.required %}<span
                      class="error">*</span>{% endif %}</label>
                  {{ case_form.description }}
                  <span class="error error_message" id="error_id_description">{{ case_form.description.errors }}</span>
                </div>
              </div>
            </div>
            <input type="hidden" name="from_account" value="{{request.GET.view_account}}">
            {% if request.GET.view_account %}
            <input type="hidden" name="account" value="{{request.GET.view_account}}">
            {% endif %}
            <input type="hidden" id="save_new_form" name="savenewform">
            <div class="col-md-12">
              <div class="row marl buttons_row text-center form_btn_row">
                <button class="btn btn-default save" type="submit" id="submit_btn">Save</button>
                {% if not case_obj %}
                <button class="btn btn-success save savenew" type="submit">Save & New</button>
                {% endif %}
                <a {% if request.GET.view_account %} href="{% url 'accounts:view_account' request.GET.view_account %}"
                  {% else %} href="{% url 'cases:list' %}" {% endif %} class="btn btn-default clear">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br clear="all">
  </div>
</form>
<div class="row marl justify-content-center text-center mt-5 mb-5" id="progress_bar">
  <!-- <div class="mt-5 mb-5"></div> -->
  <div class="progress position-relative" style="width:40%;height:1.5rem;">
    <span class="justify-content-center d-flex position-absolute w-100 percent">0%</span>
    <div class="progress-bar bar"></div>
  </div>
</div>
{% endblock %}
{% block js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://malsup.github.io/jquery.form.js"></script>
<script type="text/javascript">

  var bar = $('.bar');
  var percent = $('.percent');

  $('#progress_bar').hide()
  $('#_id_assigned_to').select2({ disabled: 'readonly' });


  $('form#submitForm').ajaxForm({
    type: 'POST',
    dataType: 'json',
    url: ".",
    data: $('#submitForm').serialize(),
    beforeSubmit: disableButton,
    beforeSend: function () {
      var percentVal = '0%';
      bar.width(percentVal);
      percent.html(percentVal);
    },
    uploadProgress: function (event, position, total, percentComplete) {
      var percentVal = percentComplete + '%';
      bar.width(percentVal);
      if (percentVal == '100%') {
        percent.html('Uploading ...')
      }
      else {
        percent.html(percentVal);
      }
    },
    success: function (data) {
      if (data.error) {
        $('#progress_bar').hide()
        $('.error_message').html('')
        for (var key in data.errors) {
          $('#error_id_' + key).html("<p>" + data.errors[key][0] + "</p>");
        };
        $('#submit_btn').removeAttr('disabled')
      }
      else {
        window.location = data.success_url;
      }
    }
  });


  $('#submit_btn').click(function () {
    var file = $('#case_attachment')[0].files[0];
    if (file && file.name.length > 0) {
      var percentVal = '0%';
      bar.width(percentVal);
      percent.html(percentVal);
      $('#progress_bar').show()
    }

  });

  function disableButton() {
    // $('#progress_bar').show()
    $('#submit_btn').attr('disabled', 'disabled')
  }

  $(function () {
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    $('#id_closed_on').datetimepicker({
      'format': 'YYYY-MM-DD',
      minDate: today
    })
  });

  $(".savenew").on('click', function (e) {
    e.preventDefault()
    $("#save_new_form").val('true')
    $('#submitForm').submit()
  });
  $(document).ready(function () {
    $('.assigned_users').select2();
    $("#id_contacts").select2();
    $("#id_teams").select2();
  });

  $('#id_account').change(function () {
    var account = $("#id_account").val()
    $.get("{% url 'cases:select_contacts' %}", { "account": account }, function (data) {
      $("#id_contacts").html("")
      $.each(data, function (index, value) {
        $("#id_contacts").append("<option value=" + index + ">" + value + "</option>")
      });
    })
  });

  function remove_attachment(x) {
    const con = confirm("Do you want to Delete it for Sure!?");
    if (con == true) {
      $.post('{% url "cases:remove_attachment" %}', {
        "attachment_id": x
      }, function (data) {
        if (data.error) {
          alert(data.errors)
        } else {
          $("#attachment" + data.attachment_object).remove()
        }
      })
    }
  }

  $("#id_teams").change(function (e) {
    try {
      var users = []
      $('#id_teams option:selected').each(function () {
        // users.push($(this).attr('data-users'))
        _data = $(this).attr('data-users');
        if (!users) {
          // users = []
        } else {
          users = users.concat(_data.split(','))
        }
      })
      // users = $('option:selected', this).attr('data-users')
      // if (!users) {
      //   users = []
      // } else {
      //   users = users.split(',')
      // }
      console.log('selected users teams data', users)
      var existingUsers = $('#id_assigned_to').val();
      var allUsers = users.concat(existingUsers)
      console.log(existingUsers)
      if (users.length) {
        $('#_id_assigned_to').select2().val(allUsers).trigger('change');

      }
    } catch (error) {
      console.log(error)
      $('#_id_assigned_to').select2().val(existingUsers).trigger('change');
    }

  });
</script>
{% endblock js_block %}