@import "ref.scss";
body {
  font-family: 'Muli', sans-serif;
  padding: 0;
  font-weight: 500;
  margin: 0;
  padding-top:60px; 
}
.login_register_body {
  background: $body_bg;
}

*{
    font-size: 14px;
    @media(min-width:$large){
      font-size:17px;
    }
  }
.marl {
  margin-left: 0;
  margin-right: 0;
}
.login_row {
}
.login_block {
  margin-top: 75px;
  background: $login_bg;
  -webkit-box-shadow: 10px 10px 0px -4px rgba(0,0,0,0.19);
-moz-box-shadow: 10px 10px 0px -4px rgba(0,0,0,0.19);
box-shadow: 10px 10px 0px -4px rgba(0,0,0,0.19);
  .welcome {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #333;
    span {
      color: $color_cyan_aqua_approx;
      &.create_head {
        color: $color_screamin_green_approx;
      }
    }
  }
}
.login_form_block {
    margin-top: 30px;
    padding:50px 15px;
    .welcome{
      margin-bottom: 20px;
      text-align: center;
    }

  .form-group {
    margin-bottom: 15px;
  }
  label {
    font-size: 12px;
    color: darken($text_color2, 15%);
    font-weight:500;
  }
  .form-control {
    background: #dcdcdc;
    color: $text_color;
    min-height: 40px;
    font-size: 13px;
    letter-spacing: 0.5px;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
    border: none;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
  }
  .btn {
    background: $login_btn_bg;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    color: $white;
    width: 100%;
    outline:none;
    padding: 10px 20px;
    &:hover{
      text-decoration:none;
    }
  }
  .checkbox{
    text-align: center;
    input[type=checkbox]{
      vertical-align: middle;
      margin: 0;
      margin-top: 1px;
      margin-left: -19px;
    }
  }
}


/* inner_pages starts here */
.main_body_bg_color{
  background: $inner_page_bg;
}
header{
  .navbar{
    background: darken($text_color, 15%);
    border:none;
    .navbar-brand{
      color: $login_btn_bg;
      font-weight: 600;
      &:hover{
        color: $login_btn_bg;
      }
    }
    .navbar-nav{
      >li{
        >a{
          color: lighten($text_color3, 10%) !important;
          font-weight: 600;
          font-size: 0.9rem;
          padding:14px 10px;
          padding-top: 16px;
          @media(min-width: $mob_min) and (max-width: $smob_max) {
            padding:5px 10px;
          }
          @media(min-width:$large){
            font-size:1rem;
          }
          &:hover{
            color:#fff !important;
          }
        }
      }
      >.open{
        >a{
          background: $login_btn_bg !important;
         
        }
      }
      li{
         .dropdown-toggle{
            img{
              width: 25px;
              height: 25px;
            }
          }
        .dropdown-menu{
            a{
              font-size: 0.9rem;
              color: darken($text_color,5%);
              svg{
                display: inline-block;
                margin-right: 5px;
                font-size: 0.75rem;
              }
              @media(min-width:$large){
                font-size:0.95rem;
              }
           }
        }
      }
      &.navbar-right{
        .dropdown{
           .dropdown-toggle{
            img{
              width: 25px;
              height: 25px;
            }
          }
          >a{
            background:lighten($text_color,5%);
            color: #fff;
            border-right:1px solid lighten($text_color,10%);
            &.nav-link{
              padding:0.5rem;
            }
            &.nav-link .active {
              color: white;
            }
          }
        }
      }
     /* li{
        a{
          &:hover{
            color:lighten($text_color,15%);
          }
        }
      }*/
    }
    .navbar-form{
      .form-group{
        .form-control{
          border-radius:3px;
          border:none;
        }
      }
      .btn{
        border-radius:3px;
        padding:7px 12px;
        border:none;
        background: $green;
        &.btn-default{
          color: #fff;
        }
      }
    }
  }
}
/* inner_pages ends here */ 

/* CSS used here will be applied after bootstrap.css */
$color_1: #ff7788;
$color_2: #000;

.glyphicon-bell {
  font-size: 1.5rem;
}
.notifications {
  min-width: 420px;
  font-size: 12px;
  padding:0;
  border:none;
  a.content {
    text-decoration: none;
    background: #ccc;
  }
}
.notifications-wrapper {
  overflow: auto;
  max-height: 250px;
}
.menu-title {
  color: #ffffff;
  font-size: 12px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.glyphicon-circle-arrow-right {
  margin-left: 10px;
}
.notification-heading {
  padding: 2px 10px;
  background:lighten($text_color,5%);
  border-top:1px solid lighten($text_color,10%);
}
.notification-footer {
  padding: 2px 10px;
  background:$green;
}
.dropdown-menu.divider {
  margin: 5px 0;
}
.item-title {
  font-size: 12px;
  color: darken($text_color, 15%);
  margin:0;
}
.notification-item {
  padding: 10px;
  margin: 5px;
  background: #ccc;
  border-radius: 4px;
  p{
    margin: 0;
    color: #fff;
    margin-top: 6px;
  }
}

/* main_container stats here  */
.main_container{
  padding-top: 0.8rem;
  .heading_create{
    .heading{
      font-size: 1.1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: darken($text_color, 15%);
      h4{
        font-size: 1.1rem;
        font-weight: 800;        
      }
    }
    .create_new{
     a{
        background: $login_btn_bg;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        text-transform: capitalize;
        letter-spacing: initial;
        display: inline-block;
        padding: 5px 10px 3px 10px;
        /*svg{
          font-size: 0.8rem;
        }*/
        @media(min-width:$large){
          font-size:1rem;
          svg{
            position: relative;
            top: -1px;
          }
        }
        svg{
          display: inline-block;
          margin-right: 5px;
        }
     }
    }
    .search-row{
      .form-group{
        .input-group{
          .left-dropdown{
            .filters-button{
              font-size: 12px;
              background: #fff;
              border:none;
              box-shadow:none;
              margin-top:1px;
            }
            .dropdown-menu{
              li{
                a{
                  font-size: 12px;
                }
                &.checkbox{
                  color: #000;
                  padding-left:10px;
                  font-size: 12px;
                  letter-spacing: 0.4px;
                  input[type=checkbox]{
                    margin:0;
                    margin-left:-10px;
                    margin-top:1px;
                    margin-right:10px;
                  }
                }
              }
            }
          }
          .form-control{
            height: 29px;
            border: none;
            margin-top: 2px;
          }
          .search{
            background: $green;
            color: #fff;
            border:none;
            padding:5px 13px;
            margin-top:2px;
          }
        }
      }
     .extra_option_btn{
        font-size: 12px;
        background: #5b636e;
        border:none;
        color:#fff;
        padding-top:7px;
        padding-bottom: 7px;
        &.add-filter-button{
          background-color: $dark_sky;
        }
      }
      .dropdown-menu{
        font-size: 12px;
      }
    }
  }


  /* filter_row starts here */
  .filter_row{
    margin-top:10px;
    .card{
      border:1px solid #ccc;
      .card-body{
        padding:0px 0;
        .card-title{
          background: #e5e5e5;
          padding:6px 10px;
          font-weight: 600;
          font-size: 1rem;
        }
        .form-group{
          margin-bottom: 10px;
          label{
            color: $text_color;
            font-size: 1rem;
            font-weight: 600;
            text-transform: none;
          }
          .form-control{
            border-radius: 0;
            box-shadow: none;
            font-size: 1rem;
          }
        }
      }
    }
  }
  /* filter_row ends here */
  /* table_container_row starts here */

}
/* main_container ends here */
 .table_container_row{
    margin-top: 10px;
    .card{
      .card-title{
        padding:5px 10px;
        background: #e5e5e5;
        padding:6px 10px;
        font-size: 1rem;
        margin-bottom: 0;
        font-weight: 600;
        .dropdown{
          display: inline-block;
          .dropdown-toggle{
            background: $dark_sky;
            font-size: 12px;
            color:#fff;
            border-radius: 0;
            border:none;
          }
        }
        .mark_read{
          background: $inner_page_bg;
          display: inline-block;
          padding:6px 10px;
          margin-left:6px;
          color: $text_color;
          &:hover{
            background:$text_color;
            color: #fff;
            text-decoration: none;
          }
        }
        .total_count{
          margin-top:0px;
        }
      }
    }
    .card-body{
      padding:0px 0px;
      table{
        thead{
          tr{
            th{
              background: #5b646d;
              color: #fff;
              font-weight: 600;
              /* text-transform: uppercase; */
              font-size: 1rem;
              border: none;
              padding:6px;
            }
          }
        }
        tbody{
          tr{
            td{
              vertical-align: middle;
              color: #454545;
              font-size: 1rem;
              font-weight: 500;
              padding:7px 0;
              @media(min-width: $large){
                font-size:1rem;
              }
              a{
                color: #454545;
              }
              .dropdown{
                .dropdown-toggle{
                  background: $dark_sky;
                  font-size: 12px;
                  color:#fff;
                  border-radius: 0;
                  border:none;
                }  
              }
              &.actions{
                .btn{
                  border-radius: 0;
                  font-size: 1rem;
                  padding:3px 5px;
                  color: #fff;
                  svg{
                    display: inline-block;
                    margin-right: 5px;
                    font-size: 0.85rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  /* mail_menu starts here */
  .mail_menu{
    .panel{
      border-radius: 0;
      padding:0;
      background:none;
      border:0;
      .panel-content{
        padding:0;
        .mail_options{
          margin:0;
          padding: 0;
          li{
            list-style:none;
            a{
              display: block;
              padding: 10px;
              background: $text_color;
              margin: 1px;
              color: white;
              text-transform: uppercase;
              letter-spacing: 0.6px;
              &:hover{
                background:$green;
                color: #fff;
                text-decoration: none;
                border-left: 3px solid white;
              }
            }
            &.active{
              a{
                background:$green;
                color: #fff;
                text-decoration: none;
                border-left: 3px solid white;
              }
            }
          }
        }
      }
    }
  }
  /* mail_menu ends here */
  }
  /* table_container_row ends here */
/* breadcrumb starts here */
.breadcrumb{
 margin:0; 
 background: none;
 .breadcrumb-item{
  a{
    color: $dark_sky;
  }
 }
}
.breadcrumb>li+li:before{
  color:$text_color;
}
/* breadcrumb ends here */
/* assigned_teams starts here */
.assigned_teams{
  @extend .filter_row;
  margin-top:0;
}
/* assigned_teams ends here */ 

/* overview_form_block starts here */
.overview_form_block{
  @extend .filter_row;
  .card-title{
    height: 45px;
    height: auto;
    padding:1.8% 10px !important;
    h5{
      margin-bottom: 0;
      position: relative;
      font-size: 13px;
    }
    .dropdown{
      .dropdown-menu{
        li{
          a{
            font-size: 0.85rem;
            color: #454545;
            text-transform: capitalize !important;
            font-weight: 400;
            display: block;
            padding:5px 8px;
          }
        }
      }
    }
  }
  .buttons_row{
    margin:0;
    position: relative;
    top: -10px;
  }
  .form-control{
    border-radius: 0;
    box-shadow: none;
    font-size: 1rem;
  }
  margin-top:0;
  .country_class{
    margin-top:10px;
  }
  .shiiping_block{
    margin-top:10px;
    .checkbox{
      color: $text_color;
    }
  }
  .filters-button{
    border-radius: 0;
  }
  .website_block{
    margin-top:10px;
  }
  .search{
    border-radius: 0;
  }
  .copy_billing_btn{
    margin-top:10px;
    display: block;
  }
}
/* overview_form_block ends here */
/* details_block starts here */
.details_block{
  @extend .filter_row;
  .form-control{
    border-radius: 0;
    box-shadow: none;
    font-size: 12px;
  }
}
.buttons_row{
  margin-bottom: 20px;
  button{
    border-radius: 0;
    font-size: 1rem;
    font-weight: 600;
    &.save{
      background: $dark_sky;
      color: #fff;
    }
  }
}
/* details_block ends here */
/* attendees starts here */
.attendees{
  @extend .filter_row;
}
/* attendees ends here */



.case-list-container{
  margin-bottom: 15px;
}

.profile_pic{
  text-align: center;
  img{
    width: 125px;
    height: 125px;
    border:4px solid #eee;
  }
}

.error {
  color: red;
}

.error ul {
  list-style-type: none;
  padding: 0px;
}

.view-pad{
padding:0px !important;
  h5{
   width: 90%;
    margin-bottom: 0;
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    text-align: left;
    padding-top: 0px;
  }
  a{
    float: right;
    border-radius: 0;
    font-size: 1rem;
    padding: 3px 10px;
    color: #fff;
    margin-top: -4px;
    &:hover{
      text-decoration:none;
    }
  }

}

.select2-container{
  width: 100% !important;
  border-radius: 0;
  border: 1px solid #ced4da;
}
.select2-container--default .select2-selection--multiple{
  border-radius: 0 important;
  border: none !important;
}