//colors
$white: #fff;
$body_bg: #808080;
$login_bg:#fff;
$text_color:#5a6e79;
$text_color2:#7E849D;
$text_color3:#aaa;
$color_cyan_aqua_approx: #00e5ff;
$color_screamin_green_approx: #7eea51;
$color_apricot_peach_approx: #f6cdab;
$color_blue_dianne_approx: #273e48;
$color_cerise_red_approx: #e92064;
$login_btn_bg:#dc3545;
$info_color:#138496;
$green:#41B871;
$dark_sky:#099CBE;
$dark_yellow:#FEA124;
$inner_page_bg:#CDCDCD;



//mediaviews
$large:1500px;
$med_min:992px;
$med_max:1199px;
$tab_max:991px;
$tab_min:768px;
$smob_max:767px;
$smob_min:480px;
$mob_max:479px;
$mob_min:240px;

.btn-primary{
  bordeR:1x solid $dark_sky !important;
}

.card{
  border:1px solid #ccc;
}
.buttons_row{
  margin-top: 10px;
  margin-bottom: 10px;
  button{
    border-radius: 0;
    font-size: 1rem;
    font-weight: 600;
    &.save{
      background: $dark_sky;
      color: #fff;
    }
  }
   .clear{
    	border:1px solid $dark_sky;
    	border:1px solid $dark_sky;
    	border-radius: 0;
    	color: $dark_sky;
    	font-size: 1rem;
    }
  &.form_btn_row{
  	display: block;
  }  
}
.table-responsive{
	padding:10px;
}
select{
	&.form-control{
		height: 32px ;
	}
}

.mar-top{
	margin-top: 15px;
}
