{% extends 'root_email_template_new.html' %}

{% block preheader %}{{ commented_by }} mentioned you in a comment{% endblock preheader %}

{% block heading %}Hi {{ mentioned_user }},{% endblock heading %}

{% block content_body %}
<p style="margin:0 0 8px 0;">{{ commented_by }} mentioned you in a comment.</p>
{% endblock content_body %}

{% block button_link %}
{% if url %}
<a class="btn-link" href="{{ url }}"
   style="display:inline-block;padding:14px 32px;background-color:#EA580C;color:#ffffff;text-decoration:none;border-radius:6px;font-size:16px;font-weight:600;line-height:1;">
  View Comment
</a>
{% endif %}
{% endblock button_link %}
