/*
Flaticon icon font: Flaticon
*/
@font-face {
	font-family: "Flaticon";
	src: url("../../assets/webfonts/Flaticon.eot");
	src: url("../../assets/webfonts/Flaticon.eot?#iefix") format("embedded-opentype"),
	url("../../assets/webfonts/Flaticon.woff2") format("woff2"),
	url("../../assets/webfonts/Flaticon.woff") format("woff"),
	url("../../assets/webfonts/Flaticon.ttf") format("truetype"),
	url("../../assets/webfonts/Flaticon.svg#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "Flaticon";
		src: url("../../assets/webfonts/Flaticon.svg#Flaticon") format("svg");
	}
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-video-conference:before { content: "\f100"; }
.flaticon-bank:before { content: "\f101"; }
.flaticon-manufacturing:before { content: "\f102"; }
.flaticon-oil:before { content: "\f103"; }
.flaticon-oil-1:before { content: "\f104"; }
.flaticon-suitcase:before { content: "\f105"; }
.flaticon-refresh:before { content: "\f106"; }
.flaticon-checking:before { content: "\f107"; }
.flaticon-hacker:before { content: "\f108"; }
.flaticon-antivirus:before { content: "\f109"; }
.flaticon-internet:before { content: "\f10a"; }
.flaticon-edit:before { content: "\f10b"; }
.flaticon-promotion:before { content: "\f10c"; }
.flaticon-email:before { content: "\f10d"; }
.flaticon-education:before { content: "\f10e"; }
.flaticon-project-management:before { content: "\f10f"; }
.flaticon-social-media:before { content: "\f110"; }
.flaticon-sketch:before { content: "\f111"; }
.flaticon-enterprise:before { content: "\f112"; }
.flaticon-verified:before { content: "\f113"; }
.flaticon-www:before { content: "\f114"; }
.flaticon-data:before { content: "\f115"; }
.flaticon-book:before { content: "\f116"; }
.flaticon-heart:before { content: "\f117"; }
.flaticon-growth:before { content: "\f118"; }
.flaticon-fast-time:before { content: "\f119"; }
.flaticon-domain:before { content: "\f11a"; }
.flaticon-brain:before { content: "\f11b"; }
.flaticon-innovation:before { content: "\f11c"; }
.flaticon-chip:before { content: "\f11d"; }
.flaticon-tools:before { content: "\f11e"; }
.flaticon-startup:before { content: "\f11f"; }
.flaticon-smartphone:before { content: "\f120"; }
.flaticon-process:before { content: "\f121"; }
.flaticon-calendar:before { content: "\f122"; }
.flaticon-shopping-cart:before { content: "\f123"; }
.flaticon-calendar-1:before { content: "\f124"; }
.flaticon-coin:before { content: "\f125"; }
.flaticon-idea:before { content: "\f126"; }
.flaticon-thinking:before { content: "\f127"; }
.flaticon-paper-plane:before { content: "\f128"; }
.flaticon-debit-card:before { content: "\f129"; }
.flaticon-checklist:before { content: "\f12a"; }
.flaticon-university:before { content: "\f12b"; }
.flaticon-database:before { content: "\f12c"; }
.flaticon-promotion-1:before { content: "\f12d"; }
.flaticon-wifi:before { content: "\f12e"; }
.flaticon-soap:before { content: "\f12f"; }
.flaticon-diamond:before { content: "\f130"; }
.flaticon-planet-earth:before { content: "\f131"; }
.flaticon-folder:before { content: "\f132"; }
.flaticon-online-shop:before { content: "\f133"; }
.flaticon-quality:before { content: "\f134"; }
.flaticon-darts:before { content: "\f135"; }
.flaticon-garbage:before { content: "\f136"; }
.flaticon-idea-1:before { content: "\f137"; }
.flaticon-rating:before { content: "\f138"; }
.flaticon-key:before { content: "\f139"; }
.flaticon-discuss-issue:before { content: "\f13a"; }
.flaticon-megaphone:before { content: "\f13b"; }
.flaticon-target:before { content: "\f13c"; }
.flaticon-megaphone-1:before { content: "\f13d"; }
.flaticon-push-pin:before { content: "\f13e"; }
.flaticon-cloud-computing:before { content: "\f13f"; }
.flaticon-megaphone-2:before { content: "\f140"; }
.flaticon-around:before { content: "\f141"; }
.flaticon-rating-1:before { content: "\f142"; }
.flaticon-cake:before { content: "\f143"; }
.flaticon-research:before { content: "\f144"; }
.flaticon-locked:before { content: "\f145"; }
.flaticon-fingerprint:before { content: "\f146"; }
.flaticon-mental-health:before { content: "\f147"; }
.flaticon-folder-1:before { content: "\f148"; }
.flaticon-customer-service:before { content: "\f149"; }
.flaticon-analysis-1:before { content: "\f14a"; }
.flaticon-compose:before { content: "\f14b"; }
.flaticon-graduation-cap:before { content: "\f14c"; }
.flaticon-credit-card:before { content: "\f14d"; }
.flaticon-online-course:before { content: "\f14e"; }
.flaticon-stats:before { content: "\f14f"; }
.flaticon-business-and-trade:before { content: "\f150"; }
.flaticon-business-plan:before { content: "\f151"; }
.flaticon-money:before { content: "\f152"; }
.flaticon-goal:before { content: "\f153"; }
.flaticon-employee:before { content: "\f154"; }
.flaticon-business:before { content: "\f155"; }
.flaticon-money-1:before { content: "\f156"; }
.flaticon-business-1:before { content: "\f157"; }
.flaticon-launch:before { content: "\f158"; }
.flaticon-strategy:before { content: "\f159"; }
.flaticon-contract:before { content: "\f15a"; }
.flaticon-stock-market:before { content: "\f15b"; }
.flaticon-profits:before { content: "\f15c"; }
.flaticon-development:before { content: "\f15d"; }
.flaticon-puzzle-pieces:before { content: "\f15e"; }
.flaticon-benefit:before { content: "\f15f"; }
.flaticon-handcuff:before { content: "\f160"; }
.flaticon-piggy-bank:before { content: "\f161"; }
.flaticon-chat:before { content: "\f162"; }
.flaticon-planning:before { content: "\f163"; }
.flaticon-development-1:before { content: "\f164"; }
.flaticon-solution:before { content: "\f165"; }
.flaticon-contract-1:before { content: "\f166"; }
.flaticon-consultant-services:before { content: "\f167"; }
.flaticon-file:before { content: "\f168"; }
.flaticon-rating-2:before { content: "\f169"; }
.flaticon-group:before { content: "\f16a"; }
.flaticon-trophy:before { content: "\f16b"; }
.flaticon-digital-marketing:before { content: "\f16c"; }
.flaticon-statistics:before { content: "\f16d"; }
.flaticon-consulting:before { content: "\f16e"; }
.flaticon-graphic-design:before { content: "\f16f"; }
.flaticon-development-2:before { content: "\f170"; }
.flaticon-play-button:before { content: "\f171"; }
.flaticon-log-in:before { content: "\f172"; }
.flaticon-automation:before { content: "\f173"; }
.flaticon-customer-support:before { content: "\f174"; }
.flaticon-cloud-storage:before { content: "\f175"; }
.flaticon-mobile-app:before { content: "\f176"; }
.flaticon-ux:before { content: "\f177"; }
.flaticon-seo:before { content: "\f178"; }
.flaticon-application:before { content: "\f179"; }
.flaticon-bullhorn:before { content: "\f17a"; }
.flaticon-web-development:before { content: "\f17b"; }
.flaticon-development-3:before { content: "\f17c"; }
.flaticon-digital-marketing-1:before { content: "\f17d"; }
.flaticon-analytics:before { content: "\f17e"; }
.flaticon-solution-1:before { content: "\f17f"; }
.flaticon-consulting-1:before { content: "\f180"; }
.flaticon-analysis-2:before { content: "\f181"; }
.flaticon-project-management-1:before { content: "\f182"; }
.flaticon-analytics-1:before { content: "\f183"; }
.flaticon-innovation-1:before { content: "\f184"; }
.flaticon-growth-1:before { content: "\f185"; }
.flaticon-consultation:before { content: "\f186"; }
.flaticon-product-design:before { content: "\f187"; }
.flaticon-web-design:before { content: "\f188"; }
.flaticon-logo:before { content: "\f189"; }
.flaticon-print:before { content: "\f18a"; }
.flaticon-graphic-design-1:before { content: "\f18b"; }
.flaticon-motion-graphic:before { content: "\f18c"; }
.flaticon-engineering:before { content: "\f18d"; }
.flaticon-secure-data:before { content: "\f18e"; }
.flaticon-license:before { content: "\f18f"; }
.flaticon-planning-1:before { content: "\f190"; }
.flaticon-analytics-2:before { content: "\f191"; }
.flaticon-scalable:before { content: "\f192"; }
.flaticon-system-update:before { content: "\f193"; }
.flaticon-left-arrow:before { content: "\f194"; }
.flaticon-right-arrow:before { content: "\f195"; }
.flaticon-quotation:before { content: "\f196"; }
.flaticon-apple:before { content: "\f197"; }
.flaticon-play-store:before { content: "\f198"; }