<div class="container">
    <div class="row marl justify-content-center login_row">
        <div class="col-md-4 col-lg-4 col-xl-4">
            <div class="login_block">
                <div class="login_form_block">
                  <div class="welcome">{{ login_header|default:'Log in to your crm account' }} </div>
                    <form action="{% url 'user:login' %}" method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                        {{ form.as_p }}
                      </div>
                      <button type="submit" class="btn btn-default">{{ login_button|default:'Log in' }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
