{% extends 'user/base_user.html' %}
{% load staticfiles %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'user:list' %}">Users</a></li>
    <li class="breadcrumb-item">View {{ user_obj.username }}</li>
  </ol>
</nav>

{% endblock breadcrumb %}
{% block content%}
<!-- OPPORTUNITY VIEW STARTS -->
  <div class="main_container" id="maincontainer">
    <div class="overview_form_block row marl justify-content-center">
      <div class="col-md-6">
        <div class="card">

          <div class="card-body" id="datashow">
            <div class="panel-heading card-title view-pad text-center">
              <h5>
                Profile
              </h5>
            </div>
            {% if user_obj %}
            <div class="row marl no-gutters">
              <div class="col-md-8">
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="contact_field_label" for="id_name" data-name="name">Name</label>
                    <div class="contact_field" id="contact_name" data-name="name">{{ user_obj.first_name }} {{ user_obj.last_name }}</div>
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="contact_field_label" for="id_contact_account" data-name="name">UserName</label>
                    <div class="contact_field" id="contact_account" data-name="name">{{ user_obj.username }}</div>
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="contact_field_label" for="id_email" data-name="name">Email</label>
                    <div class="contact_field" id="contact_email" data-name="name">{{ user_obj.email }}</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="profile_pic">
                  <img src="https://cdn.dribbble.com/users/99875/screenshots/4353558/2018-03-01biker_site-2.gif" />
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- OPPORTUNITY VIEW ENDS -->
{% endblock %}
