{% extends 'base.html' %}
{% load staticfiles %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'common:users_list' %}">Users</a></li>
    <li class="breadcrumb-item">Create</li>
  </ol>
</nav>

{% endblock breadcrumb %}
{% block content %}
<form id="add_form" method="POST" action="" novalidate>
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
         <div class="card-title text-center">
          CREATE USER
        </div>
          <div class="row marl">
            <div class="col-md-12">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="id_firstname">First Name{% if user_form.first_name.field.required %}<span class="error">*</span>{% endif %}</label>
                  <input type="text" class="form-control" name="first_name" value="{% if user_obj %} {{ user_obj.first_name }} {% else %} {{request.POST.first_name}} {% endif %}">
                </div>
                <span class="error">{{ errors.first_name }}</span>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="id_lastname">Last Name{% if user_form.last_name.field.required %}<span class="error">*</span>{% endif %}</label>
                  <input type="text" class="form-control" name="last_name" value="{% if user_obj %} {{ user_obj.last_name }} {% else %} {{request.POST.last_name}} {% endif %}">
                </div>
                <span class="error">{{ errors.last_name }}</span>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="id_username">Username{% if user_form.username.field.required %}<span class="error">*</span>{% endif %}</label>
                  <input type="text" class="form-control" name="username" value="{% if user_obj %} {{ user_obj.username }} {% else %} {{request.POST.username}} {% endif %}">
                </div>
                <span class="error">{{ errors.username }}</span>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="id_email">Email Address{% if user_form.email.field.required %}<span class="error">*</span>{% endif %}</label>
                  <input type="text" class="form-control" name="email" value="{% if user_obj %} {{ user_obj.email }} {% else %} {{request.POST.email}} {% endif %}" {% if user_obj and not user_obj.is_staff %} readonly=""{% endif %}>
                </div>
                <span class="error">{{ errors.email }}</span>
              </div>
              <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label for="id_role">User Role{% if user_form.role.field.required %}<span class="error">*</span>{% endif %}</label>
                    {% if request.user.role == 'ADMIN' %}
                      {{ user_form.role }}
                    {% else %}
                    <select name="role">
                      <option value="{{user_obj.role}}">{{user_obj.role}}</option>
                    </select>
                    {% endif %}
                    <span class="error">{{ user_form.role.errors }}</span>
                  </div>
                </div>
              {% if not user_obj %}
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Password{% if user_form.password.field.required %}<span class="error">*</span>{% endif %}</label>
                  <input type="password" class="form-control" name="password" value="{{request.POST.password}}">
                </div>
                <span class="error">{{ errors.password }}</span>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="row marl buttons_row form_btn_row text-center">
            <button class="btn btn-default save" type="submit">Save</button>
            <a href="{% if not user_obj %}{% url 'common:users_list' %}{% else %}{% url 'common:profile' %}{% endif %}" class="btn btn-default clear" id="create_user_cancel">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock content %}
