{% extends 'base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block content %}
  <!-- main_container starts here -->
  <div class="main_container">
    <!-- heading_create starts here -->
    <div class="row marl heading_create">
      <div class="heading col-md-12">
        <div class="no-gutters row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          <div class="create_new text-right">
            <a href="{% url 'common:create_doc'%}"><i class="fa fa-plus"></i> Add New Document</a>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- heading_create ends here -->
    <!-- filter_row starts here -->
    <div class="filter_row row marl">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
          <div class="card-title">Filters</div>
          <form id="docs_filter" action="" method="POST">
            <div class="row marl">
              <div class="filter_col col-4">
                <div class="form-group">
                  <label for="exampleInputEmail1">Document Name</label>
                  <input type="text" class="form-control" placeholder="Document name" name="doc_name" value="{{request.POST.doc_name}}">
                </div>
              </div> 
              <br clear="all">
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
    <!-- filter_row ends here -->
    <div class="table_container_row row marl">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="card-title list">
              List of Documents
              <span class="float-right total_count">{% if show_pageitems %} {% show_pageitems %}{% else %}Total Documents {{ documents|length }}{% endif %}</span>
            </div>
            <div class="table-responsive ">
              <table class="table table-bordered table-striped table-condensed">
                <thead>
                  {% if documents|length > 0 %}

                    <tr>
                      <th width="5%" style="text-align:center;">S.No</th>
                      <th width="20%" style="text-align:center;">Document Name</th>
                      <th width="20%" style="text-align:center;">Created_by</th>
                      <th width="20%" style="text-align:center;">Actions</th>
                    </tr>
                  {% endif %}
                </thead>
                <tbody>
                  {% if per_page %}
                    {% paginate per_page documents %}
                  {% else %}
                    {% paginate 10 documents %}
                  {% endif %}
                  {% for document in documents %}
                  <tr class="text-center">
                    <td scope="row">{{ forloop.counter }}</td>
                    <td><a href="{% url 'common:view_doc' document.id %}">{{ document.title }}</a></td>
                    <td>{{ document.created_by }}</td>
                    <td class="actions">
                      <a href="{% url 'common:edit_doc' document.id %}" class="btn btn-success edit"><i class="fas fa-pencil-alt"></i>Edit</a>
                      <a href="{% url 'common:remove_doc' document.id %}" class="btn btn-danger trash"><i class="fas fa-trash-alt"></i>Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% ifequal documents|length 0 %}
              <h6 class="text-center">No Documents Found</h6>
            {% endifequal %}
            <div class="marl row text-center">
              {% show_pages %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main_container ends here -->
{% endblock %}
{% block js_block %}
<script type="text/javascript">
  $('.trash').click(function(e){
    e.preventDefault()
    url = $(this).attr('href')
    if (!confirm('Are you sure you want to delete?'))
      return;
    window.location = $(this).attr('href')
  });

  $("a[rel='page']").click(function(e){
    e.preventDefault();
    $('#docs_filter').attr("action", $(this).attr("href"));
    $('#docs_filter').submit();
  });
</script>
{% endblock js_block %}