{% extends 'sales/base.html' %}
{% load staticfiles %}
{% load paginate %}
{% load thumbnail %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
  .form-group label {
    font-weight: 800;
  }

  .edit_delete_options {
    margin: 0.3em;
  }

  .edit_icon {
    color: #ffc107;
  }

  .delete_icon {
    color: #dc3545;
  }

  .view_icon {
    color: #17a2b8;
  }

  .download_icon {
    color: #28a745;
  }

  .ellipses {
    white-space: nowrap;
    width: 18em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
{% endblock %}
{% block content %}
<!-- main_container starts here -->
<div class="main_container">
  <!-- heading_create starts here -->
  <div class="row marl">
    <div class="col-lg-12 text-right">
      <span class="d-inline"><a class="primary_btn" href="{% url 'common:create_doc' %}"><i class="fa fa-plus"></i> Add
          New Document</a></span>
    </div>
  </div>
  <div class="filter_row list_filter_row row marl">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form id="docs_filter" method="POST" action="">
            <div class="card-body">
              <div class="card-title">Filters</div>
              <div class="row marl">
                <div class="filter_col col-md-4">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="text" class="form-control" placeholder="Document Title" name="doc_name"
                      {% if request.POST.doc_name %} value="{{request.POST.doc_name}}" {%endif%} />
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Status</label>
                    <select class="form-control" id="id_status" name="status">
                      <option value="">--Status--</option>
                      {% for each_status in status_choices %}
                      <option value="{{each_status.0}}" {% if request.POST.status %}
                        {% ifequal each_status.0 request.POST.status %}selected{% endifequal %}{% endif %}>
                        {{each_status.1}} </option>
                      {% endfor%}
                    </select>
                  </div>
                </div>
                <div class="filter_col col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Shared To</label>
                    <select class="assigned_users form-control" name="shared_to" multiple="multiple">
                      {% for user in users %}
                      <option value="{{user.id}}" {% if user.id in sharedto_list %} selected="" {% endif %}>
                        {{user.email}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="filter_col col-3">
                  <div class="form-group buttons_row">
                    <button class="btn btn-primary save" type="submit">Search</button>
                    <a href="{% url 'common:doc_list' %}" class="btn btn-default clear">Clear</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- heading_create ends here -->
  <div class="table_container_row row marl ">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="panel-heading-list card-title text-right">
            <span class="total_count float-left">Documents - {% if show_pageitems %} {% show_pageitems %}{% else %}
              {{documents|length}}{% endif %}</span>
            <span class="filter_toggle ">
              <a href="#" class="primary_btn"><i class="fas fa-filter"></i></a>
            </span>
          </div>
          <!-- card -->
          <div class="row mb-3">
            {% if per_page %}
            {% paginate per_page documents %}
            {% else%}
            {% paginate 12 documents %}
            {% endif %}
            {% for document in documents %}
            <div class="col-lg-3 mt-3">
              <div style="border: 1px solid #e5e5e5; padding: 1em;" class="ml-2 mr-2">
                <!-- options -->
                <div class="">
                  <div class="row">
                    <div class="col-12">
                      <span class="">
                        {% if document.title %}<a data-toggle="modal" href="#"
                          data-target="#exampleModalCenter_doc{{document.id}}" style="color:black">
                          <b>
                            <div class="ellipses">
                              {{ document.title }}
                            </div>
                          </b>
                        </a>{% endif %}
                      </span>
                    </div>
                    <!-- <div class="col-6">
                      <span class="">
                        <div class="actions">
                          {% if request.user == document.created_by or request.user.role == 'ADMIN' %}
                          <a href="{% url 'common:view_doc' document.id %}" class="view_icon"><i
                              class="fas fa-eye edit_delete_options"></i></a>
                          <a href="{% url 'common:edit_doc' document.id %}" class="edit_icon"><i
                              class="fas fa-pencil-alt edit_delete_options"></i></a>
                          <a href="{% url 'common:remove_doc' document.id %}" class="delete_icon"><i
                              class="fas fa-trash-alt edit_delete_options"></i></a>
                          {% endif %}
                          {% if request.user in document.shared_to.all or request.user == document.created_by or request.user.role == 'ADMIN' %}
                          <a href="{% url 'common:download_document' document.id %}" class="download_icon"><i
                              class="fas fa-download edit_delete_options edit_delete_options"></i></a>
                          {% endif %}
                        </div>
                      </span>
                    </div> -->
                  </div>
                  <!-- <span class="float-left">
                    <b> Title: </b> {% if document.title %}<a data-toggle="modal" href="#"
                      data-target="#exampleModalCenter_doc{{document.id}}">
                      {{ document.title }}
                    </a>{% endif %}
                  </span>
                  <span class="">
                    <div class="actions">
                      {% if request.user == document.created_by or request.user.role == 'ADMIN' %}
                      <a href="{% url 'common:view_doc' document.id %}" class="view_icon"><i
                          class="fas fa-eye edit_delete_options"></i></a>
                      <a href="{% url 'common:edit_doc' document.id %}" class="edit_icon"><i
                          class="fas fa-pencil-alt edit_delete_options"></i></a>
                      <a href="{% url 'common:remove_doc' document.id %}" class="delete_icon"><i
                          class="fas fa-trash-alt edit_delete_options"></i></a>
                      {% endif %}
                      {% if request.user in document.shared_to.all or request.user == document.created_by or request.user.role == 'ADMIN' %}
                      <a href="{% url 'common:download_document' document.id %}" class="download_icon"><i
                          class="fas fa-download edit_delete_options edit_delete_options"></i></a>
                      {% endif %}
                    </div>
                  </span> -->
                </div>
                <!-- opitons end -->
                <div class="row mt-3">
                  <div class="col-4">
                    <!-- <div>{% if document.title %}<a data-toggle="modal" href="#"
                        data-target="#exampleModalCenter_doc{{document.id}}">{{ document.title }}</a>{% endif %}
                    </div> -->
                    <div>
                      {% if document.created_by %}
                      {% if document.created_by.profile_pic %}
                      {% thumbnail document.created_by.profile_pic "60x60" crop="center" as im %}
                      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                        title="{{ document.created_by }}" style="border-radius: 50%">
                      {% endthumbnail %}
                      {% else %}
                      <img src="{% static 'images/user.png' %}" title="{{ document.created_by }}" width="60" height="60"
                        style="border-radius: 50%">
                      {% endif %}
                      {% else %}
                      <img src="{% static 'images/user.png' %}" title="{{ document.created_by }}" width="60" height="60"
                        style="border-radius: 50%">
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-8">
                    <div title="{{document.created_on}}"><b>Created On: </b>{{document.created_on_arrow}}</div>
                    <div><b>Status: </b>{{document.status}}</div>
                    <div><b>Shared To: </b>
                      {% with document_users=document.get_team_and_assigned_users %}
                      {% for user in document_users %}
                      {% if user.profile_pic %}
                      {% thumbnail user.profile_pic "20x20" crop="center" as im %}
                      <a href="{% url 'common:view_user' user.id %}">
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" title="{{ user.email }}"
                          style="border-radius: 50%">
                      </a>
                      {% endthumbnail %}
                      {% else %}
                      <a href="{% url 'common:view_user' user.id %}">
                        <img src="{% static 'images/user.png' %}" title="{{ user.email }}" width="20" height="20"
                          style="border-radius: 50%">
                      </a>
                      {% endif %}
                      {% empty %}
                      None
                      {% endfor %}
                      {% endwith %}
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-6 offset-6" style="margin-left: 60%; margin-bottom: -1em;">
                    <span class="">
                      <div class="actions">
                        {% if request.user == document.created_by or request.user.role == 'ADMIN' %}
                        <a href="{% url 'common:view_doc' document.id %}" class="view_icon" title="View"><i
                            class="fas fa-eye edit_delete_options"></i></a>
                        <a href="{% url 'common:edit_doc' document.id %}" class="edit_icon" title="Edit" ><i
                            class="fas fa-pencil-alt edit_delete_options"></i></a>
                        <a href="{% url 'common:remove_doc' document.id %}" class="delete_icon" title="Delete" ><i
                            class="fas fa-trash-alt edit_delete_options"></i></a>
                        {% endif %}
                        {% if request.user in document.shared_to.all or request.user == document.created_by or request.user.role == 'ADMIN' %}
                        <a href="{% url 'common:download_document' document.id %}" class="download_icon" title="Download"><i
                            class="fas fa-download edit_delete_options edit_delete_options"></i></a>
                        {% endif %}
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>

          <!-- card end -->
        </div>
      </div>
    </div>
  </div>
  {% ifequal documents|length 0 %}
  <h6 class="text-center">No Documents Found</h6>
  {% endifequal %}
  <div class="text-center row marl mt-3">
    {% show_pages %}
  </div>


</div>
<!-- </div>
<br clear="all">
</div>
</div>
<!-- accounts list start
<!-- accounts list end
</div> -->
<!-- main_container ends here -->


{% for doc_obj in documents %}

<div class="modal fade" id="exampleModalCenter_doc{{doc_obj.id}}" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ doc_obj.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- ... -->
        <!-- OPPORTUNITY VIEW STARTS -->
        <div class="" id="">
          <div class="">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body" id="datashow" style="margin: 0; padding: 0;">
                  <div class="panel-heading card-title view-pad text-center">
                    <!-- <h5>
                      Document
                    </h5> -->
                    <!-- <a href="{% url 'common:edit_doc' doc_obj.id %}" class="btn btn-success edit">Edit</a> -->
                  </div>
                  <div class="row marl no-gutters">
                    <div class="col-md-8">
                      {% if doc_obj.title %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="contact_field_label" for="id_title" data-name="title">Title</label>
                          <div class="contact_field" id="doc_title" data-name="name">{{ doc_obj.title }} </div>
                        </div>
                      </div>
                      {% endif %}
                      {% if doc_obj.status %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="contact_field_label" for="id_status" data-name="status">Status</label>
                          <div class="contact_field" id="doc_status" data-name="status">{{ doc_obj.status }} </div>
                        </div>
                      </div>
                      {% endif %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="contact_field_label" for="id_created_by" data-name="created_by">Created
                            By</label>
                          <div class="contact_field" id="created_by" data-name="created_by">{{ doc_obj.created_by }}
                          </div>
                        </div>
                      </div>
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="contact_field_label" for="id_created_on" data-name="created_on">Created
                            On</label>
                          <div class="contact_field" id="created_on" data-name="created_on" title="{{ doc_obj.created_on }}">{{ doc_obj.created_on_arrow }}
                          </div>
                        </div>
                      </div>
                      {% with document_users=document.shared_to.all %}
                      {% if document_users %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="contact_field_label" for="id_created_on" data-name="created_on">Shared
                            To</label>
                          <br>
                          {% for user in document_users %}
                          {% if user.profile_pic %}
                          {% thumbnail user.profile_pic "40x40" crop="center" as im %}
                          <span>
                            <a href="{% url 'common:view_user' user.id %}">
                              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                title="{{ user.email }}">
                            </a>
                          </span>
                          {% endthumbnail %}
                          {% else %}
                          <span>
                            <a href="{% url 'common:view_user' user.id %}">
                              <img src="{% static 'images/user.png' %}" title="{{ user.email }}" width="40" height="40">
                            </a>
                          </span>
                          {% endif %}
                          {% empty %}
                          None
                          {% endfor %}
                        </div>
                      </div>
                      {% endif %}
                      {% endwith %}
                    </div>
                    <div class="col-md-4">
                      <div class="profile_pic">
                        {% if doc_obj.document_file %}
                        <i class="{{file_type_code}}" aria-hidden="true" style="font-size:3rem;"></i>
                        <!-- <a href="{{doc_obj.document_file.url}}" target="_blank">Download</a> -->
                        <!-- <a style="display:block;" href="{% url 'common:download_document' doc_obj.id %}">Download</a> -->
                        </td>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
  </div>
</div>


{% endfor %}




{% endblock %}
{% block js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.assigned_users').select2();
    $(".filter_toggle").click(function () {
      $(".list_filter_row").toggle();
    });
  });

  search = "{{search}}"

  if (search == 'True') {
    $(".list_filter_row").show();
  }

  $('.remove_document').click(function (e) {
    e.preventDefault()
    url = $(this).attr('href')
    if (!confirm('Are you sure you want to delete?'))
      return;
    window.location = $(this).attr('href')
  });

  $(".reset").click(function (e) {
    window.location = "{% url 'common:doc_list'%}"
  });

  $("a[rel='page']").click(function (e) {
    e.preventDefault();
    $('#docs_filter').attr("action", $(this).attr("href"));
    $('#docs_filter').submit();
  });
</script>
{% endblock js_block %}