<table class="table">
    <thead>
    <tr>
        <th width="50%">
            <a href='#'>
                Name
            </a>
            <span class="caret"></span>
        </th>
        <th>
            <a href="#">
                Email
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    {% ifequal accounts|length  0 %}
     <tr>
         <td class="cell">
         NO ACCOUNTS FOUND!!
         </td>
     </tr>
    {% endifequal %}
    {% for account in accounts %}
    <tr>
        <td class="cell">
            <a class="cell parentname" id="{{ account.id }}">
                {{ account.name }}
            </a>
        </td>
        <td class="cell parentemail">
            {{ account.email }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>