{% extends 'sales/base.html' %}
{% load staticfiles %}
{% load paginate %}
{% load thumbnail %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
  .form-group label {
    font-weight: 800;
  }
</style>
{% endblock %}
{% block content %}
<!-- main_container starts here -->
<div class="main_container">
  <!-- heading_create starts here -->
  <div class="row marl">
    <div class="col-lg-12 text-right">
      <span class="d-inline"><a class="primary_btn" href="{% url 'teams:team_create'%}"><i class="fa fa-plus"></i>
          Add New
          Team</a></span>
    </div>
  </div>
  <!-- heading_create ends here -->
  <div class="filter_row list_filter_row row marl">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form id="leads_filter" action="" method="POST">
            <div class="card-body ">
              <div class="card-title">Filters</div>
              <div class="row marl">
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Team Name</label>
                    <input type="text" class="form-control" placeholder="Team Name" name="team_name"
                      value="{{request.POST.team_name}}">
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Created By</label>
                    <select name="created_by" id="created_by" class="assigned_users_ form-control">
                      <option value="">
                        ------------------</option>
                      {% for user in created_by_users %}
                      <option value="{{user.id}}" {% if user.id|slugify == request.POST.created_by %} selected=""
                        {% endif %}>
                        {{user.email}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="filter_col col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Assigned Users</label>
                    <select class="assigned_users form-control" name="assigned_to" multiple="multiple">
                      {% for user in users %}
                      <option value="{{user.id}}" {% if user.id|slugify in assigned_to %} selected="" {% endif %}>
                        {{user.email}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <input type="hidden" name="tab_status" id="tab_status">
                <div class="filter_col col-2">
                  <div class="form-group buttons_row">
                    <button class="btn btn-primary save" type="submit">Search</button>
                    <a href="{% url 'teams:teams_list' %}" class="btn btn-default clear">Clear</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-xl-12">
    <div class="table_container_row row marl no-gutters">
      <div class="col-md-12">
        <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="open-tab" data-toggle="tab" href="#open" role="tab" aria-controls="open"
              aria-selected="true">Open ({{open_leads|length}})</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="close-tab" data-toggle="tab" href="#close" role="tab" aria-controls="close"
              aria-selected="false">Closed ({{close_leads|length}})</a>
          </li>
        </ul> -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="open" role="tabpanel" aria-labelledby="open">
            <div class="card">
              <div class="card-body">
                <div class="card-title text-right">
                  <span class="float-left">Teams - {% if show_pageitems %}
                    {% show_pageitems %}{% else %}
                    {{ teams|length }}{% endif %}</span>
                  <span class="filter_toggle">
                    <a href="#" class="primary_btn"><i class="fas fa-filter"></i></a>
                  </span>
                </div>
                <div class="table-responsive">
                  <table class="table ">
                    <thead>
                      {% if teams|length > 0 %}
                      <tr>
                        <th width="5%">ID</th>
                        <th width="5%">Team Name</th>
                        <th width="15%">Team Description</th>
                        <th width="10%">Assigned To</th>
                        <th width="5%">Created by</th>
                        <th width="5%">Created On</th>
                        <th width="10%">Actions</th>
                      </tr>
                      {% endif %}
                    </thead>
                    <tbody>
                      {% if per_page %}
                      {% paginate per_page teams %}
                      {% else %}
                      {% paginate 10 teams %}
                      {% endif %}
                      {% for team in teams %}
                      <tr class="text-center">
                        <td scope="row">{{ forloop.counter }}</td>
                        <td><a href="#" data-toggle="modal" data-target="#exampleModalCenter_team{{team.id}}">
                            {{ team.name }} </a></td>
                        <td class="">
                          {% if team.description %}
                          {{ team.description }}
                          {% else %}
                          None
                          {% endif %}
                        </td>
                        <td>
                          {% with users=team.users.all %}
                          {% for user in users %}
                          {% if user.profile_pic %}
                          {% thumbnail user.profile_pic "40x40" crop="center" as im %}
                          <a href="{% url 'common:view_user' user.id %}">
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                              title="{{ user.email }}">
                          </a>
                          {% endthumbnail %}
                          {% else %}
                          <a href="{% url 'common:view_user' user.id %}">
                            <img src="{% static 'images/user.png' %}" title="{{ user.email }}" width="40" height="40">
                          </a>
                          {% endif %}
                          {% empty %}
                          None
                          {% endfor %}
                          {% endwith %}
                        </td>
                        <td>
                          {% if team.created_by %}
                          {% if team.created_by.profile_pic %}
                          {% thumbnail team.created_by.profile_pic "40x40" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                            title="{{ team.created_by }}" style="border-radius: 50%" />
                          {% endthumbnail %}
                          {% else %}
                          <img src="{% static 'images/user.png' %}" style="width: 40px;height: 40px;border-radius: 50%;"
                            title="{{ team.created_by }}" />
                          {% endif %}
                          {% else %}
                          None
                          {% endif %}
                        </td>
                        <td title="{{ team.created_on }}">{{ team.created_on_arrow }}</td>
                        <td class="actions">
                          {% if request.user == team.created_by or request.user.role == 'ADMIN' or reques.user.is_superuser %}
                          <a href="{% url 'teams:team_detail' team.id %}" class="btn btn-info edit" title="View"><i
                              class="fas fa-eye"></i></a>
                          <a href="{% url 'teams:team_edit' team.id %}" class="btn btn-success edit" title="Edit"><i
                              class="fas fa-pencil-alt"></i></a>
                          <a href="{% url 'teams:team_delete' team.id %}"
                            class="btn btn-danger delete remove_document" title="Delete"><i class="fas fa-trash-alt"></i></a>
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {%ifequal teams|length 0%}
                <h6 class="text-center">No Teams Found</h6>
                {%endifequal%}
                <div class="marl row text-center">
                  {% show_pages %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% for team_obj in teams %}
<div class="modal fade" id="exampleModalCenter_team{{team_obj.id}}" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ team_obj.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="" id="">
          <div class="">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body" id="datashow" >
                  <!-- <div class="panel-heading card-title view-pad text-center">
                    <h5>
                      Team
                    </h5>
                  </div> -->
                  <div class="row marl no-gutters">
                    <div class="col-md-8">
                      {% if team_obj.name %}
                      <!-- <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="contact_field_label" for="id_title" data-name="title">Name</label>
                          <div class="contact_field" id="doc_title" data-name="name">{{ team_obj.name }}
                          </div>
                        </div>
                      </div> -->
                      {% endif %}
                      {% if team_obj.description %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="contact_field_label" for="id_status" data-name="status">Description</label>
                          <div class="contact_field" id="doc_status" data-name="status">
                            {{ team_obj.description }} </div>
                        </div>
                      </div>
                      {% endif %}
                      <div class="filter_col col-md-12">
                        <div class="form-group">
                          <label class="contact_field_label" for="id_status" data-name="status">Assigned To</label>
                          <br>
                          {% with users=team_obj.users.all %}
                          {% for user in users %}
                          {% if user.profile_pic %}
                          {% thumbnail user.profile_pic "40x40" crop="center" as im %}
                          <span>
                            <a href="{% url 'common:view_user' user.id %}">
                              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                title="{{ user.email }}">
                            </a>
                          </span>
                          {% endthumbnail %}
                          {% else %}
                          <span>
                            <a href="{% url 'common:view_user' user.id %}">
                              <img src="{% static 'images/user.png' %}" title="{{ user.email }}" width="40" height="40">
                            </a>
                          </span>
                          {% endif %}
                          {% empty %}
                          None
                        </div>
                      </div>
                      {% endfor %}
                      {% endwith %}
                      <div class="filter_col col-md-12" style="margin-left: -1em;">
                        <div class="form-group mt-3">
                          <label class="contact_field_label" for="id_created_by" data-name="created_by">Created
                            By</label>
                          <div class="contact_field" id="created_by" data-name="created_by">
                            {{ team_obj.created_by }}</div>
                        </div>
                      </div>
                      <div class="filter_col col-md-12" style="margin-left: -1em;">
                        <div class="form-group">
                          <label class="contact_field_label" for="id_created_on" data-name="created_on">Created
                            On</label>
                          <div class="contact_field" id="created_on" data-name="created_on" title="{{team_obj.created_on}}">
                            {{ team_obj.created_on_arrow }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
</div>
</div>
</div>

{% endfor %}

{% endblock %}
{% block js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.assigned_users').select2();
    $('#id_tag').select2();
    $('#created_by').select2();
    $(".filter_toggle").click(function () {
      $(".list_filter_row").toggle();
    });
  });

  search = "{{search}}"

  if (search == 'True') {
    $(".list_filter_row").show();
  }

  $("#close-tab").click(function (e) {
    $("#tab_status").val('Closed')
  })

  $("#open-tab").click(function (e) {
    $("#tab_status").val('Open')
  })

  tab_status = "{{tab_status}}"
  if (tab_status == 'Closed') {
    $("#close-tab").click()
  } else {
    $("#open-tab").click()
  }

  $('.delete').click(function (e) {
    e.preventDefault()
    url = $(this).attr('href')
    if (!confirm('Are you sure you want to delete?'))
      return;
    window.location = $(this).attr('href')
  });

  $("a[rel='page']").click(function (e) {
    e.preventDefault();
    $('#leads_filter').attr("action", $(this).attr("href"));
    $('#leads_filter').submit();
  });
</script>
{% endblock js_block %}