<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CRM</title>
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,600,600i,700,700i,800,900&display=swap"
    rel="stylesheet">
  <link type="text/css" href="../css/style.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/21acccc6a9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="margin-top: 4rem;">
          <h1 style="font-size: 4rem; padding: 2rem; background: #ddd;">Unsubscribed Request</h1>
          <p style="font-size: 1.5rem; margin-top: 2rem;">You have successfully unsubscribed from Campaign emails from
            <a href="{{request.scheme}}://{{request.get_host}}/">{{request.get_host}}</a>.</p>

            <div class="col-md-12 text-center mt-5">
              <a name="" id="" class="btn btn-primary" href="{{request.scheme}}://{{request.get_host}}/" role="button">Go to Django-CRM</a>
            </div>
          <div class="col-md-12 text-center mt-5">
            <i class="far fa-eye-slash" style="color: #dddddd; font-size: 10rem;"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>