<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Django-CRM</title>
  <style>
    body {
      font-family: sans-serif;
    }

    h1 {
      margin-top: 10%;
      text-align: center;
    }
  </style>
</head>

<body>
  <h1>You have successfully unsubscribed from Campaign emails from

    <span>
      <a href="{{request.scheme}}://{{request.get_host}}/">{{request.get_host}}</a> .
    </span>
  </h1>
</body>

</html>