{% extends 'base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block content %}
<!-- main_container starts here -->
<div class="main_container">
  <!-- heading_create starts here -->
  <div class="row marl heading_create">
    <div class="heading col-md-12">
     <div class="no-gutters row">
      <div class="col-md-6">
        <h4>Accounts</h4>
      </div>
      <div class="col-md-6">
        <div class="create_new text-right">
          <a href="{% url 'accounts:new_account' %}"><i class="fa fa-plus"></i> Add New Account</a>
        </div>
      </div>
      </div>
    </div>
  </div>
  <!-- heading_create ends here -->
  <!-- filter_row starts here -->
  <div class="filter_row row marl">
    <div class="col-md-3 col-lg-2 col-xl-2">
      <div class="card">
        <form id="accounts_filter" method="POST" action="">
          <div class="card-body">
            <div class="card-title">Filters</div>
            <div class="row marl">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Name</label>
                  <input type="text" class="form-control" placeholder="Account Name" name="name" {% if request.POST %} value="{{request.POST.name}}" {%endif%}/>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">City</label>
                  <input type="text" class="form-control" placeholder="City" name="city" {% if request.POST %} value="{{request.POST.city}}" {%endif%}/>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Industry</label>
                  <select class="form-control" id="id_industry" name="industry" >
                    <option value="">--Select Type of Industry--</option>
                    {% for each_industry in industries %}
                    <option value="{{each_industry.0}}" {% if request.POST.industry %} {% ifequal each_industry.0 request.POST.industry %}selected{% endifequal %}{% endif %} >{{each_industry.1}} </option>
                    {% endfor%}
                  </select>
                </div>
              </div>
              <div class="filter_col text-center col-12">
                <div class="form-group buttons_row">
                  <button class="btn btn-primary save" type="submit">Search</button>
                  <a href="{% url 'accounts:list' %}" class="btn btn-default clear">Clear</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-9 col-lg-10 col-xl-10">
       <div class="table_container_row row marl no-gutters">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
         <div class="panel-heading-list card-title">
         List of Accounts
          <span class="float-right total_count">{% if show_pageitems %} {% show_pageitems %}{% else %}Total Accounts {{accounts_list|length}}{% endif %}</span>
        </div>
          <div class="table-responsive">
          <table class="table ">
            <thead>
            {% if accounts_list|length > 0 %}
              <tr>
                <th width="5%">ID</th>
                <th width="25%">Name</th>
                <th width="15%">City</th>
                <th width="15%">State</th>
                <th width="20%">Industry</th>
                <th width="10%">Actions</th>
              </tr>
            {% endif %}
            </thead>
            <tbody>
              {% if per_page %}
                {% paginate per_page accounts_list %}
              {% else%}
                {% paginate 10 accounts_list %}
              {% endif %}
              {% for each_account in accounts_list %}
              <tr id="account_details{{each_account.id}}" class="text-center">
                <td scope="row">{{ forloop.counter }}</td>
                <td>{% if each_account.name %}<a href="{% url 'accounts:view_account' each_account.id %}">{{ each_account.name }}</a>{% endif %}</td>
                <td>{% if each_account.billing_address.city %}{{ each_account.billing_address.city }} {% else %} Not specified {% endif %}</td>
                <td>{% if each_account.billing_address.state %}{{ each_account.billing_address.state }} {% else %} Not specified {% endif %}</td>
                <td>{% if each_account.industry %}{{ each_account.industry }} {% else %} Not specified {% endif %}</td>
                <td class="actions">
                 {#  <a href="{% url 'accounts:view_account' each_account.id %}" class="btn btn-info view"><i class="fas fa-eye"></i> View</a> #}
                  <a href="{% url 'accounts:edit_account' each_account.id %}" class="btn btn-success edit"><i class="fas fa-pencil-alt"></i></a>
                  <a href="{% url 'accounts:remove_account' each_account.id %}" class="btn btn-danger delete remove_account"><i class="fas fa-trash-alt"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
          {% ifequal accounts_list|length 0 %}
            <h6 class="text-center">No Acccount Records Found</h6>
          {% endifequal %}
          <div class="text-center row marl">
            {% show_pages %}
          </div>
        </div>
      </div>
      <br clear="all">
    </div>
  </div>
    </div>
  </div>
  <!-- filter_row ends here -->
  <!-- accounts list start -->
 
  <!-- accounts list end -->
</div>
<!-- main_container ends here -->
{% endblock %}
{% block js_block %}
<script type="text/javascript">
  $('.remove_account').click(function(e){
    e.preventDefault()
    url = $(this).attr('href')
    if (!confirm('Are you sure you want to delete?'))
      return;
    window.location = $(this).attr('href')
  });

  $(".reset").click(function(e){
    window.location = "{% url 'accounts:list'%}"
  });

  $("a[rel='page']").click(function(e){
    e.preventDefault();
    $('#accounts_filter').attr("action", $(this).attr("href"));
    $('#accounts_filter').submit();
  });
</script>
{% endblock js_block %}