{% extends 'sales/base.html' %}
{% load staticfiles %}
{% block breadcrumb %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
  href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css" />
{% endblock %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'accounts:list' %}">Accounts</a></li>
    <li class="breadcrumb-item active">{% if account_obj %}Edit{% else %}Create{% endif %}</li>
  </ol>
</nav>
{% endblock %}
{% block content %}
{% if contact_count %}
<form id="formid" action='' method="POST" novalidate enctype="multipart/form-data">
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="card-title text-center">
            {% if account_obj %}EDIT{% else %}CREATE{% endif %} ACCOUNT
          </div>
          <div class="row marl">
            <div class="col-md-4">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="required">Name{% if account_form.name.field.required %}<span
                      class="error_marker" style="color:red">*</span>{% endif %}</label>
                  {{ account_form.name }}
                  <span class="error" id="id__name">{{ account_form.name.errors }}</span>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Website{% if account_form.website.field.required %}<span
                      class="error">*</span>{% endif %}</label>
                  {{ account_form.website }}
                  <span class="error" id="id__website">{{ account_form.website.errors }}</span>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="required">Phone{% if account_form.phone.field.required %}<span
                      class="error_marker" style="color:red">*</span>{% endif %}</label>
                  {{ account_form.phone }}
                  <span class="error" id="id__phone">{{ account_form.phone.errors }}</span>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group ">
                  <label for="exampleInputEmail1" class="required">Email
                    Address{% if account_form.email.field.required %}<span class="error_marker"
                      style="color:red">*</span>{% endif %}</label>
                  {{ account_form.email }}
                  <span class="error" id="id__email">{{ account_form.email.errors }}</span>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group ">
                  <label for="exampleInputEmail1" class="required">Leads{% if account_form.lead.field.required %}<span
                      class="error_marker" style="color:red">*</span>{% endif %}</label>
                  <!-- <select name="lead" class="form-control" placeholder="Lead" required="" id="id_lead">
                    <option value="" selected="">---------</option>
                    {% for lead in leads %}
                    <option value="{{lead.id}}" {% ifequal account_obj.lead.id lead.id %}selected{% endifequal %}>
                      {{lead.first_name}} {{lead.last_name}}</option>
                    {% endfor %}
                  </select> -->
                  {{ account_form.lead }}
                  <span class="error" id="id__lead">{{ account_form.lead.errors }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="filter_col billing_block col-md-12" style="padding: 0px;">
                <div class="form-group">
                  <label for="exampleInputEmail1">Billing Address
                    {% if account_form.billing_address_line.field.required %}<span class="error_marker"
                      style="color:red">*</span>{% endif %}</label>
                  {{ account_form.billing_address_line }}
                  <span class="error"
                    id="id__billing_address_line">{{ account_form.billing_address_line.errors }}</span>
                </div>
                <div class="row" style="margin-top: 10px;">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Street {% if account_form.billing_street.field.required %}<span
                          class="error_marker" style="color:red">*</span>{% endif %}</label>
                      {{ account_form.billing_street }}
                      <span class="error" id="id__billing_street">{{ account_form.billing_street.errors }}</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">PostCode
                        {% if account_form.billing_postcode.field.required %}<span class="error_marker"
                          style="color:red">*</span>{% endif %}</label>
                      {{ account_form.billing_postcode }}
                      <span class="error" id="id__billing_postcode">{{ account_form.billing_postcode.errors }}</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">City {% if account_form.billing_city.field.required %}<span
                          class="error_marker" style="color:red">*</span>{% endif %}</label>
                      {{ account_form.billing_city }}
                      <span class="error" id="id__billing_city">{{ account_form.billing_city.errors }}</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">State {% if account_form.billing_state.field.required %}<span
                          class="error_marker" style="color:red">*</span>{% endif %}</label>
                      {{ account_form.billing_state }}
                      <span class="error" id="id__billing_state">{{ account_form.billing_state.errors }}</span>
                    </div>
                  </div>
                  <div class="col-md-12" style="margin-top: 10px;">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Country {% if account_form.billing_country.field.required %}<span
                          class="error_marker" style="color:red">*</span>{% endif %}</label>
                      {{ account_form.billing_country }}
                      <span class="error" id="id__billing_country">{{ account_form.billing_country.errors }}</span>
                    </div>
                  </div>
                  <div class="filter_col col-md-12">
                    <div class="form-group ">
                      <label for="id_contacts"
                        class="required">Contacts{% if account_form.contacts.field.required %}<span class="error_marker"
                          style="color:red">*</span>{% endif %}</label>
                      {{ account_form.contacts }}
                      <span class="error" id="id__contacts">{{ account_form.contacts.errors }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <h6 style="color:white;">Copy Address</h6>
              </div>
            </div>
            <div class="col-md-4">
              {% if request.user.is_superuser or request.user.role == 'ADMIN' %}
              <div class="filter_col col-12">
                <div class="form-group">
                  <label for="id_sattus">Teams{% if account_form.teams.field.required %}<span
                      class="error">*</span>{% endif %}</label>
                  <select name="teams" id="id_teams" class="assigned_users form-control" multiple>
                    {% for team in teams %}
                    <option data-users="{{team.get_users}}" value="{{team.id}}" {% if team in account_obj.teams.all %}
                      selected="" {% endif %}>
                      {{team}}</option>
                    {% endfor %}
                  </select>
                  <span class="error" id="id__teams">{{ account_form.teams.errors }}</span>
                </div>
              </div>

              <div class="filter_col col-12">
                <div class="form-group">
                  <label for="id_sattus"><span class="">Users</span></label>
                  <select name="" aria-readonly="true" id="_id_assigned_to" class=" form-control" multiple>
                    {% if account_obj and account_obj.teams.all %}
                    {% for user in users %}
                    {% if user in account_obj.get_team_users %}
                    <option value="{{user.id}}" selected="">{{user.email}}</option>
                    {% else %}
                    <option value="{{user.id}}">{{user.email}}</option>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    {% for user in users %}
                    <option value="{{user.id}}">{{user.email}}</option>
                    {% endfor %}
                    {% endif %}
                  </select>
                </div>
              </div>

              {% endif %}
              <div class="filter_col col-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Assign To </label>
                  <select name="assigned_to" id="id_assigned_to" class="assigned_users form-control" multiple>
                    {% for user in users %}
                    {% if user.is_active %}
                    <option value="{{user.id}}" {% if user in account_obj.assigned_to.all %} selected="" {% endif %}>
                      {{user.email}}</option>
                    {% endif %}

                    {% endfor %}
                  </select>
                  <input type="hidden" id="id_assigned_to_hidden" name="assigned_to_">
                  <span class="error" id="id__assigned_to">{{ account_form.assigned_to.errors }}</span>

                  <!-- <label for="id_sattus">Assign To{% if account_form.assigned_to.field.required %}<span
                      class="error">*</span>{% endif %}</label>
                  {{ account_form.assigned_to }}
                  <span class="error">{{ account_form.assigned_to.errors }}</span> -->
                </div>
              </div>
              <div class="filter_col col-12">
                <div class="form-group">
                  <label for="id_sattus">Status{% if account_form.status.field.required %}<span
                      class="error">*</span>{% endif %}</label>
                  {{ account_form.status }}
                  <span class="error">{{ account_form.status.errors }}</span>
                </div>
              </div>
              <div class="filter_col col-12">
                <div class="form-group">
                  <label>Tags</label>
                  <div class="txt-box-div" id="tag-div"><input type="text" name="tags" id="tags_1"
                      value="{% for t in account_obj.tags.all %}{{t.name}}, {% endfor %}" class="tags" />
                  </div>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Attachment</label>
                  <input type="file" name="account_attachment">
                  {% if account_obj.account_attachment.count %}
                  {% for attachment in account_obj.account_attachment.all %}
                  <div id="attachment{{attachment.id}}" class="mt-2">
                    <a target="_blank" href="{{ attachment.attachment.url }}">{{ attachment.file_name }}</a>
                    {% if not attachment.created_by.role == 'ADMIN' or attachment.created_by.role == request.user.role %}
                    <a class="action btn primary_btn" onclick="remove_attachment({{attachment.id}})">X</a>
                    {% endif %}
                  </div>
                  {% endfor %}
                  {% endif %}
                  <span class="error"></span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row marl buttons_row form_btn_row text-center">
                <button class="btn btn-default save" type="submit" id="call_save">Save</button>
                <a href="{% url 'accounts:list' %}" class="btn btn-default clear" id="create_user_cancel">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" id="save_new_form" name="savenewform">
  </div>
  <!-- overview ends here -->
</form>
{% else %}
<div class="justify-content-center text-center">
  <h3 class="mt-5">Create a <a href="{% url 'contacts:add_contact' %}">contact</a> to create an account</h3>
</div>
{% endif %}
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% block js_block %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
<script src="https://malsup.github.io/jquery.form.js"></script>
<script type="text/javascript">

  // $(document).ready(function() {
  //   $('.assigned_users').select2();
  // });
  $(document).ready(function () {
    $("#id_contacts").select2();
    $("#id_lead").select2();
    $("#id_assigned_to").select2()
    $("#id_teams").select2()
    $('#_id_assigned_to').select2({ disabled: 'readonly' });

    // $("#id_assigned_to").change(function () {
    //   $("#id_assigned_to").attr('name', 'assigned_to')
    // })
    // $("#id_assigned_to")
    // var data_assigned_to = []
    // data_assigned_to = $('#id_assigned_to').val()
    // $('#id_assigned_to_').val($('#id_assigned_to').val())
    // console.log($('#id_assigned_to').val())
    // console.log($('#id_assigned_to_').val())
    // $('#id_assigned_to').change(function(){
    //   data_assigned_to = []
    //   data_assigned_to.push($(this).val())
    //   $('#id_assigned_to_hidden').val(data_assigned_to)
    // })
  });

  $("#copy_billing_btn").click(function () {
    var address_line = $("#id_address_line").val();
    var street = $("#id_street").val();
    var city = $("#id_city").val();
    var state = $("#id_state").val();
    var postcode = $("#id_postcode").val();
    var country = $("#id_country").val();
  });

  $(".savenew").on('click', function (e) {
    e.preventDefault()
    $("#save_new_form").val('true')
    $('#formid').submit()
  });

  function onAddTag(tag) {
    alert("Added a tag: " + tag);
  }
  function onRemoveTag(tag) {
    alert("Removed a tag: " + tag);
  }

  function onChangeTag(input, tag) {
    alert("Changed a tag: " + tag);
  }

  $(function () {

    $('#tags_1').tagsInput({ width: 'auto' });
    $('#tags_2').tagsInput({
      width: 'auto',
      onChange: function (elem, elem_tags) {
        var languages = ['php', 'ruby', 'javascript'];
        $('.tag', elem_tags).each(function () {
          if ($(this).text().search(new RegExp('\\b(' + languages.join('|') + ')\\b')) >= 0)
            $(this).css('background-color', 'yellow');
        });
      }
    });
    $('#tags_3').tagsInput({
      width: 'auto',

      //autocomplete_url:'test/fake_plaintext_endpoint.html' //jquery.autocomplete (not jquery ui)
      autocomplete_url: 'test/fake_json_endpoint.html' // jquery ui autocomplete requires a json endpoint
    });


    // Uncomment this line to see the callback functions in action
    //      $('input.tags').tagsInput({onAddTag:onAddTag,onRemoveTag:onRemoveTag,onChange: onChangeTag});   

    // Uncomment this line to see an input with no interface for adding new tags.
    //      $('input.tags').tagsInput({interactive:false});
  });
  function remove_attachment(x) {
    const con = confirm("Do you want to Delete it for Sure!?");
    if (con == true) {
      $.post('{% url "cases:remove_attachment" %}', {
        "attachment_id": x
      }, function (data) {
        if (data.error) {
          alert(data.errors)
        } else {
          $("#attachment" + data.attachment_object).remove()
        }
      })
    }
  }



  $('form#formid').ajaxForm({
    type: 'POST',
    dataType: 'json',
    url: ".",
    data: $('#formid').serialize(),
    success: function (data) {
      if (data.error) {
        $('.error').html('')
        for (var key in data.errors) {
          $('#id__' + key).html("<p>" + data.errors[key][0] + "</p>");
        };
        $('#submit_btn').removeAttr('disabled')
      }
      else {
        window.location = data.success_url;
      }
    }
  });

  $('#multiple').change(function () {
    var $value = $('option:selected', this).attr('type');
    console.log($value);
  });


  $("#id_teams").change(function (e) {
    try {
      var users = []
      $('#id_teams option:selected').each(function () {
        // users.push($(this).attr('data-users'))
        _data = $(this).attr('data-users');
        if (!users) {
          // users = []
        } else {
          users = users.concat(_data.split(','))
        }
      })
      // users = $('option:selected', this).attr('data-users')
      // if (!users) {
      //   users = []
      // } else {
      //   users = users.split(',')
      // }
      console.log('selected users teams data', users)
      var existingUsers = $('#id_assigned_to').val();
      var allUsers = users.concat(existingUsers)
      console.log(existingUsers)
      if (users.length) {
        $('#_id_assigned_to').select2().val(allUsers).trigger('change');

      }
    } catch (error) {
      console.log(error)
      $('#_id_assigned_to').select2().val(existingUsers).trigger('change');
    }

  });
  // $('#call_save').click(function (e) {
  //   e.preventDefault()
  //   console.log($('#formid').serialize())
  //   console.log($('#formid').serializeArray())

  // })
</script>
{% endblock js_block %}