{% extends 'base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<!-- main_container starts here -->
<div class="main_container">
  <!-- heading_create starts here -->

  <div class="justify-content-center text-center">
    <h3 class="mt-5">create a contacts and leads to continue creating an account</h3>
  </div>
  <!-- filter_row ends here -->
  <!-- accounts list start -->
  <!-- accounts list end -->
</div>
<!-- main_container ends here -->
{% endblock %}
