{% extends 'base.html' %}
{% load staticfiles %}
{% block breadcrumb1 %}
<!-- Breadcrumb Starts Here -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'opportunities:list' %}">Opportunities</a></li>
    <li class="breadcrumb-item active">View</li>
  </ol>
</nav>
<!-- Breadcrumb Ends Here -->
{% endblock%}
{% block content%}
<!-- OPPORTUNITY VIEW STARTS -->
  <div class="main_container" id="maincontainer">
    <div class="overview_form_block row marl">
      <div class="col-md-8">
        <div class="card">
          
          <div class="card-body" id="datashow">
         <div class="panel-heading card-title view-pad">
            <h5>
              OVERVIEW
              <span class="float-right" style="margin-top: 0px">
                <div class="dropdown buttons_row">
                  <button class="btn btn-primary dropdown-toggle save" type="button" data-toggle="dropdown">Actions
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'opportunities:opp_edit' opportunity_record.id %}" >Edit</a></li>
                    <li class="delete_contact"><a href="{% url 'opportunities:opp_remove' opportunity_record.id %}" id="remove_contact">REMOVE</a></li>
                  </ul>
                </div>
              </span>
            </h5>
          </div>
            <div class="row marl">
              <div class="col-md-6">
                <div class="filter_col col-md-12" id="iname">
                  <div class="form-group">
                    <label class="opportunity_field_label" for="id_name" data-name="name">Name</label>
                    <div class="opportunity_field" id="opportunity_name" data-name="name">{{ opportunity_record.name }}</div>
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="opportunity_field_label" for="id_opportunity_account" data-name="name">Account</label>
                    <div class="opportunity_field" id ="opportunity_account" data-name="name">{{ opportunity_record.account }}</div>
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  {% if opportunity_record.contacts.all %}
                  <div class="form-group">
                    <label class="opportunity_field_label" for="id_contact" data-name="name">Contact(s)</label>
                    <div class="opportunity_field" id="opportunity_contact" data-name="name">
                      {% for contact in opportunity_record.contacts.all %}
                        <li>{{ contact }}</li>
                      {% endfor %}
                    </div>
                  </div>
                  {% endif %}
                </div>
                <div class="filter_col col-md-12">
                  {% if opportunity_record.amount %}
                  <div class="form-group">
                    <label class="opportunity_field_label" for="id_amount" data-name="name">Amount</label>
                    <div class="opportunity_field" id="opportunity_amount" data-name="name">{{ opportunity_record.currency }} {{ opportunity_record.amount }}</div>
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-md-4">
                <div class="filter_col col-md-12">
                  {% if opportunity_record.stage %}
                  <div class="form-group">
                    <label class="opportunity_field_label" for="id_stage" data-name="name">Stage</label>
                    <div class="opportunity_field" id="opportunity_stage" data-name="name">{{ opportunity_record.stage }}</div>
                  </div>
                  {% endif %}
                </div>
                <div class="filter_col col-md-12">
                  {% if opportunity_record.lead_source %}
                  <div class="form-group">
                    <label class="opportunity_field_label" for="id_lead_source" data-name="name">Lead Source</label>
                    <div class="opportunity_field" id="opportunity_lead_source" data-name="name">{{ opportunity_record.lead_source }}</div>
                  </div>
                  {% endif %}
                </div>
                <div class="filter_col col-md-12">
                  {% if opportunity_record.probability %}
                  <div class="form-group">
                    <label class="opportunity_field_label" for="id_probability" data-name="name">Probability</label>
                    <div class="opportunity_field" id="opportunity_probability" data-name="name">{{opportunity_record.probability}} %</div>
                  </div>
                  {% endif %}
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="opportunity_field_label" for="id_close_date" data-name="name">Close Date</label>
                    <div class="opportunity_field" id="opportunity_close_date" data-name="name">{{opportunity_record.closed_on|date}}</div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="filter_col col-md-12">
                  {% if opportunity_record.description %}
                  <div class="form-group">
                    <label class="opportunity_field_label" for="id_description" data-name="name">Description</label>
                    <div class="opportunity_field" id="opportunity_description" data-name="name">{{opportunity_record.description}}</div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <!-- Comments Section starts-->
          
          <div class="card-body" id="datashow">
          <div class="card-title view-pad">
            <h5>Comments</h5>
          </div>
            <div class="row marl">
              <div class="col-md-12">
                <form id="comment_form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                  <div class="form-group">
                    <textarea class="form-control" textarea cols="40" rows="3" id="id_comments" name="comment" placeholder="Submit Your Comments Here"></textarea><span><i id="CommentError" style="display:none; color:red"></i></span>
                    </br>
                      <div class="buttons_row">
                    <button class="btn btn-default save" style="text-align: center;" id="comment_submit" type="submit">Submit</button>
                    </div>
                  </div>
                  <input type="hidden" value="{{ opportunity_record.id }}" name="opportunityid">
                </form>
                <ul class="list-group" id="comments_div">
                  {% for comment in comments %}
                  <li class="list-group-item list-row" id="comment{{comment.id}}">
                    <div class="pull-right right-container">
                      <div class="list-row-buttons btn-group pull-right">
                        <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" type="button"><span class="caret"></span></button>
                        <ul class="dropdown-menu pull-right">
                          <li>
                            <a class="action" onclick="edit_comment({{comment.id}})">Edit</a>
                          </li>
                          <li>
                            <a class="action" onclick="remove_comment({{comment.id}})">Remove</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="stream-head-container">{{ comment.commented_by }} Commented</div>
                    <div class="stream-post-container" id="comment_name{{comment.id}}"><pre>{{ comment.comment }}</pre></div>
                    <div class="stream-date-container">{{ comment.commented_on }}</div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="modal fade" id="Comments_Opportunity_Modal" role="dialog" data-keyboard="false" data-backdrop="static">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Your Comment</h4>
                  </div>
                  <form id="comment_edit_form" method="POST" >{% csrf_token %}
                    <div class="modal-body">
                      <div class="form-group">
                        <textarea class="form-control" textarea cols="40" rows="3" id="id_editcomment" name="comment" placeholder="Submit Your Comments"></textarea><span><i id="CommentEditError" style="display:none; color:red"></i></span>
                        <input type="hidden" value="{{ opportunity.id }}" name="opportunityid">
                        <input type="hidden" value="" name="commentid" id="commentid">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-default save" id="comment_edit" type="submit">Update</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Comments Section Ends-->
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          
          <div class="card-body" id="datashow">
          <div class="panel-heading card-title view-pad">
            <h5>Label</h5>
          </div>
            <div class="row marl">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="opportunity_field_label" for="id_assigned_user" data-name="name">Assigned User(s)</label>
                  <div class="opportunity_field" id="opportunity_assigned_users" data-name="name">
                    {%if not opportunity_record.assigned_to %}
                      Not Assigned Yet
                    {% else %}
                      {% for user in opportunity_record.assigned_to.all %}
                        <li>{{ user }}</li>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="opportunity_field_label" for="id_team" data-name="name">Assigned Team(s)</label>
                  <div class="opportunity_field" id="opportunity_team" data-name="name">
                    {%if not opportunity_record.teams %}
                      Not Assigned Yet
                    {% else %}
                      {% for team in opportunity_record.teams.all %}
                        <li>{{ team }}</li>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="opportunity_field_label" for="id_created_on" data-name="name">Created On</label>
                  <div class="opportunity_field" id="opportunity_created_on" data-name="name">{{opportunity_record.created_on}}</div>
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="opportunity_field_label" for="id_created_by" data-name="name">Created by</label>
                  <div class="opportunity_field" id="opportunity_created_by" data-name="name">{{opportunity_record.created_by}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- OPPORTUNITY VIEW ENDS -->
{% endblock %}
{% block js_block %}
<script src="{% static 'js/opportunities/view_opportunity.js' %}"></script>
<script type="text/javascript">
  $(function () {
      $('#datetimepicker1').datetimepicker({
          'format': 'YYYY-MM-DD',
      });
  });
</script>
{% endblock js_block %}
