{% extends 'cms_base.html' %}
{% load wagtailcore_tags %}
{% block content %}

        <!-- Start Blog Area -->
        <div class="blog-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <span class="sub-title">NEWS & ARTICLES</span>
                    <h2>Learn More From Our Latest Blog</h2>
                </div>

                <div class="row justify-content-center">
                    {% for post in posts %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-post-item startup-color">
                            {% comment %} <div class="post-image">
                                <a href="blog-details-1.html" class="d-block">
                                    <img src="assets/img/blog/blog-img6.jpg" alt="image">
                                </a>
                            </div> {% endcomment %}

                            <div class="post-content">
                                 <ul class="meta">
                                    <li><i class="far fa-calendar-alt"></i> {{ self.first_published_at }}</li>
                                    {% comment %} <li><i class="far fa-user-circle"></i> <a href="blog-1.html">Shelley Percy</a></li> {% endcomment %}
                                </ul> 
                                <h3>{{ post.title }}</h3>
                                <p>{{ post.excerpt|safe }}</p>
                                <a href="{% pageurl post %}" class="link-btn">Read More <i class="fas fa-chevron-right"></i></a>
                            </div>

                        </div>
                    </div>
                    {% empty %}
                    <h2>No blog posts</h2>postpage
                    
                    {% endfor %}

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="pagination-area text-center">
                            {% if posts.has_previous %}
                            <a href="/blog/{{ posts.previous_page_number }}" class="next page-numbers"><i class="fas fa-chevron-left"></i></a>   
                            {% endif %}

                            {% for page_num in posts.paginator.page_range %}
                            <a href="/blog/{{ page_num }}" {% if page_num == posts.number %} active{% endif %} class="page-numbers">{{ page_num }}</a>
                            {% endfor %}
                            
                            {% if posts.has_next %}
                            <a href="/blog/{{ posts.next_page_number }}" class="next page-numbers"><i class="fas fa-chevron-right"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <!-- End Blog Area -->        

       
        
        <div class="go-top"><i class="fas fa-chevron-up"></i></div>
{% endblock content %}