{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Micro CRM</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <!-- Custom styling plus plugins -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block extralinks %}{% endblock %}
</head>
<body class="main_body_bg_color">
<div class="wrapper">
    <!-- header starts here -->
    <header>
        {% include 'nav_menu.html' %}
    </header>
    <!-- header ends here -->
    <!-- main_container starts here -->
    <div id="mainbody" class="main_container">
        <!-- breadcrumb starts here -->
        {% block breadcrumb %}
        {% endblock %}

        <!-- breadcrumb ends here -->
        <!-- breadcrumb1 starts here -->
        {% block breadcrumb1 %}
        {% endblock %}

        <!-- breadcrumb1 ends here -->
        <!-- assigned_teams starts here -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <script src="{% static 'js/index.js' %}"></script>
        {% block content %}
        {% endblock %}
    </div>
    <!-- main_container ends here -->
</div>
{% block js_block %}

{% endblock js_block %}
</body>
</html>
