{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row marl justify-content-center login_row">
    <div class="col-md-6 col-lg-6 col-xl-4">
      <div class="login_block">
        <div class="login_form_block">
          <div class="welcome">{{ APPLICATION_NAME }}</div>
          <form method="POST" action="">              
            {% comment %}
            <div class="form-group">
              <input type="text" class="form-control" id="id_sub_domain" placeholder="subdomain.bottle.crm" name="sub_domain" value="{{request.POST.sub_domain}}">
              <span class="error">{{form.sub_domain.errors}}</span>
            </div>
            {% endcomment %}
            <input type="hidden" name="company" value="{{request.session.company}}">
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="email" name="email" value="{{request.POST.email}}">
              <span class="error">{{form.email.errors}}</span>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
              <span class="error">{{form.password.errors}}</span>
              <span class="error">
                <ul class="errorlist">
                  <li>{{message}}</li>
                </ul>
              </span>
            </div>
            <div class="forgot">New Here? <a href="{% url "common:register" %}">Register</a></div>
            <div class="forgot">Forgot Password <a href="{% url "common:password_reset" %}">Click Here?</a></div>
            
            <button type="submit" class="btn btn-danger">Login</button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}