{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row marl justify-content-center login_row">
    <div class="col-md-6 col-lg-6 col-xl-4">
      <div class="login_block">
        <div class="login_form_block">
          <div class="welcome">{{ settings.APPLICATION_NAME }}</div>
          <form method="POST" action="">
            <div class="form-group">
              <input type="text" class="form-control" id="id_sub_domain" placeholder="Sub-domain.bottle.crm" name="sub_domain" value="{{request.POST.sub_domain}}">
              <span class="error">{{form.sub_domain.errors}}</span>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputEmail2" placeholder="username" name="username" value="{{request.POST.username}}">
              <span class="error">{{form.username.errors}}</span>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="email" name="email" value="{{request.POST.email}}">
              <span class="error">{{form.email.errors}}</span>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
              <span class="error">{{form.password.errors}}</span>
            </div>
            <div class="forgot">Have an account? <a href="{% url "common:login" %}">Login here</a></div>
            <button type="submit" class="btn btn-danger">Register</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}