<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>healthz</title>
    <style type="text/css">
      body {
        margin: 40px auto;
        max-width: 650px;
        line-height: 1.6;
        font-size: 18px;
        color: #444;
        padding: 0 10px;
        overflow-y: scroll;
      }
      h1, h2, h3 {
        line-height: 1.2
      }
      a {
        text-decoration: none;
      }
      header {
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1 class='topbar'>healthz</h1>
    </header>
    <hr style='margin-bottom: 32px;'></hr>
  </body>
</html>
