{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- <a href="{% url "common:logout" %}"><button class="btn btn-primary" type="button">Logout</button></a> -->
<div class="row marl justify-content-center">
  <div class="col-md-9">
    <!-- count_blocks_row starts here -->
    <div class="row count_blocks_row">
      <div class="col-md-3">
        <div class="item">
          <div class="title">Accounts</div>
          <div class="count">100</div>
          <div class="more"><a href="#">Go Live</a></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="item">
          <div class="title">Contacts</div>
          <div class="count">3520</div>
          <div class="more "><a href="#">Go Live</a></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="item">
          <div class="title">Leads</div>
          <div class="count">47</div>
          <div class="more "><a href="#">Go Live</a></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="item">
          <div class="title">Opportunities</div>
          <div class="count">80</div>
          <div class="more "><a href="#">Go Live</a></div>
        </div>
      </div>
    </div>
    <!-- count_blocks_row ends here -->
    <div class="open_sections row">
      <div class="col-md-6 table_container_row">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <span >Open Accounts</span>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th width="45%">Name</th>
                    <th width="50%">Tags</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/contacts/1/view/">santharao</a></td>
                    <td style="display: block;">
                      <span class="text-left" id="list_tag">design</span>
                      <span class="text-left" id="list_tag">device</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="/contacts/1/view/">santharao</a></td>
                    <td style="display: block;">
                      <span class="text-left" id="list_tag">design</span>
                      <span class="text-left" id="list_tag">device</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="/contacts/1/view/">santharao</a></td>
                    <td style="display: block;">
                      <span class="text-left" id="list_tag">design</span>
                      <span class="text-left" id="list_tag">device</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="/contacts/1/view/">santharao</a></td>
                    <td style="display: block;">
                      <span class="text-left" id="list_tag">design</span>
                      <span class="text-left" id="list_tag">device</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="/contacts/1/view/">santharao</a></td>
                    <td style="display: block;">
                      <span class="text-left" id="list_tag">design</span>
                      <span class="text-left" id="list_tag">device</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="/contacts/1/view/">santharao</a></td>
                    <td style="display: block;">
                      <span class="text-left" id="list_tag">design</span>
                      <span class="text-left" id="list_tag">device</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 table_container_row">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <span >Open Opportunities</span>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th width="45%">Name</th>
                    <th width="50%">Tags</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/contacts/1/view/">Opportunity1</a></td>
                    <td style="display: block;">
                      <span class="text-left" id="list_tag">test</span>
                      <span class="text-left" id="list_tag">test2</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="/contacts/1/view/">Opportunity2</a></td>
                    <td style="display: block;">
                      <span class="text-left" id="list_tag">test2</span>
                      <span class="text-left" id="list_tag">device</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="/contacts/1/view/">Opportunity5</a></td>
                    <td style="display: block;">
                      <span class="text-left" id="list_tag">tst3</span>
                      <span class="text-left" id="list_tag">device</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="/contacts/1/view/">Opportunity3</a></td>
                    <td style="display: block;">
                      <span class="text-left" id="list_tag">bug</span>
                      <span class="text-left" id="list_tag">bugs</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="/contacts/1/view/">Opportunity5</a></td>
                    <td style="display: block;">
                      <span class="text-left" id="list_tag">edit</span>
                      <span class="text-left" id="list_tag">delete</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="/contacts/1/view/">Opportunity5</a></td>
                    <td style="display: block;">
                      <span class="text-left" id="list_tag">webdesign</span>
                      <span class="text-left" id="list_tag">testing</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}