{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Django CRM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav mr-auto">
       {% if request.user.is_staff %}
        <li class="nav-item"><a class="nav-link" href="{% url 'common:users_list' %}">Users</a></li>
       {% endif %}
        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:list' %}">Accounts</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contacts:list' %}">Contacts</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'leads:list' %}">Leads</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'opportunities:list' %}">Opportunities</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'cases:list' %}">Cases</a></li>
      </ul>

    <ul class="navbar-nav navbar-right my-2 my-lg-0">
     
      <li class="nav-item dropdown">
         {% with request.profile as profile %}
          <a href="#" class="dropdown-toggle abcd nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false" >
          {% if not profile.profile_pic %}
          <img src="{% static 'images/user.png' %}" alt="Micro profile pic">
          {% else %}
          <img src="{{profile.profile_pic.url}}" alt="Micro profile pic">
          {% endif %}
          <b class="caret"></b></a>
          {% endwith %}
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/change-password/">Change Password</a>
          <a class="dropdown-item" href="{% url 'common:profile' %}">profile</a>
          <a class="dropdown-item" href="{% url 'common:logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
      </li>
      
    </ul>
   
  </div>
</nav>

    
