{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <!-- CASE VIEW STARTS -->
    <div class="main_container" id="maincontainer">
      <div class="overview_form_block row marl">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading view-pad">
              <h5>
                OVERVIEW
                <span class="pull-right" style="margin-top: -10px">
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'cases:edit_case' case_record.id %}" id="edit_case">Edit</a></li>
                      <li class="delete_case" ><a href="{% url 'cases:remove_case' case_record.id %}" id="remove_case">REMOVE</a></li>
                    </ul>
                  </div>
                </span>
              </h5>
            </div>
            <div class="panel-content" id="datashow">
              <div class="row marl">
                <div class="col-md-6">
                  <div class="filter_col col-md-12" id="iname">
                    <div class="form-group" >
                      <label class="case_field_label" for="id_name" data-name="name">Name</label>
                      <div class="case_field" id="case_name" data-name="name">{{ case_record.name }}</div>
                    </div>
                  </div>
                  <div class="filter_col col-md-12">
                    {% if case_record.account %}
                    <div class="form-group">
                      <label class="case_field_label" for="id_account" data-name="name">Account</label>
                      <div class="case_field" id ="case_account" data-name="name">{{ case_record.account }}</div>
                    </div>
                    {% endif %}
                  </div>
                  <div class="filter_col col-md-12">
                    {% if case_record.contacts.all %}
                    <div class="form-group">
                      <label class="case_field_label" for="id_contact" data-name="name">Contact</label>
                      <div class="case_field" id="case_contact" data-name="name">
                        {% for contact in case_record.contacts.all %}
                          <li>{{ contact }}</li>
                        {% endfor %}
                      </div>
                    </div>
                    {% endif %}
                  </div>
                  <div class="filter_col col-md-12">
                    {% if case_record.closed_on %}
                    <div class="form-group">
                      <label class="case_field_label" for="id_closedon" data-name="name">Close Date</label>
                      <div class="case_field" id="case_closedon" data-name="name">{{ case_record.closed_on|date }}</div>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="filter_col col-md-12">
                    <div class="form-group">
                      <label class="case_field_label" for="id_status" data-name="name">Status</label>
                      <div class="case_field" id="case_status" data-name="name">{{ case_record.status }}</div>
                    </div>
                  </div>
                  <div class="filter_col col-md-12">
                    <div class="form-group">
                      <label class="case_field_label" for="id_priority" data-name="name">Priority</label>
                      <div class="case_field" id="case_priority" data-name="name">{{ case_record.priority }}</div>
                    </div>
                  </div>
                  <div class="filter_col col-md-12">
                    {% if case_record.case_type %}
                    <div class="form-group">
                      <label class="case_field_label" for="id_case_type" data-name="name">Type of Case</label>
                      <div class="case_field" id="case_case_type" data-name="name">{{ case_record.case_type }}</div>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="filter_col col-md-12">
                    {% if case_record.description %}
                    <div class="form-group">
                      <label class="case_field_label" for="id_description" data-name="name" >Description</label>
                      <div class="case_field" id="case_description" data-name="name">{{ case_record.description }}</div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <!-- Comments Section starts-->
            <div class="panel-heading view-pad">
              <h5>COMMENTS</h5>
            </div>
            <div class="panel-content" id="datashow">
              <div class="row marl">
                <div class="col-md-12">
                  <form id="comment_form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-group">
                      <textarea class="form-control" textarea cols="40" rows="3" id="id_comments" name="comment" placeholder="Submit Your Comments Here"></textarea><span><i id="CommentError" style="display:none; color:red"></i></span>
                      </br>
                      <button class="btn btn-default save" style="text-align: center;" id="comment_submit" type="submit">Submit</button>
                    </div>
                    <input type="hidden" value="{{case_record.id}}" name="caseid">
                  </form>
                  <ul class="list-group" id="comments_div">
                    {% for comment in comments %}
                    <li class="list-group-item list-row" id="comment{{comment.id}}">
                      <div class="pull-right right-container">
                        <div class="list-row-buttons btn-group pull-right">
                          <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" type="button"><span class="caret"></span></button>
                          <ul class="dropdown-menu pull-right">
                            <li>
                              <a class="action" onclick="edit_comment({{comment.id}})">Edit</a>
                            </li>
                            <li>
                              <a class="action" onclick="remove_comment({{comment.id}})">Remove</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="stream-head-container">{{ comment.commented_by }} Commented</div>
                      <div class="stream-post-container" id="comment_name{{comment.id}}"><pre>{{ comment.comment }}</pre></div>
                      <div class="stream-date-container">{{ comment.commented_on }}</div>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="modal fade" id="Comments_Cases_Modal" role="dialog" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Update Your Comment</h4>
                    </div>
                    <form id="comment_edit_form" method="POST" >{% csrf_token %}
                      <div class="modal-body">
                        <div class="form-group">
                          <textarea class="form-control" textarea cols="40" rows="3" id="id_editcomment" name="comment" placeholder="Submit Your Comments"></textarea>
                          <input type="hidden" value="{{ case.id }}" name="caseid">
                          <input type="hidden" value="" name="commentid" id="commentid">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-default save" id="comment_edit" type="submit">Update</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Comments Section Ends-->
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading view-pad">
              <h5>Label</h5>
            </div>
            <div class="panel-content" id="datashow">
              <div class="row marl">
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="case_field_label" for="id_assigned_user" data-name="name">Assigned User(s)</label>
                    <div class="case_field" id="case_assigned_users" data-name="name">
                      {% if not case_record.assigned_to %}
                        Not Assigned Yet
                      {% else %}
                        {% for user in case_record.assigned_to.all %}
                          <li>{{ user }}</li>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="case_field_label" for="id_team" data-name="name">Assigned Team(s)</label>
                    <div class="case_field" id="case_team" data-name="name">
                      {% if not case_record.teams %}
                        Not Assigned Yet
                      {% else %}
                        {% for team in case_record.teams.all %}
                          <li>{{ team }}</li>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="case_field_label" for="id_created_on" data-name="name">Created On</label>
                    <div class="case_field" id="case_created_on" data-name="name">
                      {{ case_record.created_on }}
                    </div>
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="case_field_label" for="id_created_by" data-name="name">Created by</label>
                    <div class="case_field" id="case_created_by" data-name="name">
                      {{ case_record.created_by }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Activities block Starts here-->
          <div class="panel panel-default panel-activities" data-name="activities">
            <div class="panel-heading">
              <h4 class="panel-title">
                <span class="action" data-panel="activities" data-action="refresh" title="Click to refresh" style="cursor: pointer;"> Activities </span>
              </h4>
            </div>
            <div class="panel-body" data-name="activities">
              <div class="btn-group button-container nav nav-tabs">
                <a data-toggle="tab" href="#show_meets"><button class="btn btn-default all scope-switcher" data-scope="Meeting">Meetings</button></a>
                <a data-toggle="tab" href="#tasks_list"><button class="btn btn-default all scope-switcher" data-scope="Task">Tasks</button></a>
                <a data-toggle="tab" href="#calls_list"><button class="btn btn-default all scope-switcher" data-scope="Call">Calls</button></a>
              </div>
              <div class="list-container">
                <div class="list list-expanded">
                  <div class="tab-content">
                    <div id="show_meets" class="tab-pane fade in active">
                      <ul class="list-group">
                        {% ifequal case.get_meetings|length 0 %}
                        <li class="list-group-item list-row" > No Meetings </li>
                        {% else %}
                        {% for meet in case.get_meetings %}
                        <li class="list-group-item list-row" >
                          <div class="pull-right right cell" data-name="buttons">
                            <div class="list-row-buttons btn-group pull-right">
                              <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">
                              <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu pull-right" id="meetings_activity{{meet.id}}">
                                <li>
                                  <a class="action display_event"  href="">view</a>
                                </li>
                                <li>
                                  <a class="action remove_event"  href="">Remove</a>
                                </li>
                                <li>
                                  <a class="action status_set" data-action="setHeld" href="">Set Held</a>
                                </li>
                                <li>
                                  <a class="action status_set" data-action="setNotHeld" href="">Set Not Held</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="expanded-row">
                            <span class="cell" data-name="ico">
                            <span class="glyphicon glyphicon-briefcase text-muted action"  data-action="quickView" title="View" style="cursor: pointer"></span>
                            </span>
                            <span class="cell" data-name="name">
                            <a class="link" title="Discuss pricing" data-id="" href="/planner/meetings/list">{{meet.name}}</a>
                            </span>
                          </div>
                          <div class="expanded-row">
                            <span class="cell" data-name="dateStart">{{meet.start_date}}</span>
                          </div>
                        </li>
                        {% endfor %}
                        {% endifequal %}
                      </ul>
                    </div>
                    <!-- Tasks Tab Division starts-->
                    <div id="tasks_list" class="tab-pane fade">
                      <ul class="list-group">
                        {% ifequal case.get_tasks|length 0 %}
                        <li class="list-group-item list-row" > No Tasks </li>
                        {% else %}
                        {% for meet in case.get_tasks %}
                        <li class="list-group-item list-row" >
                          <div class="pull-right right cell" data-name="buttons">
                            <div class="list-row-buttons btn-group pull-right">
                              <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">
                              <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu pull-right" id="tasks_activity{{meet.id}}">
                                <li>
                                  <a class="action remove_event"  href="">Remove</a>
                                </li>
                                <li>
                                  <a class="action status_set" data-action="setHeld" href="">Set Held</a>
                                </li>
                                <li>
                                  <a class="action status_set" data-action="setNotHeld" href="">Set Not Held</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="expanded-row">
                            <span class="cell" data-name="ico">
                            <span class="glyphicon glyphicon-briefcase text-muted action"  data-action="quickView" title="View" style="cursor: pointer"></span>
                            </span>
                            <span class="cell" data-name="name">
                            <a class="link" title="Discuss pricing" data-id="" href="/planner/tasks/list">{{meet.name}}</a>
                            </span>
                          </div>
                          <div class="expanded-row">
                            <span class="cell" data-name="dateStart">{{meet.start_date}}</span>
                          </div>
                        </li>
                        {% endfor %}
                        {% endifequal %}
                      </ul>
                    </div>
                    <!-- Tasks Tab Division ends here-->
                    <!-- Calls Tab Division Starts here-->
                    <div id="calls_list" class="tab-pane fade">
                      <ul class="list-group">
                        {% ifequal case.get_calls|length 0 %}
                        <li class="list-group-item list-row" > No Calls </li>
                        {% else %}
                        {% for call in case.get_calls %}
                        <li class="list-group-item list-row" >
                          <div class="pull-right right cell" data-name="buttons">
                            <div class="list-row-buttons btn-group pull-right">
                              <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">
                              <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu pull-right" id="calls_activities{{call.id}}">
                                <li>
                                  <a class="action remove_event"  href="">Remove</a>
                                </li>
                                <li>
                                  <a class="action status_set" data-action="setHeld" href="">Set Held</a>
                                </li>
                                <li>
                                  <a class="action status_set" data-action="setNotHeld" href="">Set Not Held</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="expanded-row">
                            <span class="cell" data-name="ico">
                            <span class="glyphicon glyphicon-earphone text-muted action"  data-action="quickView" title="View" style="cursor: pointer"></span>
                            </span>
                            <span class="cell" data-name="name">
                            <a class="link" title="Discuss pricing" data-id="" href="/planner/calls/list">{{call.name}}</a>
                            </span>
                          </div>
                          <div class="expanded-row">
                            <!--<span class="cell" data-name="assignedUser">
                              <a href="#User/view/52eb7b4ba5500">Raghu</a>
                              </span>-->
                            <span class="cell" data-name="dateStart">{{call.start_date}}</span>
                          </div>
                        </li>
                        {% endfor %}
                        {% endifequal %}
                      </ul>
                    </div>
                  </div>
                  <!-- Calls Tab Division ends here-->
                </div>
                </ul>
                <div class="show-more hide">
                </div>
              </div>
            </div>
          </div>
          <!--Activities block ends here-->
          <!-- History block starts here-->
          <div class="panel panel-default panel-activities" data-name="activities">
            <div class="panel-heading">
              <h4 class="panel-title">
                <span class="action" data-panel="activities" data-action="refresh" title="Click to refresh" style="cursor: pointer;"> History </span>
              </h4>
            </div>
            <div class="panel-body" data-name="activities">
              <div class="btn-group button-container nav nav-tabs">
                <a data-toggle="tab" href="#show_meets_completed"><button class="btn btn-default all scope-switcher" data-scope="Meeting">Meetings</button></a>
                <a data-toggle="tab" href="#tasks_list_completed"><button class="btn btn-default all scope-switcher" data-scope="Task">Tasks</button></a>
                <a data-toggle="tab" href="#calls_list_completed"><button class="btn btn-default all scope-switcher" data-scope="Call">Calls</button></a>
              </div>
              <div class="list-container">
                <div class="list list-expanded">
                  <div class="tab-content">
                    <div id="show_meets_completed" class="tab-pane fade in active">
                      <ul class="list-group">
                        {% ifequal case.get_completed_meetings|length 0 %}
                        <li class="list-group-item list-row" > No Data </li>
                        {% else %}
                        {% for meet in case.get_completed_meetings %}
                        <li class="list-group-item list-row" >
                          <div class="pull-right right cell" data-name="buttons">
                            <div class="list-row-buttons btn-group pull-right">
                              <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">
                              <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu pull-right" id="meeting_history{{meet.id}}">
                                <li>
                                  <a class="action remove_event"  href="">Remove</a>
                                </li>
                                <li>
                                  <a class="action status_set" data-action="setHeld" href="">Set Held</a>
                                </li>
                                <li>
                                  <a class="action status_set" data-action="setNotHeld" href="">Set Not Held</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="expanded-row">
                            <span class="cell" data-name="ico">
                            <span class="glyphicon glyphicon-briefcase text-muted action"  data-action="quickView" title="View" style="cursor: pointer"></span>
                            </span>
                            <span class="cell" data-name="name">
                            <a class="link" title="Discuss pricing" data-id="" href="/planner/meetings/list">{{meet.name}} </a>| {{ meet.status }}
                            </span>
                          </div>
                          <div class="expanded-row">
                            <span class="cell" data-name="dateStart">{{meet.start_date}}</span>
                          </div>
                        </li>
                        {% endfor %}
                        {% endifequal %}
                      </ul>
                    </div>
                    <!-- Tasks Tab Division starts-->
                    <div id="tasks_list_completed" class="tab-pane fade">
                      <ul class="list-group">
                        {% ifequal case.get_completed_tasks|length 0 %}
                        <li class="list-group-item list-row" > No Tasks </li>
                        {% else %}
                        {% for meet in case.get_completed_tasks %}
                        <li class="list-group-item list-row" >
                          <div class="pull-right right cell" data-name="buttons">
                            <div class="list-row-buttons btn-group pull-right">
                              <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">
                              <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu pull-right" id="tasks_history{{meet.id}}">
                                <li>
                                  <a class="action remove_event"  href="">Remove</a>
                                </li>
                                <li>
                                  <a class="action status_set" data-action="setHeld" href="">Set Held</a>
                                </li>
                                <li>
                                  <a class="action status_set" data-action="setNotHeld" href="">Set Not Held</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="expanded-row">
                            <span class="cell" data-name="ico">
                            <span class="glyphicon glyphicon-briefcase text-muted action"  data-action="quickView" title="View" style="cursor: pointer"></span>
                            </span>
                            <span class="cell" data-name="name">
                            <a class="link" data-id="" href="/planner/tasks/list">{{meet.name}} </a>| {{meet.status }}
                            </span>
                          </div>
                          <div class="expanded-row">
                            <span class="cell" data-name="dateStart">{{meet.start_date}}</span>
                          </div>
                        </li>
                        {% endfor %}
                        {% endifequal %}
                      </ul>
                    </div>
                    <!-- Tasks Tab Division ends here-->
                    <!-- Calls Tab Division Starts here-->
                    <div id="calls_list_completed" class="tab-pane fade">
                      <ul class="list-group">
                        {% ifequal case.get_completed_calls|length 0 %}
                        <li class="list-group-item list-row" > No Calls </li>
                        {% else %}
                        {% for call in case.get_completed_calls %}
                        <li class="list-group-item list-row" >
                          <div class="pull-right right cell" data-name="buttons">
                            <div class="list-row-buttons btn-group pull-right">
                              <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">
                              <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu pull-right" id="calls_history{{call.id}}">
                                <li>
                                  <a class="action remove_event"  href="">Remove</a>
                                </li>
                                <li>
                                  <a class="action status_set" data-action="setHeld" href="">Set Held</a>
                                </li>
                                <li>
                                  <a class="action status_set" data-action="setNotHeld" href="">Set Not Held</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="expanded-row">
                            <span class="cell" data-name="ico">
                            <span class="glyphicon glyphicon-earphone text-muted action"  data-action="quickView" title="View" style="cursor: pointer"></span>
                            </span>
                            <span class="cell" data-name="name">
                            <a class="link" title="Discuss pricing" data-id="" href="/planner/calls/list">{{ call.name }}</a> | {{ call.status }}
                            </span>
                          </div>
                          <div class="expanded-row">
                            <!--<span class="cell" data-name="assignedUser">
                              <a href="#User/view/52eb7b4ba5500">Raghu</a>
                              </span>-->
                            <span class="cell" data-name="dateStart">{{ call.start_date }}</span>
                          </div>
                        </li>
                        {% endfor %}
                        {% endifequal %}
                      </ul>
                    </div>
                  </div>
                  <!-- Calls Tab Division ends here-->
                </div>
                </ul>
                <div class="show-more hide">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- CASE VIEW ENDS -->
  <!-- CREATE MEETING MODEL -->
    <div class="modal fade" id="meeting-dispaly-model" role="dialog" data-keyboard="false"
      data-backdrop="static">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="create-meeting-dialog-title" class="modal-title">Meeting</h4>
          </div>
          <div id="modelbody" class="modal-body">
            <div class="panel-body">
              <div class="row">
                <div class="cell col-sm-6 form-group inline-group" data-name="name">
                  <label class="control-label" data-name="name" style="display: inline">
                  Name *
                  </label>
                  <div class="field" data-name="name">
                    <input type="hidden" name="event_type" value="Meeting"/>
                    <input id="name" class="main-element form-control" type="text"
                      autocomplete="off"
                      name="name" required/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="cell col-sm-6 form-group" data-name="parent">
                  <div class="field" data-name="parent">
                    <label for="parent">Parent </label>
                    <div class="form-group" data-name="parent">
                      <div class="input-group">
                        <span class="input-group-btn">
                        <select class="form-control" id="parent_type" name="parent_type" style="width:150px">
                        </select>
                        </span>
                        <input type="text" placeholder="Select" autocomplete="off"
                          id="parent_name" value="" name="parent_name"
                          class="main-element form-control">
                        <span class="input-group-btn">
                        <button title="Select" tabindex="-1" type="button" class="btn btn-default" id="selectparent"><i
                          class="glyphicon glyphicon-arrow-up"></i></button>
                        <button tabindex="-1" type="button" class="btn btn-default" id="clearparent">
                        </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cell col-sm-6 form-group" data-name="status">
                  <label class="control-label" data-name="status"> Status</label>
                  <div class="field" data-name="status">
                    <select class="form-control main-element" id="status" name="status">
                    </select>
                    <i id="status_error"></i>
                  </div>
                </div>
                <div class="col-sm-6"></div>
              </div>
              <div class="row">
                <div class="cell col-sm-6 form-group" data-name="dateStart">
                  <label class="control-label" data-name="dateEnd"> Date Start * </label>
                  <div class="form-group">
                    <div class='input-group date' id='startdatepicker'>
                      <input type='text' name="start_date" class="form-control"
                        id="start_date"
                        required/>
                      <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="cell col-sm-6 form-group" data-name="dateEnd">
                  <label class="control-label" data-name="dateEnd"> Date End *</label>
                  <div class="form-group">
                    <div class='input-group date' id='enddatepicker'>
                      <input type='text' id="close_date" name="close_date"
                        class="form-control"/>
                      <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="cell col-sm-6 form-group" data-name="duration">
                <label class="control-label" data-name="duration"> Duration </label>
                <div class="field" data-name="duration">
                  <select class="form-control main-element" id="duration" name="duration">
                  </select>
                </div>
              </div>
              <div class="cell col-sm-6 form-group" data-name="reminders">
                <label class="control-label" data-name="reminders"> Reminders </label>
                <a type="button" id="addreminder"
                  style="padding-top: 5px;border: none">
                <span class="glyphicon glyphicon-plus"></span>
                </a>
                <div id="reminders" class="field" data-name="reminders">
                  <div class="reminders-container">
                    <div class="input-group reminder">
                      <input type="hidden" id="pushreminder"/>
                      <div id="reminder1">
                        <div class="reminderslist" style="display: inline-flex;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <i id="reminder_error"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="cell col-sm-12 form-group" data-name="description">
                <label class="control-label" data-name="description"> Description </label>
                <div class="field" data-name="description">
                  <textarea id="description" class="main-element form-control" rows="4" name="description"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" type="button" class="btn btn-default">
            Close
            </button>
          </div>
        </div>
      </div>
    </div>
  <!--END CREATE MEETING MODEL-->
{% endblock %}
{% block js_block %}
  <script src="{% static 'js/cases/view_case.js' %}"></script>
  <script src="{% static 'js/cases/create_case.js' %}"></script>
{% endblock js_block %}
