{% extends 'marketing/base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block content %}
{{ block.super }}


<div class="main_container ml-5 mr-5">
  <div class="row marl">
    <div class="filter_row list_filter_row row marl col-md-12 mb-2">
      <div class="">
        <div class="card">
          <div class="card-body">
            <form id="leads_filter" action="" method="POST">
              <div class="card-body ">
                <div class="card-title">Filters</div>
                <div class="row marl">
                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Name</label>
                      <input type="text" class="form-control" placeholder="Contact Name" name="contact_name"
                        value="{{request.POST.contact_name}}">
                    </div>
                  </div>
                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email</label>
                      <input type="text" class="form-control" placeholder="Contact Email" name="contact_email"
                        value="{{request.POST.contact_email}}">
                    </div>
                  </div>
                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Created By</label>
                      <select name="created_by" id="" class="assigned_users_ form-control">
                        <option value="">
                          ------------------</option>
                        {% for user in users %}
                        <option value="{{user.id}}" {% if user.id|slugify == request.POST.created_by %} selected=""
                          {% endif %}>
                          {{user.email}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <input type="hidden" name="tab_status" id="tab_status">
                  <div class="filter_col col-2">
                    <div class="form-group buttons_row">
                      <button class="btn btn-primary save" type="submit">Search</button>
                      <a href="" class="btn btn-default clear" onclick="window.location.reload">Clear</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-2">
      <div class="heading text-right">
        <span class="float-left">All Contacts - {{contacts|length }}</span>
        <span class="filter_toggle">
          <a href="#" class="primary_btn"><i class="fas fa-filter"></i></a>
        </span>
        <a href="{% url 'marketing:contact_list_new' %}" class="secondary_btn">Add New Contact List</a>
      </div>
    </div>
    <div class="col-md-12">
      <div class="table_container_row no_mar_top">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                {% if contacts %}
                <thead>
                  <tr>
                    <th width="5%">ID</th>
                    <th width="10%">Name</th>
                    <th width="10%">Email</th>
                    <!-- <th width="10%" class="text-center">Active</th> -->
                    <th width="15%" class="text-center">UnSubscribed</th>
                    <th width="12%" class="text-center">Bounced</th>
                    <th width="13%">Actions</th>
                  </tr>
                </thead>
                {% endif %}
                <tbody>
                  {% if per_page %}
                  {% paginate per_page contacts %}
                  {% else%}
                  {% paginate 10 contacts %}
                  {% endif %}
                  {% for contact in contacts %}
                  <tr style="text-align:center;">
                    <td scope="row">{{forloop.counter}}</td>
                    <td> <a href="{% url 'marketing:contact_detail' contact.id %}">{{contact.name}}</a> </td>
                    <td>{{contact.email}}</td>
                    <!-- <td class="text-center">{{contact.is_active}}</td> -->
                    <td class="text-center">
                      <span class="badge box dark_grey">{{contact.is_unsubscribed}}</span>
                    </td>
                    <td class="text-center">
                      <span class="badge box sky_blue">{{contact.is_bounced}}</span>
                    </td>
                    <td class="actions">
                      <a href="{% url 'marketing:edit_contact' contact.id %}" data-toggle="tooltip"
                        data-placement="bottom" title="" class="green box"><i class="far fa-edit"></i></a>
                      <!-- <a href="#" class="sky_blue box"><i class="far fa-copy"></i></a>
                      <a href="#" class="purple box"><i class="fas fa-upload"></i></a> -->
                      <a href="{% url 'marketing:delete_contact' contact.id %}" class="red box remove_account"><i
                          class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                  <!--not required-->
                  <!-- <tr style="text-align:center;">
                    <td scope="row">1</td>
                    <td>Micropyramid</td>
                    <td class="text-center">23</td>
                    <td class="text-center">
                      <span class="badge box dark_grey">15%</span>
                    </td>
                    <td class="text-center">
                      <span class="badge box sky_blue">20%</span>
                    </td>
                    <td class="actions">
                      <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title=""
                        class="green box"><i class="far fa-edit"></i></a>
                      <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
                      <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
                      <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  <tr style="text-align:center;">
                    <td scope="row">2</td>
                    <td>Peeljobs</td>
                    <td class="text-center">23</td>
                    <td class="text-center">
                      <span class="badge box dark_grey">70%</span>
                    </td>
                    <td class="text-center">
                      <span class="badge box sky_blue">20%</span>
                    </td>
                    <td class="actions">
                      <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title=""
                        class="green box"><i class="far fa-edit"></i></a>
                      <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
                      <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
                      <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  <tr style="text-align:center;">
                    <td scope="row">3</td>
                    <td>Study Signal</td>
                    <td class="text-center">23</td>
                    <td class="text-center">
                      <span class="badge box dark_grey">70%</span>
                    </td>
                    <td class="text-center">
                      <span class="badge box sky_blue">20%</span>
                    </td>
                    <td class="actions">
                      <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title=""
                        class="green box"><i class="far fa-edit"></i></a>
                      <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
                      <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
                      <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  <tr style="text-align:center;">
                    <td scope="row">4</td>
                    <td>Django Crm</td>
                    <td class="text-center">23</td>
                    <td class="text-center">
                      <span class="badge box dark_grey">70%</span>
                    </td>
                    <td class="text-center">
                      <span class="badge box sky_blue">20%</span>
                    </td>
                    <td class="actions">
                      <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title=""
                        class="green box"><i class="far fa-edit"></i></a>
                      <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
                      <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
                      <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  <tr style="text-align:center;">
                    <td scope="row">5</td>
                    <td>Refactored
                    </td>
                    <td class="text-center">23</td>
                    <td class="text-center">
                      <span class="badge box dark_grey">70%</span>
                    </td>
                    <td class="text-center">
                      <span class="badge box sky_blue">20%</span>
                    </td>
                    <td class="actions">
                      <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title=""
                        class="green box"><i class="far fa-edit"></i></a>
                      <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
                      <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
                      <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  <tr style="text-align:center;">
                    <td scope="row">6</td>
                    <td>Refactored</td>
                    <td class="text-center">23</td>
                    <td class="text-center">
                      <span class="badge box dark_grey">70%</span>
                    </td>
                    <td class="text-center">
                      <span class="badge box sky_blue">20%</span>
                    </td>
                    <td class="actions">
                      <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title=""
                        class="green box"><i class="far fa-edit"></i></a>
                      <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
                      <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
                      <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  <tr style="text-align:center;">
                    <td scope="row">7</td>
                    <td>Artbnkr</td>
                    <td class="text-center">23</td>
                    <td class="text-center">
                      <span class="badge box dark_grey">70%</span>
                    </td>
                    <td class="text-center">
                      <span class="badge box sky_blue">20%</span>
                    </td>
                    <td class="actions">
                      <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title=""
                        class="green box"><i class="far fa-edit"></i></a>
                      <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
                      <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
                      <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  <tr style="text-align:center;">
                    <td scope="row">8</td>
                    <td>Now Finance</td>
                    <td class="text-center">125</td>
                    <td class="text-center">
                      <span class="badge box dark_grey">45%</span>
                    </td>
                    <td class="text-center">
                      <span class="badge box sky_blue">65%</span>
                    </td>
                    <td class="actions">
                      <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title=""
                        class="green box"><i class="far fa-edit"></i></a>
                      <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
                      <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
                      <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  <tr style="text-align:center;">
                    <td scope="row">9</td>
                    <td>Goshoppi</td>
                    <td class="text-center">154</td>
                    <td class="text-center">
                      <span class="badge box dark_grey">5%</span>
                    </td>
                    <td class="text-center">
                      <span class="badge box sky_blue">54%</span>
                    </td>
                    <td class="actions">
                      <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title=""
                        class="green box"><i class="far fa-edit"></i></a>
                      <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
                      <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
                      <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  <tr style="text-align:center;">
                    <td scope="row">10</td>
                    <td>Techond</td>
                    <td class="text-center">23</td>
                    <td class="text-center">
                      <span class="badge box dark_grey">15%</span>
                    </td>
                    <td class="text-center">
                      <span class="badge box sky_blue">20%</span>
                    </td>
                    <td class="actions">
                      <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title=""
                        class="green box"><i class="far fa-edit"></i></a>
                      <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
                      <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
                      <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
                    </td>
                  </tr> -->
                  <!-- not reqiuired-->
                </tbody>
              </table>
            </div>
            {% ifequal contacts|length 0 %}
            <h6 class="text-center">No Contacts Found</h6>
            {% endifequal %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="marl row text-center mt-5">
    {% show_pages %}
  </div>
</div>
{% endblock %}
{% block js_block %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    $(".filter_toggle").click(function () {
      $(".list_filter_row").toggle();
    });

    $("a[rel='page']").click(function (e) {
      e.preventDefault();
      $('#leads_filter').attr("action", $(this).attr("href"));
      $('#leads_filter').submit();
    });

    $(".remove_account").click(function (e) {
      e.preventDefault()
      url = $(this).attr('href')
      if (!confirm('Are you sure you want to delete?'))
        return;
      window.location = $(this).attr('href')
    })
  })
</script>
{% endblock js_block %}