{% extends 'marketing/base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block content %}
{{ block.super }}
<div class="marketing_pages">
	<div class="row marl">
	  <div class="col-md-12">
			<div class="heading text-right">
        <span class="float-left">All Contacts - 22</span>
        <a href="/m/cl/list/cnew/" class="secondary_btn">Add New Contact List</a>
      </div>
	  </div>
	  <div class="col-md-12">
	    <div class="table_container_row no_mar_top">
	      <div class="card">
	        <div class="card-body">
	          <div class="table-responsive">
	            <table class="table">
	              <thead>
	                <tr>
	                  <th width="5%">ID</th>
	                  <th width="30%">Name</th>
	                  <th width="10%" class="text-center">Active</th>
	                  <th width="15%" class="text-center">UnSubscribed</th>
	                  <th width="12%" class="text-center">Bounced</th>
	                  <th width="13%">Actions</th>
	                </tr>
	              </thead>
	              <tbody>
	                <tr style="text-align:center;">
	                  <td scope="row">1</td>
	                  <td>Micropyramid</td>
	                  <td class="text-center">23</td>
	                  <td class="text-center">
	                    <span class="badge box dark_grey">15%</span>
	                  </td>
	                  <td class="text-center">
	                    <span class="badge box sky_blue">20%</span>
	                  </td>
	                  <td class="actions">
	                    <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title="" class="green box"><i class="far fa-edit"></i></a>
	                    <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
	                    <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
	                    <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
	                  </td>
	                </tr>
	                <tr style="text-align:center;">
	                  <td scope="row">2</td>
	                  <td>Peeljobs</td>
	                  <td class="text-center">23</td>
	                  <td class="text-center">
	                    <span class="badge box dark_grey">70%</span>
	                  </td>
	                  <td class="text-center">
	                    <span class="badge box sky_blue">20%</span>
	                  </td>
	                  <td class="actions">
	                    <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title="" class="green box"><i class="far fa-edit"></i></a>
	                    <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
	                    <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
	                    <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
	                  </td>
	                </tr>
	                <tr style="text-align:center;">
	                  <td scope="row">3</td>
	                  <td>Study Signal</td>
	                  <td class="text-center">23</td>
	                  <td class="text-center">
	                    <span class="badge box dark_grey">70%</span>
	                  </td>
	                  <td class="text-center">
	                    <span class="badge box sky_blue">20%</span>
	                  </td>
	                  <td class="actions">
	                    <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title="" class="green box"><i class="far fa-edit"></i></a>
	                    <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
	                    <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
	                    <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
	                  </td>
	                </tr>
	                <tr style="text-align:center;">
	                  <td scope="row">4</td>
	                  <td>Django Crm</td>
	                  <td class="text-center">23</td>
	                  <td class="text-center">
	                    <span class="badge box dark_grey">70%</span>
	                  </td>
	                  <td class="text-center">
	                    <span class="badge box sky_blue">20%</span>
	                  </td>
	                  <td class="actions">
	                    <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title="" class="green box"><i class="far fa-edit"></i></a>
	                    <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
	                    <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
	                    <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
	                  </td>
	                </tr>
	                <tr style="text-align:center;">
	                  <td scope="row">5</td>
	                  <td>Refactored
	                  </td>
	                  <td class="text-center">23</td>
	                  <td class="text-center">
	                    <span class="badge box dark_grey">70%</span>
	                  </td>
	                  <td class="text-center">
	                    <span class="badge box sky_blue">20%</span>
	                  </td>
	                  <td class="actions">
	                    <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title="" class="green box"><i class="far fa-edit"></i></a>
	                    <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
	                    <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
	                    <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
	                  </td>
	                </tr>
	                <tr style="text-align:center;">
	                  <td scope="row">6</td>
	                  <td>Refactored</td>
	                  <td class="text-center">23</td>
	                  <td class="text-center">
	                    <span class="badge box dark_grey">70%</span>
	                  </td>
	                  <td class="text-center">
	                    <span class="badge box sky_blue">20%</span>
	                  </td>
	                  <td class="actions">
	                    <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title="" class="green box"><i class="far fa-edit"></i></a>
	                    <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
	                    <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
	                    <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
	                  </td>
	                </tr>
	                <tr style="text-align:center;">
	                  <td scope="row">7</td>
	                  <td>Artbnkr</td>
	                  <td class="text-center">23</td>
	                  <td class="text-center">
	                    <span class="badge box dark_grey">70%</span>
	                  </td>
	                  <td class="text-center">
	                    <span class="badge box sky_blue">20%</span>
	                  </td>
	                  <td class="actions">
	                    <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title="" class="green box"><i class="far fa-edit"></i></a>
	                    <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
	                    <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
	                    <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
	                  </td>
	                </tr>
	                <tr style="text-align:center;">
	                  <td scope="row">8</td>
	                  <td>Now Finance</td>
	                  <td class="text-center">125</td>
	                  <td class="text-center">
	                    <span class="badge box dark_grey">45%</span>
	                  </td>
	                  <td class="text-center">
	                    <span class="badge box sky_blue">65%</span>
	                  </td>
	                  <td class="actions">
	                    <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title="" class="green box"><i class="far fa-edit"></i></a>
	                    <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
	                    <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
	                    <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
	                  </td>
	                </tr>
	                <tr style="text-align:center;">
	                  <td scope="row">9</td>
	                  <td>Goshoppi</td>
	                  <td class="text-center">154</td>
	                  <td class="text-center">
	                    <span class="badge box dark_grey">5%</span>
	                  </td>
	                  <td class="text-center">
	                    <span class="badge box sky_blue">54%</span>
	                  </td>
	                  <td class="actions">
	                    <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title="" class="green box"><i class="far fa-edit"></i></a>
	                    <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
	                    <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
	                    <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
	                  </td>
	                </tr>
	                <tr style="text-align:center;">
	                  <td scope="row">10</td>
	                  <td>Techond</td>
	                  <td class="text-center">23</td>
	                  <td class="text-center">
	                    <span class="badge box dark_grey">15%</span>
	                  </td>
	                  <td class="text-center">
	                    <span class="badge box sky_blue">20%</span>
	                  </td>
	                  <td class="actions">
	                    <a href="/contacts/1/edit/" data-toggle="tooltip" data-placement="bottom" title="" class="green box"><i class="far fa-edit"></i></a>
	                    <a href="/contacts/1/edit/" class="sky_blue box"><i class="far fa-copy"></i></a>
	                    <a href="/contacts/1/edit/" class="purple box"><i class="fas fa-upload"></i></a>
	                    <a href="/contacts/1/delete/" class="red box remove_account"><i class="far fa-trash-alt"></i></a>
	                  </td>
	                </tr>
	               
	              </tbody>
	            </table>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>  
	</div>
</div>
{% endblock %}
{% block js_block %}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock js_block %}