{% extends 'root_email_template_new.html' %}
{% block content %}
{% block heading %}
Set a New Password
{% endblock heading %}

{% block content_body %}
Click the below link to Set a New Password to login and enjoy the features of Bottle CRM.
{% endblock content_body %}

{% block button_link %}
<p style="font-size: 2em;">
    {{complete_url}}
</p>
{% endblock button_link %}

{% block extra_content %}
<p style="font-size: 1.5em;">
    This link will be valid for 3 days.
    Please ignore this email, if you did not request to set New Password.
</p>
{% endblock extra_content %}
{% endblock %}