<table class="table for-pagination-leads">
  <thead>
    <tr>
      <td class="cell">
      </td>
      <th width="50%">
        <a href='#'>
        Name
        </a>
        <span class="caret"></span>
      </th>
      <th>
        <a href="#">
        Email
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    {% ifequal leads|length  0 %}
    <tr>
      <td class="cell">
        NO LEADS FOUND!!
      </td>
    </tr>
    {% endifequal %}
    {% for lead in leads %}
    <tr>
      <td class="cell">
        <input type="checkbox" class="checklead" value="{{ lead.id }}"/>
      </td>
      <td class="cell">
        <a class="cell leadname" id="{{ lead.id }}">{{ lead.first_name }}</a>
      </td>
      <td class="cell leademail">
        {{ lead.email }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination_row text-center row marl">
  <ul class="pagination">
    <li>
      {% if leads.has_previous %}
      <a class="paginate-me-leads" href="?page={{ leads.previous_page_number }}">Previous</a>
      {% endif %}
    </li>
    <li>
      {% for page in leads.paginator.page_range %}
    <li class="{% if leads.number == page %}active{% endif %}"><a class="paginate-me-leads"
      href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endfor %}
    </li>
    <li>
      {% if leads.has_next %}
      <a class="paginate-me-leads" href="?page={{ leads.next_page_number }}">Next</a>
      {% endif %}
    </li>
  </ul>
</div>
<script src="{% static 'js/setstatus.js' %}"></script>