{% extends 'base.html' %}
{% load staticfiles %}
{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'contacts:list' %}">Contacts</a></li>
    <li class="active">Create</li>
  </ol>
{% endblock %}
{% block content %}
  <form id="add_form" method="POST" action='' novalidate>{%csrf_token%}
    <div class="assigned_teams row marl">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Assigned Users & Teams
          </div>
          <div class="panel-content">
            <div class="filter_col col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Assigned Users</label>
                {{ contact_form.assigned_to }}
                {{ contact_form.assigned_to.errors }}
              </div>
            </div>
            <div class="filter_col col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Teams</label>
                {{ contact_form.teams }}
                {{ contact_form.teams.errors }}
              </div>
            </div>
            <br clear="all">
          </div>
        </div>
      </div>
      <br clear="all">
    </div>
    <div class="overview_form_block row marl">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Overview
          </div>
          <div class="panel-content">
            <div class="row marl">
              <div class="col-md-6">
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="required">Name</label>
                    <div class="row">
                      <div class="filter_col col-md-6">
                        {{ contact_form.first_name }}
                        {{ contact_form.first_name.errors }}
                      </div>
                      <div class="filter_col col-md-6">
                        {{ contact_form.last_name }}
                        {{ contact_form.last_name.errors }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Account</label>
                    {{ contact_form.account }}
                    {{ contact_form.account.errors }}
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group ">
                    <label for="exampleInputEmail1" class="required" >Phone</label>
                    {{ contact_form.phone }}
                    {{ contact_form.phone.errors }}
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group ">
                    <label for="exampleInputEmail1" class="required" >Email Address</label>
                    {{ contact_form.email }}
                    {{ contact_form.email.errors }}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Address</label>
                    {{ address_form.address_line }}
                    {{ address_form.address_line.errors }}
                  </div>
                    {{ address_form.street }}
                    {{ address_form.street.errors }}
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-md-4">
                      {{ address_form.city }}
                      {{ address_form.city.errors }}
                    </div>
                    <div class="col-md-4">
                      {{ address_form.state }}
                      {{ address_form.state.errors }}
                    </div>
                    <div class="col-md-4">
                      {{ address_form.postcode }}
                      {{ address_form.postcode.errors }}
                    </div>
                    <div class="col-md-12" style="margin-top: 10px;">
                      {{ address_form.country }}
                      {{ address_form.country.errors }}
                    </div>
                  </div>
                </div>
                <br clear="all">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Description</label>
                    {{ contact_form.description }}
                    {{ contact_form.description.errors }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" id="save_new_form" name="savenewform">
    </div>
    <div class="row marl buttons_row text-center">
      <button  class="btn btn-default save" type="submit">Save</button>
      {% if not contact_obj %}
        <button class="btn btn-success save savenew" type="submit">Save & New</button>
      {% endif %}
      <a href="{% url 'contacts:list' %}" class="btn btn-default" id="create_contact_cancel">Cancel</a>
    </div>
  </form>
{% endblock %}
{% block js_block %}
  <script type="text/javascript">
    $(".savenew").on('click', function(e){
      e.preventDefault()
      $("#save_new_form").val('true')
      $('#add_form').submit()
    });
  </script>
{% endblock js_block %}
